'	/*公共部分*/
 ul>li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.green{
	color: #00740E !important;
}
.mui-bar .mui-icon{
	padding: 0;
}
.mui-bar .mui-title {
	right: 100px;
	left: 100px;
	display: inline-block;
	overflow: hidden;
	width: auto;
	margin: 0;
	text-overflow: ellipsis;
}
.white {
	color: #fff !important;
}
li {
	list-style: none;
}
.pwd_btn {
	margin-top: 40px;
	background: #CCC;
}
.htx_btn {
	margin-top: 23px;
}
.com_btn {
	top: 23px!important;
	height: 44px!important;
	font-family: '苹黑';
}
.ac_active {
	background: white!important;
	color: #0098E6 !important;
	border: 1px solid #0098E6;
}
.unvisit {
	display: none;
}

.red {
	color: red;
}

.blue {
	color: #0098E6;
}
.clear {
	clear: both;
	color: #FFF;
	margin: 5px;
	padding: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ".";
	clear: both;
	height: 0;
}

ul {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	height: 650px;
}

strong {
	font-weight: bold;
}

.mui-btn {
	background: #0098E6;
	height: 44px;
	font-size: 15px;
}

.pwd_tab {
	width: 100%;
	height: 90px;
	background: white;
}

.setimg,
.set_img,
.set_imgs {
	width: 20px;
	margin-top: 10px;
}

.lock_img {
	position: absolute;
	width: 20px;
	height: 24px;
	top: 30px;
	left: 25px;
}

.line_img {
	position: absolute;
	width: 1px;
	left: 55px;
	top: 28px
}

.pwd_cell {
	border: 1px solid #ccc!important;
	width: 95%;
	padding-left: 55px!important;
	height: 50px!important;
	margin-top: 18px;
	margin-left: 10px!important;
}

.pwd_cell::-webkit-input-placeholder {
	padding-left: 50px;
}

.pwd_tab {
	position: relative;
}


/*登录*/

.mui-input {
	width: 100%;
	border-bottom: 1px solid #E9E9E9;
	margin-bottom: 0!important;
	height: 54px!important;
	padding: 5px!important;
	color: #333;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
}

.ul {
	padding-left: 10px;
	margin: 40px 0;
}

.ul .input-row {
	margin: 0;
	padding: 0;
}

.ul .input-row li {
	border-bottom: 1px solid #E9E9E9;
	position: relative;
}


/*发送按钮*/

.send_code {
	position: absolute;
	top: 10px;
	font-style: normal;
	right: 8px;
	border: 1px solid #0098e6;
	border-radius: 3px;
	padding: 0px 4px;
	margin-right: 5px;
	font-size: 12px;
	color: #0098e6;
	height: 32px;
	line-height: 32px;
}

.upphone_code {
	position: absolute;
	top: 10px;
	font-style: normal;
	right: 8px;
	border: 1px solid #0098e6;
	border-radius: 3px;
	padding: 0px 4px;
	margin-right: 5px;
	font-size: 12px;
	color: #0098e6;
	height: 32px;
	line-height: 32px;
}

.s_code {
	position: absolute;
	top: 3px;
	font-style: normal;
	right: 8px;
	border: 1px solid #0098e6;
	border-radius: 3px;
	padding: 0px 4px;
	margin-right: 5px;
	font-size: 12px;
	color: #0098e6;
	height: 32px;
	line-height: 32px;
}

.xieyi {
	color: #666;
	font-size: 12px;
	margin-left: 10px;
}

.xieyi .xy {
	color: #0078E6;
}


/*首页*/

.home_bar {
	height: 150px;
	margin-bottom: 10px;
}
/*我的*/
.bus_bar{
	height: 210px;
}

/*banner部分*/

.banner_bar {
	position: relative;
	width: 100%;
}
.banner_bar .db,.banner_bar .db .banner_img,
.banner_bar .db .banner_img li,.banner_bar .db .banner_img li a{
	width: 100%;
}
.banner_bar .db .banner_img li a{
	display: block;
}
.banner_shop {
	position: relative;
}

.banner_bar .db .banner_img .ban_img,
.banner_shop .db .banner_img .ban_img {
	width: 100%;
	height: 150px;
}

.banner_bar .hb,
.banner_shop .hb {
	position: absolute;
	width: 100%;
	height: 20px;
	bottom: 3px;
}

.banner_bar .hb .point,
.banner_shop .hb .point {
	position: absolute;
	left: 43%;
	padding: 0;
	margin: 0;
}

.banner_bar .hb .point li,
.banner_shop .hb .point li {
	float: left;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	opacity: 0.5;
	background: #FFFFFF;
	text-indent: -9999px;
	margin-left: 8px;
	text-align: center;
	list-style: none;
}

.banner_bar .hb li.on,
.banner_shop .hb li.on {
	background-color: #FFFFFF;
	opacity: 1;
}

.own-topbg {
	position: absolute;
	z-index: 10;
	right: 0;
	left: 0;
	height: 43px;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.new_width{
	width: 25%;
	margin-top: 10px;
}
.index_bar {
	position: absolute;
	z-index: 10;
	right: 0;
	left: 0;
	height: 44px;
	padding-right: 10px;
	padding-left: 10px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}


/*banner结束*/


/*功能按钮*/

.icon_btn {
	width: 100%;
	height: 120px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 5px;
}

.mtop {
	margin-top: 44px;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #5CC3FA), color-stop(100%, #2ca7e8));
}

.icon_btn .qrcode,
.buy,
.receivables {
	width: 33.3%;
	margin-top: 10px;
}
.icon_btn .s_qrcode,.s_receivables,.s_buy,.s_secode{
	width: 25%;
	margin-top: 10px;
}
.v_shopline,.v_shopline2,.v_shopline3{
	height: 46px;
	width: 1px;
	background: #FFFFFF;
	border: none;
	opacity: 0.3;
	position: absolute;
	top: 60px;
	left: 25%;
}
.v_shopline2{
	left: 50%;
}
.v_shopline3{
	left: 75%;
}
.qrcode .receivables {
	border-right: 1px solid #E6E6E6;
}

.home_img {
	width: 13px;
	margin-top: 15px;
	margin-left: 10px;
}

.v_homeline,.v_homeline2 {
	height: 46px;
	width: 1px;
	background: #FFFFFF;
	border: none;
	opacity: 0.3;
	position: absolute;
	top: 60px;
	left: 33%;
}
.v_homeline2 {
	left: 66%;
}

.icon_btn .btn_img {
	width: 36px;
	height: 33px;
	vertical-align: middle;
	text-align: center;
	margin-top: 10px;
}


/*功能按鈕結束*/


/*我的报销和收益以及我的商家标题部分*/

.common_title {
	background-color: white;
	width: 100%;
	height: 42px;
	border-bottom: 1px solid #E6E6E6;
}
.group_title{
	background-color: white;
	width: 100%;
	height: 45px;
	margin-top: 10px;
	border-bottom: 1px solid #E6E6E6;
}
.group_title .group_txt{
	font-size: 15px;
	color: #0098E6;
	line-height: 45px;
	margin-left: 6px;
}
.group_title .home_img{
	width:16.5px;
}
.detail_title {
	background-color: white;
	width: 100%;
	height: 42px;
	border-top: 1px solid #E6E6E6;
}

.common_title .left_icon {
	width: 3px;
	height: 10px;
	margin-top: 15px;
	margin-left: 10px;
	background-color: #999999;
}

.common_title .common_txt,
.detail_title .common_txt {
	font-size: 14px;
	font-family: "苹方";
	color: #5CC3FA;
	margin-left: 5px;
	line-height: 42px;
}

.common_title .fan_size {
	color: #0098E6;
}

.common_title .comon_txt {
	font-size: 12px;
	font-family: "苹方";
	color: #333;
	margin-left: 5px;
	line-height: 42px;
}

.left_money {
	width: 50%;
	height: 70px;
	float: left;
}

.left_text {
	width: 50%;
	float: left;
}

.right_text {
	width: 50%;
	float: right;
}

.right_text p {
	font-size: 15px;
	font-family: "苹方";
	text-align: right;
	margin-right: 20px;
	margin-top: 10px;
	color: #0097E6;
	font-weight: bold;
}

.right_money {
	float: right;
}

.left_text {
	width: 50%;
	float: left;
}

.right_text {
	width: 50%;
	float: right;
}

.main {
	background: white;
	width: 100%;
	height: 45px;
	float: left;
	border-bottom: 1px solid #E6E6E6;
}

.left_text p {
	font-size: 15px;
	font-family: "苹方";
	color: #333333;
	margin-left: 22px;
	margin-top: 10px;
}

.go_toshop {
	margin-right: 10px;
	line-height: 50px;
	font-size: 15px;
	color: #0098E4;
}

.left_text p {
	font-size: 15px;
	font-family: "苹方";
	color: #333333;
	margin-left: 22px;
	margin-top: 10px;
}

.righthomeimg {
	width: 8px;
	height: 12.5px;
	float: right;
	margin-right: 10px;
	margin-top: 18px;
}


/*余额和收益*/

.my_getMoney,
.fun_module {
	background: white;
	width: 100%;
	float: left;
	border-top: 1px solid #E6E6E6;
}

.ac_info {
	background: white;
	width: 100%;
	height: 90px;
	float: left;
	border-top: 1px solid #E6E6E6;
}

.ac_info .banlance {
	width: 50%;
	float: left;
	margin-left: 44px;
	margin-top: 10px;
}

.ac_top {
	margin-top: 10px;
}

.vter_line {
	position: absolute;
	height: 40px;
	background: #bfbfbf;
	left: 50%;
	top: 65px;
}

.banlance .count_reim,
.count_reim {
	font-size: 25px;
	margin-top: 0;
}

.banlance .submitted,
.submitted {
	font-size: 12px;
	color: #666;
}

.home-bar-tab {
	position: absolute;
	display: table;
	width: 100%;
	padding: 0;
	bottom: 0;
	border-top: 0;
	border-bottom: 0;
	-webkit-touch-callout: none
}

.account {
	width: 100%;
	float: left;
}

.my_getMoney .banlance {
	width: 100%;
	height: 59px;
	float: left;
}

.account_bar {
	width: 100%;
	height: 59px;
	border-top: 1px solid #E9E9E9;
	float: left;
}

.banlance .ban_detail,
.pro_detail,
.account_bar .ban_detail {
	font-size: 15px;
	font-family: "苹方";
	color: #FF3340;
	font-weight: bold;
	margin-right: 10px;
}

.mon_rmb {
	margin-right: 3px;
}

.banlance .total_reim,
.account_bar .total_reim {
	font-size: 15px;
	color: #333;
}

.benefit {
	font-size: 13px;
	font-family: "苹方";
	color: #666;
	margin-left: 22px;
	margin-top: 0;
}


/*提现和分享部分*/

.fun_module .withdrawable {
	width: 50%;
	height: 70px;
	float: left;
	border-right: 1px solid #E6E6E6;
}

.common_img {
	width: 20px;
	height: 20px;
	margin-top: 25px;
	margin-left: 15px;
}
.with_txt .com_txt,
.share_txt .com_txt {
	font-size: 15px;
	font-weight: bold;
	color: #0097e6;
	margin-left: 10px;
	margin-bottom: -5px;
}

.btm_txt {
	margin-left: 10px;
	font-size: 15px;
	color: #666;
}


/*提现和分享部分结束*/


/*我的商家部分*/

.turnover_bar {
	background: white;
	width: 100%;
	height: 54px;
	float: left;
	border-bottom: 1px solid #E6E6E6;
}

.turnover_bar .turnover_blcok {
	width: 50%;
	float: left;
	border-right: 1px solid #E6E6E6;
}

.turn_txt {
	line-height: 45px;
	color: #6FC1EC;
	font-size: 13px;
}

.vt_line {
	width: 3px;
	height: 12px;
	float: left;
	margin-top: 15px;
	margin-left: 20px;
	border: none;
	background-color: #5CC3FA;
}

.turnprice {
	font-size: 15px;
	margin-right: 10px;
	color: red;
}

.turnover {
	font-size: 13px;
	font-family: "苹方";
	color: #666;
	margin-left: 10px;
	padding-top: 15px;
}

.group_img {
	width: 18px;
	float: left;
	margin-top: 12px;
	margin-right: 6px;
}

.turnover_blcok .ban_detail .turnover {
	color: #666;
	font-size: 14px;
}


/*您消费我报账部分*/

.con_reim {
	margin-left: 10px;
}

.con_reim .con_txt {
	font-size: 15px;
	color: #666;
	margin: 0;
	padding: 0;
	line-height: 45px;
}

.time_with {
	margin-right: 10px;
}

.time_with .with_txt {
	font-size: 15px;
	font-weight: bold;
	color: #0097E6;
	margin: 0;
	padding: 0;
	line-height: 45px;
}


/*您消费我报账部分结束*/


/*余额和收益结束*/


/*首页结束*/


/*我的页面*/

.top_head {
	width: 100%;
	background: white;
	margin-top: 49px;
	height: 90px;
	float: left;
	border-bottom: 1px solid #E6E6E6;
}
.bus_head{
	width: 100%;
	height: 70px;
	float: left;
}
.bus_head .bus_portrait{
	width: 40px;
	height: 40px;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	float: left;
	margin: 15px 10px;
	position: relative;
}
.bus_head .portrait{
	width: 40px;
	height: 40px;
	float: left;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	margin: 15px 10px;
}
.bus_head .bus_crown{
	position: absolute;
	width: 15px;
	top: 67px;
    left: 42px;
   /*float: left;*/
   /*margin-top: 15px;*/
}
.bus_head .name{
	font-size: 16px;
	margin-top: 12px;
	color: white;
	font-weight: bold;
	margin-bottom: -5px;
}
.bus_head .name .no_auth{
	font-size: 12px;
	margin-left: 6px;
	opacity: 0.6;
	color: white;
}
.bus_head .phone{
	font-size: 12px;
	color: white;
}
.bus_head .r_qrcode{
	position: absolute;
	right: 30px;
	margin-right: 30px;
	top: 75px;
	width: 15px;
	height: 15px;
}
.bus_head .right{
	width: 8px;
	height: 13px;
	position: absolute;
	top: 75px;
	right: 30px;
	margin-right: 10px;
	color: #ccc;
}
.bus_profit{
	width: 100%;
	height: 75px;
	float: left;
}
.bus_profit .today_outmoney{
	width: 50%;
	float: left;
	height: 85px;
	border-radius: 2px;
	text-align: center;
}
.oc_line{
	width: 100%;
    color: white;
    opacity: 0.2;
    margin-top: 0;
}
.bus_profit .today_inmoney{
    width: 50%;
    height: 75px;
    text-align: center;
    border-radius: 2px;
}
.today_outmoney .no_quote{
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	line-height: 45px;
}
.today_outmoney .no_text{
	font-size: 10px;
	text-align: center;
	color: #CCC;
	margin-top: -15px;
}
.get_turnover{
	font-family: "苹方";
	margin-left: 10px;
	font-size: 11px;
	line-height: 20px;
	margin-top: 15px;
	color: #666;
}
.today_outmoney .today_quote,.today_inmoney .today_quote{
	font-size: 25px;
	color: #FFFFFF;
	margin-top: 0px;
}
.today_text{
	font-size: 12px;
	margin-top: 0;
	color: #FFFFFF;
}
.fan_body {
	width: 100%;
	background: white;
	height: 90px;
	float: left;
	border-bottom: 1px solid #E6E6E6;
}

.fan_body .fan_name {
	font-size: 16px;
	color: #0098E4;
}

.vfan_line {
	height: 10px;
	width: 1px;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 23px;
	padding-top: 0;
	background: #666;
}

.fan_body .phone {
	margin-top: 16px;
	font-size: 13px;
	color: #666;
}

.fan_body .count_inandout {
	margin-top: 0px;
	font-size: 14px;
	line-height: 20px;
	width: 35%;
}

.content .a_link {
	color: #0098E6!important;
}

.fan_body .count_out {
	margin-top: 0px;
	line-height: 20px;
	font-size: 14px;
}

.fan_body .in_money {
	clear: both;
}

.top_head .portrait,
.fan_body .portrait {
	width: 60px;
	height: 60px;
	border-radius: 6px;
	float: left;
	margin: 15px 10px;
}

.top_head .f_name {
	font-size: 15px;
	margin-top: 25px;
	color: #666;
	margin-bottom: -5px;
}

.top_head .name {
	font-size: 15px;
	margin-top: 25px;
	color: #666;
}
.top_head .bus_name{
	font-size: 15px;
	margin-top: 12px;
	color: #666;
}
.bus_name .nobus_auth{
	font-size: 12px;
	margin-right: 5px;
}
.top_head .name .username {
	color: #666;
}
.top_head .no_auth {
	font-size: 12px;
	margin-right: 5px;
}
.nobus_auth{
	color: #0098E6;
	margin-top:-5px;
}
.top_head .phone {
	font-size: 12px;
	color: #666;
}

.top_head .r_qrcode {
	position: absolute;
	right: 0;
	margin-right: 30px;
	top: 90px;
	width: 15px;
	height: 15px;
}

.top_head .right {
	width: 8px;
	height: 13px;
	position: absolute;
	top: 90px;
	right: 0;
	margin-right: 10px;
	color: #ccc;
}

.rightimg {
	width: 8px;
	height: 12.5px;
	float: right;
	margin-right: 10px;
	margin-top: 15px;
}

.icon_right {
	width: 8px;
	height: 12.5px;
	float: right;
	margin-top: 13px;
}

.rightabimg {
	position: absolute;
	right: 5px;
	top: 85px;
	width: 8px;
	height: 13px;
}

.withcash {
	font-size: 15px;
	margin-left: 10px;
	font-weight: bold;
	color: #0097E6;
	line-height: 40px;
}

.mana_account {
	width: 100%;
	height: 43px;
	background: white;
	margin-top: 5px;
	float: left;
	border-bottom: 1px solid #E9E9E9;
}

.mana_useraccount {
	width: 100%;
	height: 43px;
	background: white;
	float: left;
}

.mana_user {
	width: 100%;
	height: 43px;
	background: white;
	float: left;
	border-bottom: 1px solid #E9E9E9;
}

.mana_account .ma_txt,
.mana_useraccount .ma_txt,
.mana_user .ma_txt {
	font-size: 14px;
	color: #333;
	margin-left: 22px;
	line-height: 43px;
}

.mana_user .cert {
	font-size: 14px;
	color: #999;
	text-align: right;
	margin-right: 10px;
	line-height: 43px;
}


/*我的结束*/


/*平台报账*/

.title {
	font-size: 16px;
	font-weight: 500;
	line-height: 44px;
	/*position: absolute;*/
	display: block;
	width: 100%;
	margin: 0 !important;
	padding: 0;
	text-align: center;
	white-space: nowrap;
	color: #0098E6;
}

.mui-conten {
	padding-top: 44px;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #5CC3FA), color-stop(100%, #2ca7e8));
}

.mui-cont {
	padding-top: 44px;
}

.mui-content .top_count {
	background: white;
	width: 100%;
	height: 90px;
	float: left;
	border-bottom: 1px solid #E6E6E6;
}

.mui-content .top_count .frm_name {
	background: white;
	width: 50%;
	height: 90px;
	float: left;
}

.mui-content .top_count .frm_name .heder_img {
	width: 60px;
	height: 60px;
	float: left;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 15px;
}

.frm_name .name_text {
	font-size: 16px;
	color: #333333;
	line-height: 90px;
	float: left;
}

.today_count {
	background: white;
	width: 50%;
	height: 90px;
	float: left;
}

.today_count .today_in {
	margin-top: 27px;
	padding-left: 15px;
}

.today_count .today_in .today_reim,
.today_count .count_size .today_reim {
	font-size: 14px;
	color: #666;
}

.today_count .count_size {
	margin-top: auto;
	padding-left: 15px;
}

.today_price {
	font-size: 14px;
	color: red;
}

.group_bar {
	width: 100%;
	background: white;
	margin-bottom: 5px;
}

.group_bar .group_ul {
	padding-left: 10px;
	margin: 0;
}

.group_bar .group_ul li {
	border-bottom: 1px solid #F4F4F4;
}

.group_bar .group_ul li span:nth-of-type(1) {
	font-size: 14px;
}

.group_bar .group_ul li span:nth-of-type(2) {
	float: right;
	font-size: 14px;
	line-height: 43px;
	margin-right: 15px;
}
.group_bar .group_ul li span:nth-of-type(2) span{
	float: left;
}
.rightgroupimg {
	width: 8px;
	height: 13px;
	position: absolute;
	right: 10px;
	margin-top: 14px;
}

.nopading {
	margin: 0!important;
}

.group_bar .group_ul .in_group {}

.gr_size {
	padding-right: 5px;
}


/*平台粉丝*/

.have_fance {
	margin-top: 180px;
	text-align: center;
}

.have_fance .add_img {
	width: 120px;
}

.have_fance .add_fen {
	font-size: 15px;
	color: #0097E5;
}

.no_fen {
	color: #CCC;
	font-size: 15px;
	margin-top: 0;
	font-weight: bold;
}

.no_fentips {
	color: #CCC;
	font-size: 15px;
	margin-top: 0;
}


/*平台报账结束*/


/*绑定支付宝*/

.content {
	margin: 10px 10px;
	color: #666;
}


/*账号管理*/

.head_imgcont {
	background: white;
	width: 100%;
	height: 70px;
	margin-top: 40px;
	float: left;
	border-bottom: 1px solid #E6E6E6
}

.head_imgcont .img_head {
	width: 100%;
	height: 75px;
	margin-top: 5px;
	background: white;
	float: left;
	border-bottom: 1px solid #E6E6E6
}

.head_imgcont .img_head .head_text {
	line-height: 40px;
	font-size: 14px;
	color: #333;
	float: left;
	margin-left: 10px;
}

.fr .default_img {
	width: 60px;
	height: 60px;
	border-radius: 4px;
	margin-top: 6px;
	margin-right: 10px;
}

.right_acc {
	width: 8px;
	height: 12px;
	margin-top: -50px;
	margin-right: 5px;
	vertical-align: middle;
	text-align: center;
}

.common_name {
	width: 100%;
	height: 43px;
	background: white;
	margin-top: 5px;
	float: left;
	border-top: 1px solid #E6E6E6
}

.common_name .name,
.cmn_name .name {
	font-size: 14px;
	color: #999;
	text-align: right;
	line-height: 43px;
	margin-right: 10px;
}

.tips .tip {
	color: #999;
	margin-left: 10px;
}

.cmn_name {
	width: 100%;
	height: 43px;
	background: white;
	float: left;
	border-top: 1px solid #E6E6E6;
}

.set_handpwd {
	width: 100%;
	height: 43px;
	float: left;
	background: white;
	border-bottom: 1px solid #E6E6E6;
}

.set_handpwd span {
	float: left;
	font-size: 14px;
	margin-left: -5px;
	color: #333;
	line-height: 36px;
}

.cleft_name {
	font-size: 14px;
	color: #333;
	line-height: 43px;
	margin-left: 10px;
}
.btn_ext{
	font-size: 15px;
	display: block;
	width: 100%;
	margin: auto;
	margin-bottom: 10px;
	padding: 8px 0;
	top: 25px;
}

/*关于我们*/

.ab_right {
	float: right;
	width: 8px;
	height: 13px;
	margin-top: 3px;
}


/*商家提现明细*/

.bus_content,
.mui-content .bus_content {
	width: 100%;
	height: 70px;
	float: left;
	background: white;
	/*margin-top: 5px;*/
	/*border-top: 1px solid #E6E6E6;*/
	border-bottom: 1px solid #E6E6E6;
}

.with_content {
	width: 100%;
	height: 70px;
	background: white;
	float: left;
	border-bottom: 1px solid #E9E9E9;
}

.bus_content .left_time,
.bus_nocont .left_time,
.mui-content .bus_content .left_time,
.with_content .left_time {
	width: auto;
	float: left;
}

.left_time .sub_money {
	font-size: 15px;
	font-weight: bold;
	color: #00740E;
	margin-left: 10px;
}

.left_time .sub_reim {
	font-size: 15px;
	font-weight: bold;
	color: #333;
	margin-left: 10px;
}

.left_time .sub_price {
	font-size: 15px;
	font-weight: bold;
	color: red;
}

.left_time .sub_time {
	font-size: 10px;
	color: #999;
	margin-left: 10px;
}

.left_time .get_time {
	font-size: 10px;
	color: #999;
	margin-left: 10px;
}

.fr .other_name {
	font-size: 12px;
	color: #0097E5;
	float: right;
	margin-right: 10px;
}

.use .other_name {
	margin-top: 10px;
}

.fr .other_info {
	color: #666;
	margin-right: 10px;
}

.fr .money_status {
	font-size: 12px;
	line-height: 40px;
	float: right;
	margin-right: 10px;
}

.t_ime {
	margin-top: -5px;
}

.bus_nocont {
	width: 100%;
	height: 70px;
	float: left;
	background: white;
	border-bottom: 1px solid #E6E6E6;
}

.y_sh {
	color: #0B761B;
}

.i_sh {
	color: #e07110;
}

.n_gosh {
	color: #c13114;
}

.no_sh {
	color: #0098E4;
}


/*我的报账*/

.bursement {
	width: 100%;
	height: 37px;
	background: white;
	margin-top: 45px;
	float: left;
}

.queue_img {
	width: 75px !important;
	height: 75px;
	position: absolute;
	right: 0px;
	top: 25px;
}

.change_dis li {
	float: left;
	width: 15%;
	margin-top: 15px;
}

.dis_btnall {
	height: 40px;
	font-size: 12px;
	float: left;
	color: #666;
	text-align: center;
	background: #F2F2F2;
	margin-left: 10px;
	line-height: 40px;
}

.dis_btn {
	height: 40px;
	font-size: 12px;
	float: left;
	color: #666;
	text-align: center;
	background: #F2F2F2;
	margin-left: 10px;
	margin-right: 5px;
	line-height: 20px;
}

.que_module {
	width: 95%;
	text-align: center;
	margin-top: 15px;
	position: relative;
	display: inline-block;
	margin-left: 2.5%;
}

.que_module .que_title {
	height: 40px;
	background: #0098e6;
}

.que_title .que_num {
	color: #FFF;
	vertical-align: middle;
	text-align: center;
	margin-top: 8px;
	margin-left: 16px;
}

.que_title .que_size {
	color: #fff;
	margin-top: 8px;
	text-align: right;
	margin-right: 10px;
}

.acount_detail {
	width: 100%;
	text-align: center;
	float: left;
	height: auto;
	display: inline-block;
	background: white;
}

.acount_detail .bz_name {
	text-align: left;
	margin-left: 15px;
	margin-top: 5px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
}

.discount_size {
	width: 100%;
	height: 65px;
	background: white;
	float: left;
	z-index: 999;
}
.title-mui{
	background: #fff;
	/*border-bottom: 1px solid #ccc;*/
}
.acount_detail .bz_time {
	color: #999;
	font-size: 12px;
	margin-right: 11px;
	margin-top: -22px;
}

.acount_detail .bz_count {
	margin-left: 15px;
	margin-top: 0px;
	color: #666;
	text-align: left;
}

.acount_detail .bz_scount {
	margin-left: 15px;
    margin-top: 0px;
    color: #666;
    text-align: left;
}

.acount_detail .need_voucher {
	font-size: 12px;
    margin-top: -5px;
    color: #666;
    text-align: left;
    margin-left: 15px;
}

.acount_detail .bz_people {
	text-align: left;
	color: #666;
	margin-top: -5px;
	margin-left: 15px;
	vertical-align: middle;
}

.acount_detail .wait_people {
	vertical-align: middle;
	margin-top: -5px;
	text-align: left;
	margin-left: 15px;
	color: #666;
}

.acount_detail .invoice {
	margin-top: -26px;
	margin-right: 11px;
	font-size: 14px;
	color: #0098E6;
}

.que_module .continue_bz {
	width: 100%;
	background: white;
	height: 35px;
}

.continue_bz .cte_txt {
	margin-left: 13px;
	vertical-align: middle;
	margin-top: 5px;
	color: #666;
}

.continue_bz .btn_content {
	color: #0098E6;
	margin-left: 10px;
}


/*我要报账*/

.invoice_content {
	padding-top: 44px;
	background: white;
	float: left;
	width: 100%;
}

.invoice_content .please {
	float: left;
	font-size: 14px;
	color: #333;
	line-height: 36px;
	margin-left: 10px;
}

.invoice_content .img_invoice {
	width: 100%;
	height: 230px;
	margin-top: 40px;
	border-top: 1px solid #9E9E9E;
	border-bottom: 1px solid #9E9E9E;
}

.invoice_content .fpimage {
	height: 230px;
	display: block;
	max-height: 100%;
	margin: 0 auto;
}

.mui-table-view-cell .use_money {
	float: left;
	font-size: 14px;
	color: #333;
	line-height: 36px;
}

.mui-table-view-cell .money {
	color: red;
	float: right;
	font-size: 14px;
	margin-right: 70px;
	line-height: 36px;
}

.invoice_value {
	background-color: white;
	margin-top: 5px;
	float: left;
	width: 100%;
	height: 42px;
}

.invoice_value input {
	border: none;
}

.invoice_value span,
.reim_level span {
	font-family: 'System San Francisco Display Bold';
	line-height: 42px;
	font-size: 14px;
	padding-left: 15px;
}

.use_orno {
	background-color: white;
	float: left;
	width: 100%;
	height: 50px;
	overflow: hidden;
	position: relative;
	border-top: 1px solid #E9E9E9;
}

.reim_level {
	background-color: white;
	margin-top: 5px;
	float: left;
	width: 100%;
	height: 42px;
	overflow: hidden;
	position: relative;
}

.reim_level:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 15px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.check_dis {
	float: right;
	color: #666;
	font-size: 12px !important;
	margin-right: 5px;
}

.img_quan {
	width: 100%;
	height: 65px;
	background: white;
	float: left;
}

.dis_img,
.dis_imgsix,
.dis_imgseven,
.dis_imgeight {
	background: url(../img/default/no_chk.png) no-repeat;
	color: #0098E4;
	width: 40px;
	height: 40px;
	left: 15%;
}

.change_bgimg {
	background: url(../img/default/chk_bg.png) no-repeat;
	color: #FFF;
	width: 40px;
	height: 40px;
}

.dis_imgsix {
	left: 35%;
}

.dis_imgseven {
	left: 55%;
}

.dis_imgeight {
	left: 75%;
}

.circle li {
	float: left;
	margin-left: 5%;
	width: 20%;
}

.change_text {
	color: white !important;
}

.default {
	color: #0098E4;
}

.art_text {
	position: relative;
	left: 10px;
	font-size: 14px;
	bottom: 6px;
	font-weight: bold;
}

.img_quan img {
	float: left;
}

.img_quan .circle {
	width: 100%;
	margin: 0px;
	padding: 10px;
	float: left;
}

.img_quan .circle li img {
	margin-right: 10px
}


/*购买凭证*/

.container {
	width: 100%;
	height: 80px;
	background: white;
	float: left;
	border-bottom: 1px solid #E6E6E6;
}

.dicount {
	width: 105px;
	height: 55px;
	margin: 10px 10px;
	float: left;
}

.box {
	float: right;
	margin-top: 6%;
    margin-right: 20%;
}

.s_font {
	position: absolute;
	right: 0;
	margin-right: 20px;
	line-height: 70px;
	font-size: 15px;
	color: red;
}

.count_small {
	width: 100%;
	height: 43px;
	float: left;
	background: white;
	margin-top: 5px;
	border-bottom: 1px solid #E6E6E6;
}

.count_use {
	width: 100%;
	height: 43px;
	float: left;
	background: white;
	border-bottom: 1px solid #E6E6E6;
}

.count_small .small {
	font-size: 14px;
	color: #333;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
}

.count_small .price {
	float: right;
	font-size: 15px;
	color: red;
	font-weight: bold;
	margin-top: 10px;
	margin-right: 20px;
}

.count_use span {
	float: left;
	font-size: 14px;
	color: #333;
	line-height: 36px;
}

.pay_info .amont_money {
	margin-top: 5px;
}

.pay_info .pay_price {
	font-size: 18px;
	margin-top: -5px;
}

.rmb {
	font-size: 30px;
	margin-left: 10px;
	margin-top: 3px;
	color: #666;
}

.pay_type {
	width: 100%;
	height: 43px;
	float: right;
	background: white;
	margin-top: 5px;
}

.pay_name {
	font-size: 14px;
	color: #333;
	margin-left: 15px;
	line-height: 43px;
}

.pay_way {
	float: right;
}

.goto {
	font-size: 14px;
	color: #333;
	margin-right: 10px;
	line-height: 43px;
}

.pay_way img {
	width: 8px;
	height: 12.5px;
	float: right;
	margin-right: 10px;
	margin-top: 15px;
}

.jiesuan {
	float: right;
	height: 50px;
}

.jiesuan .count {
	position: absolute;
	left: 0;
	margin-left: 10px;
	font-size: 15px;
	color: #333;
}

.jiesuan p button {
	color: #fff;
    height: 45px;
    padding: 8px 30px;
    background: #0098E6;
    font-style: normal;
    border-radius: 3px;
    margin: -8px 10px;
}

.h_line {
	width: 100%;
	height: 1px;
	float: left;
	background: #E6E6E6;
}

.c_txt {
	text-align: center !important;
	background: white!important;
}

.c_txt a {
	font-size: 16px;
	font-weight: bold;
}

.mui-table-view-cell {
	border-bottom: 1px solid #E9E9E9;
	height: 50px;
	background: white;
}

.pic_pos img {
	width: 24px;
	height: 24px;
	margin-top: 8px;
}

.pay_pos .pay_icon {
	width: 24px;
	height: 24px;
	margin-top: 7px;
}
.info_pos{
	float: left;
	width: 100%;
}
.info_pos .info_icon{
	width: 20px;
	margin-top: 7px;
	margin-right: 6px;
	margin-left: -5px;
}
.msg_time{
	margin-top: 5px;
}
.msg_time .in_day{
	font-size: 13px;
	color: #666;
	margin-right: 5px;
}
.msg_time .in_time{
	font-size: 13px;
	color: #666;
	margin-right: 5px;
}
.msg_time .in_phone{
	font-size: 13px;
	color: #333;
	font-weight: bold;
	margin-right: 10px;
}
.msg_time .out_money{
	font-size: 14px;
	color: #df3535;
	font-weight: bold;
}
.pay_pos a {
	margin-top: -13px;
	margin-left: 10px;
	position: absolute;
	top: 50%;
}

.pic_pos a {
	margin-left: 105px;
	margin-top: -15px;
	font-size: 15px;
	position: absolute;
	top: 50%;
}

.c_font {
	font-size: 18px;
	color: red;
	line-height: 85px;
}

.simgple_price {
	line-height: 80px;
	font-size: 20px;
	color: #000;
	margin-left: 10px;
}


/*系统消息*/

.timeBar {
	width: 30%;
	background: #b3b3b3;
	border-radius: 2px;
	margin: 60px auto;
	text-align: center;
}

.no_msg {
	position: absolute;
	top: 50%;
	left: 35%;
	color: #ccc;
	font-size: 30px;
	margin-top: 50%;
	margin-right: 20%;
}

.timeBar span,
.s_timeBar span {
	font-size: 11px;
	color: #fff;
}

.s_timeBar {
	width: 30%;
	background: #b3b3b3;
	border-radius: 2px;
	margin: 15px auto;
	text-align: center;
}

.info_content {
	width: 95%;
	background: white;
	height: 110px;
	margin: 10px 10px 0px 10px;
	cursor: pointer;
}
.fl .i_title {
	font-size: 14px;
	margin: 5px 10px;
	padding: 0;
	font-weight: bold;
	color: #333;
}

.fl .i_number,
.i_money,
.i_name {
	margin-left: 10px;
	font-size: 14px;
	color: #999999;
}

.fl .i_number {
	margin-top: 17px;
	line-height: 7px;
}

.fl .i_money {
	margin-top: 5px;
}

.fl .i_name {
	margin-top: -3px;
}

.fr .time {
	padding: 0;
	margin: 5px;
	color: #999;
}

.btn_go {
	color: #0097E5;
	font-size: 13px;
	cursor: pointer;
}

.mui-input-row .mui-input-clear~.mui-icon-clear,
.mui-input-row .mui-input-password~.mui-icon-eye,
.mui-input-row .mui-input-speech~.mui-icon-speech {
	font-size: 20px;
	position: absolute;
	z-index: 1;
	top: 10px;
	right: 10px!important;
	width: 38px;
	height: 38px;
	text-align: center;
	color: #999
}

.wide_price {
	border: none;
}


/*我的商家*/

.top_shophead {
	background: white;
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #E9E9E9;
}

.top_shophead .shop_left {
	width: 15%;
	height: 45px;
	margin: 0px 10px;
	line-height: 45px;
	overflow: hidden;
}

.shop_left .checkimg {
	margin-top: 20px;
	width: 9px;
	height: 5px;
}


/*我的头像*/

.big_headimg {
	margin-top: 80px;
}

.big_headimg img {
	margin: 44px auto;
	padding: 0;
	width: 100%;
	text-align: center;
}

.commodity_type {
	width: 100%;
	background: white;
}

.commodity_type .commodity_icon li {
	float: left;
	margin-top: 15px;
	width: 25%;
	text-align: center;
}

.commodity_type .commodity_icon li p {
	margin: 0 0 0 3px;
	padding: 0;
}

.commodity_type .commodity_icon .last_icon {
	text-align: center;
}

.commodity_type .com_icon {
	width: 35px;
	height: 35px;
}
.maybe_like {
	background-color: white;
	float: left;
	width: 100%;
	height: 42px;
	overflow: hidden;
	position: relative;
}

.maybe_like:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.maybe_like .maybe_txt {
	line-height: 42px;
	padding-left: 15px;
	font-size: 14px;
}

.bus_info .shop_img {
	width: 95px;
	height: 78px;
	margin: 15px 15px;
}

.bus_info {
	background: white;
	width: 100%; 
	border-bottom: 1px solid #E9E9E9;
}

.bus_text .travel {
	font-size: 14px;
	font-weight: bold;
}

.bus_text .address {
	font-size: 10px;
	margin-top: -3px;
	color: #999;
}

.bus_text .far_away {
	font-size: 12px;
	color: #f22626;
	margin-right: 15px;
}

.bus_text .industry {
	font-size: 12px;
	color: #999;
}

.already_rece {
	float: right;
	margin-right: 15px;
}
.ind_type{
	color: #0097E6;
}
.consumption {
	color: #999;
}
.bus_info{
	display: flex;
}
.bus_text{
	padding: 15px 0;
	flex: 1;
}



/*实名认证*/

.upload_img {
	width: 100%;
	height: 200px;
	margin-top: 5px;
	background: #78c5ec;
	text-align: center;
	line-height: 90px;
}

.upload_img .photo_img {
	width: 50%;
	height: 120px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.di_size {
	margin-top: -80px;
	text-align: center;
	font-size: 12px;
	font-family: "苹黑";
	color: #FFF;
}

.cmt_btn {
	top: 10px!important;
	height: 30px;
}


/*修改手机号*/

.update_phone span {
	width: 28%;
	padding-left: 15px;
	color: #333333;
	float: left;
	height: 45px;
	line-height: 45px;
}

.upsend_code {
	position: absolute;
	top: 3px;
	font-style: normal;
	right: 8px;
	border: 1px solid #0098e6;
	border-radius: 3px;
	padding: 0px 4px;
	margin-right: 5px;
	font-size: 12px;
	color: #0098e6;
	height: 32px;
	line-height: 32px;
}


/*修改密码*/

.pwd_row span {
	padding-left: 15px;
	color: #333333;
	float: left;
	height: 45px;
	line-height: 40px;
}


/*提现已綁定*/

.with_title {
	width: 100%;
	height: 52px;
	margin-top: 49px;
	background: white;
}

.with_title .pay_img {
	width: 34px;
	height: 34px;
	vertical-align: middle;
	margin-top: 10px;
	margin-left: 10px;
}

.with_title .with_info {
	height: 30px;
}

.with_info .name {
	line-height: 10px;
	text-align: justify;
	margin-left: 20px;
	font-size: 15px;
	color: #333;
}

.with_info .phone {
	line-height: 10px;
	text-align: justify;
	margin-left: 20px;
	font-size: 12px;
	color: #999;
	margin-top: 7px;
}

.wide_info {
	width: 100%;
	height: 76px;
	margin-top: 5px;
	background: white;
}

.pay_info {
	width: 100%;
	height: 90px;
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	background: white;
}
.pay_tips{
	
}
.pay_tips input {
	margin-bottom: 12px;
	margin-top: 12px;
    width: 100%;
}

.wide_info .amont_roll,
.pay_info .amont_roll {
	font-size: 12px;
	color: #666;
	font-family: "苹黑";
	padding-left: 10px;
}

.suc_info {
	width: 100%;
	text-align: center;
	margin-top: 44px;
}

.suc_info .pay_img {
	width: 40px;
	margin-right: 7px;
}

.suc_tips {
	width: 100%;
	margin-top: 15px;
	font-size: 13px;
	color: #666;
	text-align: center;
}

.give_money {
	text-align: center;
	color: #0098E4;
}

.give_money p {
	font-size: 30px;
}

.suc_text {
	font-size: 15px;
	font-weight: bold;
	margin-top: 10px;
	color: #0098E6;
}

.wide_info .amont_money {
	margin-top: 0px;
	margin-left: 10px;
	color: #666;
	font-size: 30px;
}

.amont_money .wide_price {
	font-size: 18px;
	margin-top: -5px;
	font-family: "苹黑";
}

.pay_price::-webkit-input-placeholder,
.pay_tips::-webkit-input-placeholder {
	color: #CCC;
	font-family: "苹黑";
}

.captial_time {
	width: 100%;
	background: white;
	height: 43px;
	margin-top: 5px;
}

.captial_time .pagage {
	width: 18px;
	height: 17px;
	margin-left: 10px;
	margin-top: 12px;
}

.captial_time .rece_time,
.captial_time .rece_tips {
	margin-left: 7px;
	font-size: 14px;
	margin-top: 10px;
	margin-right: 15px;
	color: #666;
}


/*提现未绑定*/

.tobound {
	width: 100%;
	background: white;
	height: 43px;
	margin-top: 49px;
}

.tobound .bind_img {
	width: 20px;
	height: 20px;
	margin-left: 10px;
	margin-top: 12px;
}

.tobound .to_tips {
	margin-left: 7px;
	font-size: 14px;
	margin-top: 10px;
	color: #666;
}


/*余额明细*/

.left_time .sub_type {
	font-size: 15px;
	font-weight: bold;
	color: #0097e5;
	margin-left: 10px;
}

.shop_icon {
	width: 20px;
	vertical-align: middle;
	margin-top: 17px;
	margin-left: 10px;
	margin-right: 7px;
}

.turn_text {
	margin-top: 0px;
	font-size: 15px;
	padding-top: 9px;
	color: #333;
}

.trun_tips {
	margin-top: -6px;
	color: #999;
}

.mui-content {
	padding-top: 44px;
	background: white;
}

.mui-cont {
	margin-top: 44px;
}

.fr .profit {
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	color: red;
	float: right;
	margin-right: 10px;
}


/*余额*/

.detail_txt {
	font-size: 12px;
	color: #666;
}

.banlance_info {
	width: 100%;
	height: 76px;
	background: white;
	margin-bottom: 5px;
}

.banlance_info .account {
	font-size: 12px;
	color: #666;
	padding-top: 6px;
	padding-left: 10px;
}

.banlance_info .ban_price {
	font-size: 30px;
	font-weight: bold;
	padding-left: 10px;
	margin-top: 0px;
	color: #666;
}

.with_bar {
	width: 100%;
	background: white;
	height: 43px;
	margin-top: 5px;
}

.with_bar .pag {
	width: 18px;
	height: 17px;
	float: left;
	margin-left: 10px;
	margin-top: 12px;
}

.with_bar .with_txt {
	margin-left: 7px;
	font-size: 14px;
	margin-top: 10px;
	color: #333;
}


/*商家认证资料*/

.get_account {
	color: #666 !important;
}

.brief_intro {
	width: 100%;
	/*float: left;*/
	margin-top: 5px;
	background-color: white;
}

.brief_intro .intro {
	margin-left: 15px;
	width: 100px;
}

.brief_intro .intro_txt {
	padding: 0px 16px;
	font-size: 12px;
	width: 100%;
}

.upload_bg {
	width: 100%;
	height: 200px;
	background: #78c5ec;
	text-align: center;
	margin-top: 170px;
	margin-bottom: 93px;
}

.upload_bg .bg_img {
	width: 165px;
	height: 120px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.upload_bg .add_img {
	text-align: center;
	font-family: "System San Francisco Display Regular";
	color: #FFFFFF;
	margin-top: -90px;
	line-height: 160px;
	font-size: 13px;
}

.see_txt {
	text-align: left;
	margin-left: 10px;
}

.modify_btn {
	height: 30px;
	top: 0!important;
}

.dis_input {
	width: 72%;
	margin-left: 0px;
	line-height: 40px;
	margin-right: 0px;
	font-size: 15px;
	color: #999;
}

.lic_input {
	width: 72%;
	margin-left: 12px;
	line-height: 48px;
	margin-right: 0px;
	font-size: 12px;
}


/*商家资料*/

.cert_bg {
	width: 100%;
	height: 200px;
	background: #78c5ec;
	text-align: center;
	line-height: 100px;
}

.cert_bg .bg_img {
	width: 165px;
	height: 120px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.left {
	text-align: center;
	margin: 10px;
	position: absolute;
	right: 0;
	color: #666666;
}


/*商家提现*/

.bus_with_info {
	width: 100%;
	height: 76px;
	margin-top: 49px;
	background: white;
}

.bus_with_info .w_money {
	font-size: 12px;
	color: #666;
	padding-left: 10px;
}

.bus_with_info .w_num {
	font-size: 30px;
	font-weight: bold;
	padding-left: 10px;
	margin-top: -3px;
	color: #666;
}


/*商家认证资料*/

.bus_bg {
	width: 90%;
	height: auto;
	background: #fff;
	text-align: center;
	margin-left: 5%;
	border: 2px solid #0098e6;
	border-radius: 4px;
	margin-top: 40px;
}

.bus_bg .bus_img {
	width: 100%;
	height: 240px;
	display: block;
	/*max-width: 100%;*/
	margin: 0 auto;
	margin-top: 0px;
	/*margin-bottom: 15px;*/
}

.bus_bg p {
	text-align: center;
	font-family: "苹方";
	color: #FFFFFF;
}

.pic_size {
	margin-top: 5px;
}

.null_pic {
	margin-top: 160px;
}
.text-box{
	display: table;
	text-align: center;
	width: 100%;
	margin: 0px auto;
}
.text-line{
	display: table-cell; 
	vertical-align:middle;
	height: 60px;
	line-height: 30px;
	width: 100%;
}

.bottom_size {
	margin-bottom: 15px;
}

.di_size {
	margin-top: 0px;
	font-size: 13px;
	color: #0098e6 !important;
	
}

.last_size {
	margin-bottom: 10px;
}


/*报账找人*/

.find_people {
	background-color: white;
	/*margin-top: -15px;*/
	float: left;
	width: 100%;
	height: 42px;
	overflow: hidden;
	position: relative;
}

.find_people:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 15px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.find_people .find_title {
	line-height: 42px;
	padding-left: 15px;
	font-size: 14px;
	font-family: '苹黑';
}

.people_info {
	width: 100%;
	height: auto;
	background: white;
}

.people_info ul li span{
	float: left;
	width: 20px;
	display: inline-block;
}
.people_cont li{
	padding: 10px 0;
}
.people-p{
	margin-left: 10px;
}
.people_info ul li p{
	width: 100%;
	display: inline-block;
	font-family: '苹黑';
	line-height: 22px;
	margin-bottom: 0px;
}
.my-btn{
	/*width: auto;
	height: auto;
	font-size: 16px;
	padding: 8px 20px;*/
}
.my-btn-active{
	background: #0098e6;
	border-color: #0098e6;
	color: #fff;
}


.people_info .people_cont {
	margin: 0;
	padding-left: 10px;
}

.people_info .people_cont li {
	border-bottom: 1px solid #CCCCCC;
}

.toux {
	width: 42px;
	height: 42px;
	margin-left: 13px;
}

.chc_span label {
	background: url(../img/default/nocheck.png) no-repeat;
	width: 20px;
	height: 20px;
	margin-top: 5px;
	display: block;
}

.chc_span input.chec {
	background: url(../img/default/check.png) no-repeat;
}

.t_color {
	background-color: #0098E6 !important;
	height: 36px;
}


/*待报账详情*/

.for_reiminfo {
	width: 100%;
}

.for_reiminfo .reimimg {
	width: 100%;
	height: 205px;
}

.detail_info {
	width: 100%;
	height: 44px;
	background: white;
	float: left;
	border-bottom: 1px solid #E6E6E6;
}

.need_info {
	width: 100%;
	height: 44px;
	background: white;
	float: left;
	border-top: 1px solid #E6E6E6;
}

.spend_info {
	width: 100%;
	height: 44px;
	background: white;
	margin-top: -15px;
	float: left;
	border-bottom: 1px solid #E6E6E6;
}

.spend_info .spend_s {
	font-size: 13px;
	margin-left: 10px;
	color: #333;
	line-height: 44px;
}

.need_info span {
	font-size: 13px;
	margin-left: 10px;
	color: #333;
	line-height: 44px;
}

.num {
	font-size: 13px;
	float: right;
	margin-top: 0px;
	margin-right: 10px;
}

.s_num {
	font-size: 13px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.spend_num {
	color: #0098E6!important;
}

.need_num {
	color: red!important;
}

.detail_info .title {
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	text-align: left;
	color: #333;
	line-height: 44px;
}

.reim_info {
	width: 100%;
	height: 130px;
	margin-top: 44px;
	background: white;
}

.reim_info .name {
	padding-top: 15px;
}

.name_info {
	padding-left: 25px;
}

.price,
.client,
.size,
.price {
	padding-left: 5px;
}

.time {
	float: right;
	color: #999;
	margin-right: 10px;
}

.reim_info p {
	line-height: 12px;
	color: #999;
	padding-left: 10px;
}

.buy_pz {
	background: white;
	width: 100%;
	height: 44px;
	float: right;
}

.buy_pz p {
	float: right;
	margin-right: 10px;
	color: #0098E6;
	font-size: 15px;
	margin-top: 10px;
}

#footer {
	/*height: 100px!important;*/
	bottom: 0px;
}

.no_shouli {
	top: 15px;
	height: 35px;
}

.shouli {
	top: 10px;
	height: 35px;
	background-color: #0098E6 !important;
}


/*赠送好友*/

.dis_list {
	width: 100%;
	height: 130px;
	background: white;
	float: left;
	border-bottom: 1px solid #E6E6E6;
}

.dis_list .discount{
	width: 100%;
	margin: 20px 0px;
	padding-right: 10px;
	float: left;
}
.coupon{
	position: relative;
	padding-top: 45px;
}
.coupon_finish{
	position: relative;
	margin-top: -10px;
}
.coupon_finish .discount{
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
}
.coupon .cou_shopname,.coupon_finish .cou_shopname{
	position: absolute;
	width: 20px;
	top: 15%;
	font-size: 12px;
	color: #FFF;
	line-height: 15px;
	left: 5%;
	overflow: hidden;
}
.coupon .discount{
	width: 100%;
	margin: 10px 0px;
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
}
.coupon .cou_discount{
	position: absolute;
	color: #0097E6;
	font-size: 14px;
	top:40%;
	left: 18%;
}
.coupon_finish .cou_discount{
	position: absolute;
	color: #0098E6;
	font-size: 14px;
	top:40%;
	left: 18%;
}
.coupon_finish .in_finish{
	position: absolute;
	right: 15%;
	font-size: 15px;
	font-weight: bold;
	color: #666;
	top: 15%;
}
.coupon_finish .cou_number{
	width: 100%;
	position: absolute;
	font-size: 10px;
	color: #333;
	bottom: 8%;
	padding-left: 12%;
	margin: 0;
}
.coupon .in_finish{
	position: absolute;
	right: 8%;
	font-size: 16px;
	color: #666;
	top: 40%;
	margin: 0;
}
.in_finish .is_finish{
	font-weight: bold;
}
.coupon .cou_number{
	width: 100%;
	position: absolute;
	font-size: 10px;
	color: #333;
	bottom: 8%;
	padding-left: 12%;
	margin: 0;
}
.coupon .in_group{
	position: absolute;
	right: 14%;
	font-size: 12px;
	color: #666;
	font-weight: bold;
	top: 25%;
	margin: 0;
}
.v_line {
	height: 55px;
	width: 1px;
	opacity: 0.5;
	right: 110px;
	background-color: #E6E6E6;
	float: left;
}

.dis {
	float: left;
	margin-top: 25px;
	margin-left: 15px;
	font-size: 14px;
	color: #666;
}

.have_size {
	font-size: 15px;
	color: #0098E6;
	margin-right: 10px;
	margin-top: 20px;
}

.fun {
	font-size: 12px;
	margin-top: -15px;
	margin-right: 10px;
	color: #666;
}

.pos {
	margin-top: 3px;
}

.use_size {
	width: 100%;
	height: 80px;
	float: left;
	background: white;
}

.use_k {
	color: #666;
	margin-top: 15px;
	margin-left: 10px;
}

.add {
	width: 18px;
	height: 18px;
	text-align: center;
	vertical-align: middle;
}

.add_pz {
	margin-right: 35px;
	margin-top: 5px;
}

.add_pz span {
	font-size: 14px;
	color: #0098E6;
	font-weight: bold;
}

.give_btn {
	top: 25px!important;
	background: #0078E6!important;
}


/*认证商家*/

.guss_shop {
	height: 30px;
}


/*我的收益*/

.c_pro {
	width: 100%;
	height: 88px;
	background: white;
}

.c_txt {
	font-size: 14px;
	color: #666;
	text-align: center;
	padding-top: 10px;
}

.get {
	font-size: 40px;
	color: #0098E6;
	font-weight: 700;
	margin-top: 10px;
	text-align: center;
}


/*我的收款码*/

.qrcode_img {
	margin: 0 auto;
    width: 80%;
    height: 300px;
    display: block;
    background: white;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    text-align: center;
    margin-top: 48%;
}

.myqrcode_img {
	margin: 0 auto;
	width:285px;
	height: 285px;
	display: block;
	background: white;
	text-align: center;
	margin-top: 45%;
	border-radius: 10px;
}

.myqrcode_img .my_img {
	width: 80%;
	height: 180px;
	margin-top: 30px;
}

.myqrcode_img .tips_code {
	color: #999;
}

.code_img {
	width: 200px;
    height: 200px;
    margin-top: 50px;
}


/*.qrcode {
	width: 70%;
	height: 232px;
	margin-top: 150px;
	margin-left: 70px;
}*/

.check_dis {
	float: left;
    width: 100%;
    height: 45px;
    background: #F2F2F2;
    margin-top: 40px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
}

.share_dis {
	float: left;
	width: 100%;
	height: 43px;
	background: #F2F2F2;
	border-radius: 10px 10px 0 0;
}

.share_dis .lit_img {
	width: 10px;
	height: 10px;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}

.share_dis .mycode {
	float: left;
	line-height: 40px;
	margin-left: 7px;
	font-size: 12px;
	color: #0098E4;
}

.check_dis .dis_name {
	float: left;
    margin-left: 35%;
    margin-top: 10px;
    font-size: 15px;
    color: #0098E6;
}

.collect_img {
	float: right;
    width: 8px;
    height: 13px;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 15px;
}


/*商家展示*/

.shop_content .shop_img {
	width: 100%;
	height: 240px;
	margin: 0;
	padding: 0;
	position: relative;
}

.shop_content .change_bg {
	width: 100%;
	height: 65px;
	position: absolute;
	z-index: 10;
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1)100%, rgba(0, 0, 0, 0.1)0%);
}

.shop_content .return {
	position: absolute;
	top: 20px;
	width: 12px;
	height: 24px;
	left: 25px;
	z-index: 15;
}

.shop_content .safe {
	position: absolute;
	top: 25px;
	right: 10px;
	width: 15px;
	height: 15px;
	z-index: 15;
}

.shop_content .faword {
	position: absolute;
	top: 25px;
	right: 35px;
	width: 15px;
	height: 15px;
	z-index: 15;
}

.hotel_name {
	background-color: white;
	float: left;
	width: 100%;
	height: 44px;
	overflow: hidden;
	position: relative;
}

.hotel_name:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 15px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.hotel_name span {
	line-height: 42px;
	padding-left: 15px;
	font-size: 14px;
}

.hotel_info ul {
	padding: 0;
	margin: 0;
}

.hotel_info ul {
	padding-left: 10px;
}

.hotel_info {
	width: 100%;
	height: auto;
	background: white;
	float: left;
}

.hotel_info ul li {
	width: 100%;
}

.hotel_info ul li .send {
	float: left;
}

.hotel_info .send {
	width: 20px;
	height: 20px;
	margin-top: 15px;
}

.h_info ul {
	padding: 0;
	margin: 0;
}

.h_info ul {
	padding-left: 10px;
}

.h_info {
	width: 100%;
	height: auto;
	float: left;
	background: white;
	overflow: hidden;
	position: relative;
}

.h_info:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 15px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.h_info ul li {
	width: 100%;
}

.h_info ul li .sell {
	float: left;
}

.h_info .sell {
	width: 20px;
	height: 20px;
}

.cont_text {
	font-size: 12px;
	color: #333;
	float: left;
	margin-left: 10px;
	margin-bottom: 13px;
	margin-top: 14px;
}

.c_text {
	font-size: 12px;
	color: #333;
	float: left;
	margin-left: 10px;
	margin-bottom: 12px;
}

.hotel_pos,
.h_phone {
	width: 100%;
	height: auto;
	background: white;
	float: left;
}

.hotel_pos ul,
.h_phone ul {
	padding: 0;
	margin: 0;
}

.hotel_pos ul,
.h_phone ul {
	padding-left: 10px;
}

.hotel_pos ul li .pos,
.h_phone ul li.phone {
	float: left;
}

.hotel_pos .pos {
	width: 20px;
	height: 20px;
}

.h_phone .phone {
	width: 20px;
	height: 20px;
	float: left;
}

.addresss {
	font-size: 12px;
	color: #333;
	float: left;
	margin-left: 10px;
	margin-bottom: 13px;
	/*margin-top: 14px;*/
}
.share_icon{
	width: 100%;
	height: 150px;
	background: #0098E6;
	float: left;
	text-align: center;
}
.share_icon .share_img{
	width: 42px;
	margin-top: 20%;
}
.sh_txt{
	margin: 0;
	color: #fff;
	font-size: 13px;
	text-align: center;	
}
.c_phone {
	font-size: 12px;
	color: #333;
	float: left;
	margin-left: 10px;
	margin-bottom: 12px;
}

.shopcontent {
	width: 100%;
	float: left;
	height: 44px;
	background: white;
	margin-top: 5px;
	overflow: hidden;
	position: relative;
}

.shopcontent:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 15px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.shopcontent img {
	width: 15px;
	height: 15px;
	vertical-align: middle;
	float: left;
	margin-top: 15px;
	margin-left: 11px;
	margin-right: 10px;
}

.shopcontent span {
	line-height: 44px;
}
.content_info{
	height: auto;
    background: white;
    width: 100%;
    float: left;
}
.content_info p {
	line-height: 24px;
	font-size: 13px;
	color: #666;
	padding-left: 10px;
}

.t_color {
	background-color: #0098E6 !important;
}


/*签约信息*/

.sign_info {
	width: 100%;
	height: 200px;
	background: #78c5ec;
	text-align: center;
	line-height: 100px;
}

.sign_info .bus_img {
	width: 165px;
	height: 120px;
	margin-top: 55px;
	margin-bottom: 15px;
}

.sign_address {
	width: 100%;
	height: 43px;
	background: white;
	float: left;
	margin-bottom: 6px;
}

.sign_address label {
	font-size: 14px;
	float: left;
	margin: 10px 10px;
}

.sign_address .address {
	color: #666;
	font-size: 14px;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}

.see {
	font-size: 12px;
	color: #666;
	margin: 12px;
}

.see span {
	color: #0098E6;
}

.price_count span {
	line-height: 150px;
	font-size: 15px;
	font-weight: bold;
}


/*我的凭证*/

.dis_lists {
	text-align: center;
	position: relative;
}

.dis_lists .discount {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 8px;
}

.di_list .dicounts {
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 10px;
}

.img_pay {
	text-align: center;
	background: white;
	margin-top: 15px;
}

.img_pay .pay_cont {
	font-size: 12px;
	margin-top: -5px;
	color: #666;
	font-family: '苹黑';
}

.img_pay .pay_img {
	width: 60px;
}

.sd_tips {
	margin-top: -10px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.give_anduse {
	width: 50%;
	height: 45px;
	border: 1px solid #0098E6;
}

.give_andus {
	width: 50%;
	height: 45px;
	border: 1px solid #0098E6;
	border-left: none;
}

.give_anduse .lt_img,
.give_andus .lt_img {
	width: 18px;
	vertical-align: middle;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 7px;
}

.give_anduse .give_frid,
.give_andus .give_frid {
	font-size: 12px;
	color: #666;
	line-height: 45px;
}

.vou_tips {
	font-size: 12px;
	text-align: center;
	border: 1px solid #0098E6;
}

.sd_tips .user_orgive {
	height: 35px;
	width: 40%;
	margin-top: -5px;
	margin-bottom: 5px;
}

.num_8size {
	position: absolute;
	top: 42%;
	font-size: 18px;
	right: 18%;
	color: #fff;
}

.dis_lists .grade {
	position: absolute;
	color: #cbe3f8;
	font-size: 14px;
	top:58%;
	left: 10%;
}
.dis_lists .is_yusesize{
	position: absolute;
	top: 45%;
	font-size: 16px;
	color: #FFFFFF;
	right:16%;
}
.com_text {
	color: white;
	font-size: 18px;
}

.num_7size,
.num_5size,
.num_6size {
	position: absolute;
	top: 40px;
	right: 65px;
	color: #fff;
}

#detail {
	/*color: #666!important;*/
	padding: 0px 10px;
}

.join_img {
	width: 100%;
	margin-top: 25px;
}

.l_totop {
	margin-top: 5px;
}

.to_top {
	margin-top: 25px;
}

.shop_leninfo {
	width: 100%;
	text-align: center;
	margin-top: 130px;
}

.shop_leninfo .cer_text {
	font-size: 17px;
	color: #0098E4;
}

.mar_img {
	width: 123px;
	margin: 0 auto;
	text-align: center;
}

.change_imgpic {
	background: url(../img/default/chk_dis.png) no-repeat;
	width: 20px;
	height: 20px;
}


/* 7/31 */
/*报账详情*/
.give_anduses {
	width: 100% !important;
}

.give_anduses img {
	margin-left: 30% !important;
}

.invoice_bar {
	width: 100%;
	height: 203px;
	background: #78c5ec;
	text-align: center;
}

.inv_img {
	width: 80%;
	height: 168px;
	margin-top: 17px;
	position: relative;
}
.bg_invoice{
	width: 73%;
	height: 148px;
	background: #0098E6;
	position: absolute;
	top: 70px;
	left: 10%;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
}
.invoce_img{
	width: 100%;
	height: 148px;
	padding-left: 15px;
	padding-right: 15px;
}
/*商品分类*/
.type_name{
	font-size: 15px;
	color: #666;
	float: left;
	line-height: 40px;
}
.type_icon{
	width: 20px;
	vertical-align: middle;
	float: left;
	margin-top: 10px;
	margin-right: 8px;
}
.sharecode_img{
	width: 44px;
    margin-left: 75%;
    margin-top: 15%;
    vertical-align: middle;
}
.friend_img{
	width: 44px;
	margin-top: 15%;
    vertical-align: middle;
}
}
.friend{
	width: 50%;
	padding-left: 5%;
    padding-top: 15%;
}
.frend_text{
	color: #FFF;
	margin: 0;
}
.code_text{
	color: #FFF;
    margin: 0;
    position: absolute;
    left: 33.5%;
}
.wchat{
	width: 40%;
    padding-top: 5%;
}
.share_bar{
	margin-left: 5%;
    text-align: center;
}

/*.des_img-08{
	background: url(../img/default/icon-des-08.png) no-repeat !important;
	background-size: 40px 40px;
}
.des_img-07{
	background: url(../img/default/icon-des-07.png) no-repeat !important;
	background-size: 40px 40px;
}
.des_img-06{
	background: url(../img/default/icon-des-06.png) no-repeat !important;
	background-size: 40px 40px;
}
.des_img-05{
	background: url(../img/default/icon-des-05.png) no-repeat !important;
	background-size: 40px 40px;
}*/

.des_imgs{
	width: 40px;
	height: 40px;
	display: block;
}
.des_img_no{
	background: none !important;
}

.mui-bar-nav.mui-bar .mui-icon{
	padding-top: 10px;
	margin-top: 0 !important;
}
.invoice_value {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex
}
.invoice_value::after {
    border-bottom: 1px solid #ccc;
    content: ' ';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform-origin: left bottom;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5)
}
.invoice_value input {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    border: none;
    margin-top: 6px;
}

/* 模态提示框  */
.myModal{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	z-index: 99;
}
.myModal_cont{
	width: 80%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: inline-table;
	background: #fff;
	border-radius: 10px;
	margin: auto;
}
.myModal_title{
	padding: 20px 0 10px;
}

.myModal_cont p{
	text-align: center;
	line-height: 20px;
	margin-top: 5px ;
}
.myModal_cont .myModal_bot{
	margin-top: 10px;
	width: 100%;
}
.myModal_color{
	color: #0098E6 !important;
}
.myModal_cont .myModal_bot button{
	width: 100%;
	height: 44px;
	border-radius: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: none;
	border-top: 1px solid #ccc;
	font-size: 18px;
	color: #666;
}








