<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>关于我们</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
	</head>
	<style>
		.right {
			float: right;
			width: 8px;
			height: 13px;
			margin-top: 3px;
		}
	</style>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
			<h1 class="mui-title">关于我们</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell " id="stipulate">
					平台消费赠送与消费补贴规则
					<img src="../../img/default/right.png" class="right">
				</li>
				<li class="mui-table-view-cell " id="plant">
					公司简介
					<img src="../../img/default/right.png" class="right">
				</li>
				<li class="mui-table-view-cell " id="version">
					版本检查
					<img src="../../img/default/right.png" class="right">
				</li>
				<li class="mui-table-view-cell " id="nor_que">
					常见问题答疑
					<img src="../../img/default/right.png" class="right">
				</li>
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true
			});
			mui.plusReady(function() {

				var isLogin = null;
				mui.app_request("Post", {
					"OPERATE_TYPE": "10081",
					"AUTH_ID": localStorage.getItem("auid"),
				}, function(result) {

					if(result.RESULTCODE == 0) {

						if(result.RESULTLIST.is_login == 1) {

							return;
						} else {
							isLogin = 0;
							mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
								localStorage.removeItem("auid");
								booking.closeAndOpenNewWindow("../login/login.html", "login");
							});
							return;
						}
					}

				}, function(result) {
					if(result.RESULTCODE == -1) {
						isLogin = 0;
						mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
							localStorage.removeItem("auid");
							booking.closeAndOpenNewWindow("../login/login.html", "login");
						});
						return;
					} else {

						return;

					}
				});
				if(isLogin === 0) {
					return;
				}

				document.getElementById('plant').addEventListener('tap', function() {
					mui.openWindow({
						id: 'plat',
						url: '../static_url/introduction.html'
					});
				});
				document.getElementById("version").addEventListener("tap", function() {
					// 获取本地应用资源版本号
					plus.runtime.getProperty(plus.runtime.appid, function(inf) {
						wgtVer = inf.version;
						mui.toast("您当前的版本为" + wgtVer);

					});

				})

				document.getElementById('nor_que').addEventListener('tap', function() {
					mui.openWindow({
						id: 'normal_que',
						url: 'normal_que.html'
					});
				});
				document.getElementById('stipulate').addEventListener('tap', function() {
					mui.openWindow({
						id: 'stipulate',
						url: 'stipulate.html'
					});
				});
			})
		</script>
	</body>

</html>