<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>分类列表</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/common.js" type="text/javascript"></script>
		<script src="../../js/jquery-3.1.0.min.js" type="text/javascript"></script>
		<style type="text/css">
			.mui-scroll-wrapper {
				position: absolute !important;
			}
			
			#shop_list,
			#pullrefresh {
				width: 100%;
				display: block;
			}
			
			#sliderSegmentedControl {
				position: fixed;
				top: 46px;
				width: 100%;
				height: 90px;
				z-index: 99;
			}
		</style>
		<script type="text/javascript">
			mui.init({
				swipeBack:true,
				pullRefresh: {
					container: '#pullrefresh',
					up: {
						contentrefresh: '正在加载...',
						contentnomore:'没有更多数据了',
						callback: pullupRefresh,
					}
				}
			});
			var auid = localStorage.getItem("auid");
			var count = 0;
			mui.plusReady(function() {
				var isLogin = null;
				mui.app_request("Post", {
					"OPERATE_TYPE": "10081",
					"AUTH_ID": localStorage.getItem("auid"),
				}, function(result) {
				
					if(result.RESULTCODE == 0) {
							
						if(result.RESULTLIST.is_login == 1) {

							return;
						} else {
							isLogin =0;
							mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
								localStorage.removeItem("auid");
								booking.closeAndOpenNewWindow("../login/login.html", "login");
							});
							return;
						}
					}

				}, function(result) {
					if(result.RESULTCODE == -1) {
						isLogin =0;
						mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
							localStorage.removeItem("auid");
							booking.closeAndOpenNewWindow("../login/login.html", "login");
						});
						return;
					} else {
						
						return;

					}
				});
				if(isLogin === 0){
					return;
				}
				var u = navigator.userAgent;
				var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
				var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端

				if(isAndroid == true) {
					var height = document.body.clientHeight;
					$("#body_margin").css('margin-top', -80 + "px");
					$("#pullrefresh").css('height', height - 170 + "px");
					$("#pullrefresh").css('margin-top', 216 + "px");
					$("#pullrefresh").css('overflow', ' auto');
				}
				if(isiOS == true) {
					var height = document.body.clientHeight;
					$("#pullrefresh").css('overflow', ' hidden');
					$("#pullrefresh").css('height', height - 140 + "px");
					$("#pullrefresh").css('margin-top', 138 + "px");
					$("#body_margin").css('margin-top', -50 + "px");
				}
				
				if(!auid) {
					$("#nomessage").css("display", "block");
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh(true);
					return;
				}
				var page = $("#shop_list").attr("page");
				var size = 10;
				mui.app_request('POST', {
					"OPERATE_TYPE": "10040",
					"AUTH_ID": auid,
					"BEGIN": page,
					"SIZE": size,
				}, function(data) {
					if(data.RESULTCODE == "0") {
						var total_amount= data.RESULTLIST.total_amount;
						var turnover_num = 0;
						var result = (total_amount.toString()).indexOf(".");
					    if(result != -1) {
					        //alert("含有小数点");
					        var leng = total_amount.toString().split(".")[1].length;
					        if(leng==1){
					        	turnover_num = total_amount+'0';
					        }else if(leng>2){
					        	turnover_num = total_amount.toString().split(".")[0] + '.' + total_amount.toString().split(".")[1].substr(0,2)
					        }else{
					        	 turnover_num = total_amount
					        }
					    } else {
					      turnover_num = total_amount + '.00'
					    }
						$("#banlance_common_sub").html(turnover_num)
						//mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > data.RESULTLIST.totalsize));
						var data = data.RESULTLIST.result;
						var _html = "";
						var html_ = "";
						for(var i = 0; i < data.length; i++) {
							var sData = data[i];
							_html += '<div class="bus_content">';
							_html += '<div class="left_time">';
							_html += '<p><span class="sub_reim">消费补贴：</span><span class="sub_price">' + (sData.amount).toFixed(2) + '</span></p>';
							_html += '<span><span class="sub_time">' + sData.create_time + '</span></span>';
							_html += '</div>';
							_html += '<div class="fr">';
							_html += '<p><span class="other_name">服务商家</span></p>';
							_html += '<span class="other_info fr"><span class="other_peo"></span><span class="other_phone">' + sData.proxy_nickname + '</span></span>';
							_html += '</div>';
							_html += '</div>';
						}
						$("#shop_list").attr("page", parseInt(page) + size)
						$("#shop_list").append(_html);
					}
					return;
				}, function(result) {

					return;
				});
			})

			function pullupRefresh() {
				setTimeout(function() {
					auid = localStorage.getItem("auid");
					if(!auid) {
						$("#nomessage").css("display", "block");
						mui('#pullrefresh').pullRefresh().endPulldownToRefresh(true);
						return;
					}
					var page = $("#shop_list").attr("page");
					var size = 5;
					mui.app_request('POST', {
						"OPERATE_TYPE": "10040",
						"AUTH_ID": auid,
						"BEGIN": page,
						"SIZE": size,
					}, function(data) {
						if(data.RESULTCODE == "0") {
							///$("#banlance_common_sub").html(data.RESULTLIST.total_amount)
							mui('#pullrefresh').pullRefresh().endPullupToRefresh((++page > data.RESULTLIST.totalsize));
							var data = data.RESULTLIST.result;
							var _html = "";
							var html_ = "";
							for(var i = 0; i < data.length; i++) {
								var sData = data[i];
								_html += '<div class="bus_content">';
								_html += '<div class="left_time">';
								_html += '<p><span class="sub_reim">消费补贴：</span><span class="sub_price">' + (sData.amount).toFixed(2) + '</span></p>';
								_html += '<span><span class="sub_time">' + sData.create_time + '</span></span>';
								_html += '</div>';
								_html += '<div class="fr">';
								_html += '<p><span class="other_name">服务商家</span></p>';
								_html += '<span class="other_info fr"><span class="other_peo"></span><span class="other_phone">' + sData.proxy_nickname + '</span></span>';
								_html += '</div>';
								_html += '</div>';
							}
							$("#shop_list").attr("page", parseInt(page) + size)
							$("#shop_list").append(_html);
						}
						return;
					}, function(result) {

						return;
					});
				}, 1000)
			}

			function dateUtil(a) {
				return a.substring(0, 10);
			}
			
		</script>

	</head>
	<header id="header" class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
		<h1 class="mui-title">补贴记录</h1>
	</header>

	<body style="border: 1px rgba(000,000,000,0) solid;" id="body_margin">
		<div id="sliderSegmentedControl">
			<div class="ac_info " id="common">
				<div class="banlance">
					<p class="submitted"><span>消费补贴(元)</span></p>
					<p class="count_reim"><span id="banlance_common_sub" class="red">0.00</span></p>
				</div>
			</div>
		</div>
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper" style="padding: 0;">
			<div class="mui-scroll">
				<!--数据列表-->
				<div class="mui-table-view-chevron" id="shop_list" page="0">
					<!--<div class="bus_content">
						<div class="left_time">
							<p><span class="sub_reim">提交报账：</span><span class="sub_price">2312</span></p>
							<span><span class="sub_time">1232131</span></span>
						</div>
						<div class="fr">
							<p><span class="other_name">他人代报</span></p>
							<span class="other_info fr"><span class="other_peo">报账商家：</span><span class="other_phone">32132323</span></span>
						</div>
					</div>
					<div class="bus_content">
						<div class="left_time">
							<p><span class="sub_reim">提交报账：</span><span class="sub_price">2312</span></p>
							<span><span class="sub_time">1232131</span></span>
						</div>
						<div class="fr">
							<p><span class="other_name">他人代报</span></p>
							<span class="other_info fr"><span class="other_peo">报账商家：</span><span class="other_phone">32132323</span></span>
						</div>
					</div>
					<div class="bus_content">
						<div class="left_time">
							<p><span class="sub_reim">提交报账：</span><span class="sub_price">2312</span></p>
							<span><span class="sub_time">1232131</span></span>
						</div>
						<div class="fr">
							<p><span class="other_name">他人代报</span></p>
							<span class="other_info fr"><span class="other_peo">报账商家：</span><span class="other_phone">32132323</span></span>
						</div>
					</div>
					<div class="bus_content">
						<div class="left_time">
							<p><span class="sub_reim">提交报账：</span><span class="sub_price">2312</span></p>
							<span><span class="sub_time">1232131</span></span>
						</div>
						<div class="fr">
							<p><span class="other_name">他人代报</span></p>
							<span class="other_info fr"><span class="other_peo">报账商家：</span><span class="other_phone">32132323</span></span>
						</div>
					</div>
					<div class="bus_content">
						<div class="left_time">
							<p><span class="sub_reim">提交报账：</span><span class="sub_price">2312</span></p>
							<span><span class="sub_time">1232131</span></span>
						</div>
						<div class="fr">
							<p><span class="other_name">他人代报</span></p>
							<span class="other_info fr"><span class="other_peo">报账商家：</span><span class="other_phone">32132323</span></span>
						</div>
					</div>
					<div class="bus_content">
						<div class="left_time">
							<p><span class="sub_reim">提交报账：</span><span class="sub_price">2312</span></p>
							<span><span class="sub_time">1232131</span></span>
						</div>
						<div class="fr">
							<p><span class="other_name">他人代报</span></p>
							<span class="other_info fr"><span class="other_peo">报账商家：</span><span class="other_phone">32132323</span></span>
						</div>
					</div>
					<div class="bus_content">
						<div class="left_time">
							<p><span class="sub_reim">提交报账：</span><span class="sub_price">2312</span></p>
							<span><span class="sub_time">1232131</span></span>
						</div>
						<div class="fr">
							<p><span class="other_name">他人代报</span></p>
							<span class="other_info fr"><span class="other_peo">报账商家：</span><span class="other_phone">32132323</span></span>
						</div>
					</div>
					<div class="bus_content">
						<div class="left_time">
							<p><span class="sub_reim">提交报账：</span><span class="sub_price">2312</span></p>
							<span><span class="sub_time">1232131</span></span>
						</div>
						<div class="fr">
							<p><span class="other_name">他人代报</span></p>
							<span class="other_info fr"><span class="other_peo">报账商家：</span><span class="other_phone">32132323</span></span>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</body>

</html>