<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>城市代理收益</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<script src="../../js/jquery-3.1.0.min.js" type="text/javascript"></script>
		<script src="../../js/mui.min.js" type="text/javascript"></script>
		<script src="../../js/common.js" type="text/javascript"></script>
		<style type="text/css">
			.c_pro {
				padding-top: 0;
				margin-top: -14px;
			}
		</style>
		<script type="text/javascript">
			mui.init({
				swipeBack:true,
				pullRefresh: {
					container: "#pullrefresh", //待刷新区域标识
					up: {
						contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
						callback: fundmore, //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					}
				}
			});
			var list_num = 0;
			var auid = null;
			var size = 10;
			mui.plusReady(function() {
				if(mui.os.ios) {
					var height = document.body.clientHeight;
					$("#pullrefresh").css('overflow', ' hidden');
					$("#pullrefresh").css('height', height - 140 + "px");
					$("#pullrefresh").css('margin-top', 138 + "px");
					$("#body_margin").css('margin-top', -50 + "px");
				} else if(mui.os.android) {
					var height = document.body.clientHeight;
					$("#body_margin").css('margin-top', -80 + "px");
					$("#pullrefresh").css('height', height - 164 + "px");
					$("#pullrefresh").css('margin-top', 166 + "px");
					$("#pullrefresh").css('overflow', ' auto');
				}

				auid = localStorage.getItem("auid");
				mui.app_request('POST', {
					"OPERATE_TYPE": "10061",
					"AUTH_ID": auid,
					"BEGIN": list_num,
					"SIZE": size
				}, function(data) {
					if(data.RESULTCODE == "0") {
						$("#total_amount").html(data.RESULTLIST.total_amount)
						var list = data.RESULTLIST.result;
						listData(list);
						list_num = list_num + size;
					}
					return;
				}, function(result) {
					if(result.RESULTCODE == "-1") {
						mui.toast(result.DESCRIPTION);
					} else {
						mui.toast("系统异常，请重试");
					}
					return;
				});
			});
			//加载更多  
			function fundmore() {
				setTimeout(function() {
					auid = localStorage.getItem("auid");
					if(!auid) {
						$("#nomessage").css("display", "block");
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
						return;
					}
					mui.app_request('POST', {
						"OPERATE_TYPE": "10061",
						"AUTH_ID": auid,
						"BEGIN": list_num,
						"SIZE": size
					}, function(data) {
						if(data.RESULTCODE == "0") {

							var list = data.RESULTLIST.result;
							listData(list);
							list_num = list_num + size;
							if(list.length < 1) {
								mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
							} else {
								mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);
							}
						}
						return;
					}, function(result) {
						if(result.RESULTCODE == "-1") {
							mui.toast(result.DESCRIPTION);
						} else {
							mui.toast("系统异常，请重试");
						}
						return;
					});
				}, 1500);
			}

			function getDate(a) {
				var date = new Date(a);
				return a.substring(0, 10);
			}

			function listData(list) {
				var _html = "";
				for(var i = 0; i < list.length; i++) {
					_html += '<div class="with_content">';
					_html += '<div class="left_time">';
					_html += '<p><span class="sub_type">' + list[i].des + '</span></p>';
					_html += '<span><span class="get_time">' + list[i].create_time + '</span></span>';
					_html += "</div>";
					_html += '<div class="fr">';
					_html += '<p><span class="profit">' + list[i].amount + '</span></p>';
					_html += '</div></div>';
				}
				$("#messages").append(_html);
			}
		</script>
	</head>

	<body style="border: 1px rgba(000,000,000,0) solid;" id="body_margin">
		<div class="c_pro" style="z-index: 4;position:fixed;top: 0;left: 0;height: 100px;">
			<p class="c_txt">累计收益(元)</p>
			<p class="get" id="total_amount">0.00</p>
		</div>
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper" style="padding: 0px;">
			<div class="mui-scroll">
				<div id="messages">

				</div>
			</div>
		</div>
	</body>

</html>