<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>授权委托书</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css"/>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack:true
			});
		</script>
		<style type="text/css">
			.at_info{
				font-size: 15px;
				color: #333;
				font-weight: bold;
				margin-left: 10px;
			}
			.at_info span{
				color: #666;
				font-weight: normal;
			}
			.attor_name2{
				margin-top: 30px;
			}
			.fengeline{
				margin-top: 22px;
				margin-left: 10px;
			}
			.cont{
				font-size: 14px;
				color: #333;
				margin-left: 10px;
				text-align: justify;
				margin-right: 10px;
				line-height: 28px;
			}
			.mui-icon{
				margin: 0;
			}
		</style>
	</head>
	<header id="header" class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id="back"></a>
		<h1 class="mui-title">授权委托书</h1>
	</header>
	<body>
		<div class="mui-content">
			<div class="attor_name">
				<p class="at_info">委托人:<span>李四</span></p>
				<p class="at_info">身份证号码:<span>511221554480215530</span></p>
				<p class="at_info">联系电话:<span>18522355886</span></p>
			</div>
			<div class="attor_name2">
				<p class="at_info">委托人:<span>张三</span></p>
				<p class="at_info">身份证号码:<span>510218198855662256</span></p>
				<p class="at_info">联系电话:<span>15844899663</span></p>
			</div>
			<hr class="fengeline"/>
			<div class="attor_name">
				<p class="cont">就委托人实体店铺XXXX，入驻共生网平台（包括网站、手机端等其他归属于共生网的系统）一事，委托人对受托人授权如下：</p>
				<p class="cont">授权受托人代理委托人对重庆共生网络技术服务有限公司的共生网平台进行相应的账号注册、店铺申请和入驻所需的全部相关资料的提交审核事宜。一切产生的法律责任后果由委托人自行承担。</p>
				<p class="cont">本授权委托书自委托人、受托人签字之日起生效。</p>
			</div>
			<div style="background: #fff;height: 200px;">
				<img src="../../img/buy/atto3.png" style="width: 40%;float: left;padding-top: 22px;margin-left: 10px;"/>
				<img src="../../img/buy/atto2.png" style="width: 40%;float: right;padding-top: 16px;margin-right: 10px;"/>
			</div>
		</div>
		
	</body>

</html>