<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>登 录</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="Access-Control-Allow-Origin" content="*">
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<script type="text/javascript" src="../../js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<style>
			.ul {
				margin-top: 0 !important;
				margin-bottom: 0 !important;
			}
			
			.mui-content {
				height: 100%;
				position: relative;
			}
			
			.mt {
				margin-top: 11px;
			}
			
			.mui-input-row:after {
				left: 0 !important;
			}
			
			.mui-input-row label {
				padding-left: 0 !important;
			}
			
			.mui-input-row input {
				text-indent: 10px;
			}
			
			input {
				font-size: 15px;
			}
			#phoneTip{
				margin-left: 10px;
				margin-bottom: 40px;
				font-size: 14px;
				color: #999;
			}
			.mui-icon-info {
				font-size: 16px !important;
			}
			#trueName{
				margin-left: 10px;
			}
		</style>
		<script>
			mui.init();
			var uuid = null;
			var auid = localStorage.getItem("auid");
			var checId = false;
			var win = null;
			var mobile = null;
			
			var isLogin = null;
			mui.plusReady(function() {
				mui.app_request("Post", {
					"OPERATE_TYPE": "10081",
					"AUTH_ID": localStorage.getItem("auid"),
				}, function(result) {
				
					if(result.RESULTCODE == 0) {
							
						if(result.RESULTLIST.is_login == 1) {

							return;
						} else {
							isLogin =0;
							mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
								localStorage.removeItem("auid");
								booking.closeAndOpenNewWindow("../login/login.html", "login");
							});
							return;
						}
					}

				}, function(result) {
					if(result.RESULTCODE == -1) {
						isLogin =0;
						mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
							localStorage.removeItem("auid");
							booking.closeAndOpenNewWindow("../login/login.html", "login");
						});
						return;
					} else {
						
						return;

					}
				});
				if(isLogin == 0){
					return;
				}
				win = plus.webview.currentWebview();
				document.getElementById("trueName").innerHTML = win.name;
				mui.app_request('POST', {
					"OPERATE_TYPE": "10023",
					"AUTH_ID": auid
				}, function(data) {
					console.log(auid)
					if(data.RESULTCODE == "0") {
						mobile = data.RESULTLIST.my_base_info.username;
						document.getElementById("trueName").innerHTML=data.RESULTLIST.ida_info.real_name;
						$("#phoneTip").html('将向手机'+replacePhone(mobile)+'发送验证码')
					}
					return;
				}, function(result) {
					mui.toast("系统异常，请重试");
				});

				document.getElementById("up_send").addEventListener("tap", function() {
					$("input").blur();
					var send = document.getElementById("up_send");
					booking.smsTime_new(send);
					mui.app_request('POST', {
						"OPERATE_TYPE": "10001",
						"MOBILE": mobile,
						"B_TYPE": "47"
					}, function(data) {
						if(data.RESULTCODE == "0") {
							uuid = data.RESULTLIST.UUID;
						}
						return;
					}, function(data) {
						if(data.RESULTCODE == "-1") {
							mui.toast(data.DESCRIPTION);
						} else {
							mui.toast("系统异常，请重试！");
						}
						return;
					});

				})

				//登录的点击事件 
				document.getElementById("login").addEventListener('tap', function() {
					setDisabled("login");
					$("input").blur();
					var account = document.getElementById("payAccount").value;
					var code = document.getElementById("code").value;
					if(mui.isnull(account)) {
						mui.toast("请输入支付宝账号");
						remDisabled("login");
						return;
					}

					if(mui.isnull(code)) {
						mui.toast("验证码不能为空");
						remDisabled("login");
						return;
					}
					if(mui.isnull(uuid)) {
						mui.toast("请先发送验证码");
						remDisabled("login");
						return;
					}

					mui.app_request('POST', {
						"OPERATE_TYPE": "10085",
						"AUTH_ID": auid,
						"SMS_CODE": code,
						"ACCOUNT_NUM": account,
						"UUID": uuid
					}, function(data) {
						if(data.RESULTCODE == "0") {
							remDisabled("login");
							mui.toast("绑定成功");
							uuid = null;
							booking.closeAndOpenNewWindow(
								'mine.html',
								'mine'
							)
						}

						remDisabled("login");
						return;
					}, function(data) {
						if(data.RESULTCODE == "-1") {
							mui.toast(data.DESCRIPTION);
						} else {
							mui.toast("系统异常，请重试！");
						}
						remDisabled("login");
						return;
					});
				});

			})
//			replacePhone(phone)
		</script>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class=" mui-action-back  mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
			<h1 class="mui-title">绑定支付宝</h1>
		</header>
		<div class="mui-content">
			<div class="ul">
				<ul class="input-row mui-input-group">
					<div class="mui-input-row">
						<label>支付宝实名:</label>
						<label id="trueName"></label>
					</div>
					<div class="mui-input-row">
						<label>支付宝账号:</label>
						<input type="text" class="mt" placeholder="请输入本人支付宝账号" id="payAccount">
					</div>
					
					<li>
						<input id="code" type="number" class="mui-input" autocomplete="off" maxlength="4" placeholder="请输入验证码" />
						<button id="up_send" type="button" class="send_code ">发送验证码</button>
					</li>
				
				</ul>
			</div>
			<p id="phoneTip">你将向手机13896885555发送验证码</p>
			<button id="login" type="button" class="mui-btn mui-btn-success mui-btn-block">确认</button>
			<div style="color: red;margin-left: 10px;"><span><i class="mui-icon mui-icon-info"></i>温馨提示：</span></div>

			<div style="color: #999;margin-left: 10px;width: 90%;margin: 0 auto;">1. 目前仅支持提现到支付宝账户，为保证用户账户资金安全，支付宝账户必须与共生网实名账户姓名一致。详询4001-026-090。</div>
			<div style="color: #999;margin-left: 10px;width: 90%;margin: 0 auto;">2. 同一账号一周内限提现1次</div>

		</div>

	</body>

</html>