<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>建立关系</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css"/>
		<style>
			body{background: white!important;}
		</style>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack:true
			});
		</script>
	</head>
	<header id="header" class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
		<h1 class="mui-title">建立关系</h1>
	</header>
	<body>
		<div class="have_fance" style="display: block;">
			<img src="../../img/relation/have.png" class="add_img"/>
			<p class="add_fen">恭喜你新增一位粉丝</p>
		</div>
		<div class="have_fance" style="display: block;">
			<img src="../../img/relation/no.png" class="add_img"/>
			<p class="no_fen">非常抱歉!</p>
			<p class="no_fentips">他已是平台用户的粉丝&nbsp;&nbsp;无法加入您的联盟</p>
		</div>
	</body>
</html>