<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商铺收益</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<script src="../../js/jquery-3.1.0.min.js" type="text/javascript"></script>
		<script src="../../js/mui.min.js" type="text/javascript"></script>
		<script src="../../js/common.js" type="text/javascript"></script>
		<style type="text/css">
			.c_pro {
				padding-top: 0;
				margin-top: -45px;
			}
		</style>
		<script type="text/javascript">
			mui.init({
				swipeBack:true,
				pullRefresh: {
					container: "#pullrefresh", //待刷新区域标识
					up: {
						contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
						callback: fundmore, //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					}
				}
			});
			var auid = null;
			var list_num = 0;
			mui.plusReady(function() {
				var u = navigator.userAgent;
				var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
				var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
		
				if(isAndroid == true){
					var height = document.body.clientHeight;
					$("#body_margin").css('margin-top',-80 + "px");
					$("#pullrefresh").css('height', height - 134 + "px");
					$("#pullrefresh").css('margin-top',134 + "px");
					$("#pullrefresh").css('overflow', 'auto');
				}
				if(isiOS == true){ 
					var height = document.body.clientHeight;
					$("#pullrefresh").css('overflow',' hidden');
					$("#pullrefresh").css('height', height - 104 + "px");
					$("#pullrefresh").css('margin-top',106 + "px");
					$("#body_margin").css('margin-top',-50 + "px");
				}

				auid = localStorage.getItem("auid");
				if(!auid) {
					$("#nomessage").css("display", "block");
					mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
					return;
				}
				if(auid) {
					mui.app_request('POST', {
						"OPERATE_TYPE": "10058",
						"AUTH_ID": auid,
						"BEGIN": list_num,
						"SIZE": "10"
					}, function(data) {
						if(data.RESULTCODE == "0") {
							$("#total_amount").html(data.RESULTLIST.total_amount)
							var list = data.RESULTLIST.result;
							listData(list);
							list_num = list_num + 10;
						}
						return;
					}, function(result) {
						if(result.RESULTCODE == "-1") {
							mui.toast(result.DESCRIPTION);
						} else {
							mui.toast("系统异常，请重试");
						}
						return;
					});
				}
			});
			//加载更多  
			function fundmore() {
				setTimeout(function() {
					auid = localStorage.getItem("auid");
					if(!auid) {
						$("#nomessage").css("display", "block");
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
						return;
					}
					mui.app_request('POST', {
						"OPERATE_TYPE": "10058",
						"AUTH_ID": auid,
						"BEGIN": list_num,
						"SIZE": "10"
					}, function(data) {
						if(data.RESULTCODE == "0") {

							var list = data.RESULTLIST.result;
							listData(list);
							list_num = list_num + 10;
							if(list.length < 1) {
								mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
							} else {
								mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);
							}
						}
						return;
					}, function(result) {
						if(result.RESULTCODE == "-1") {
							mui.toast(result.DESCRIPTION);
						} else {
							mui.toast("系统异常，请重试");
						}
						return;
					});
				}, 1500)
			}

			function getDate(a) {
				var date = new Date(a);
				//alert(a);
				return a.substring(0, 10);
			}

			function listData(list) {
				var _html = "";
				for(var i = 0; i < list.length; i++) {
					_html += '<div class="with_content">';
					_html += '<div class="left_time">';
					_html += '<p><span class="sub_type">' + list[i].des + '</span></p>';
					_html += '<span><span class="get_time">' + list[i].create_time + '</span></span>';
					_html += "</div>";
					_html += '<div class="fr">';
					_html += '<p><span class="profit">' + list[i].amount + '</span></p>';
					_html += '</div></div>';
				}
				$("#messages").append(_html);
			}
		</script>
	</head>

	<body style="border: 1px rgba(000,000,000,0) solid;" id="body_margin">
			<div class="c_pro" style="z-index: 4;position:fixed;top: 45px;left: 0;height: 100px;">
				<p class="c_txt">累计补贴(元)</p>
				<p class="get" id="total_amount">0.00</p>
			</div>
			<div id="pullrefresh" class="mui-content mui-scroll-wrapper" style=" padding-top: 47px;">
				<div class="mui-scroll">
				<div id="messages">
					<!--<div class="with_content">
						<div class="left_time">
							<p><span class="sub_type">222222222222</span></p>
							<span><span class="get_time">123123</span></span>
							</div>
							<div class="fr">
							<p><span class="profit">3213</span></p>
						</div>
					</div>
					<div class="with_content">
						<div class="left_time">
							<p><span class="sub_type">123123</span></p>
							<span><span class="get_time">123123</span></span>
							</div>
							<div class="fr">
							<p><span class="profit">3213</span></p>
						</div>
					</div>
					<div class="with_content">
						<div class="left_time">
							<p><span class="sub_type">123123</span></p>
							<span><span class="get_time">123123</span></span>
							</div>
							<div class="fr">
							<p><span class="profit">3213</span></p>
						</div>
					</div>
					<div class="with_content">
						<div class="left_time">
							<p><span class="sub_type">123123</span></p>
							<span><span class="get_time">123123</span></span>
							</div>
							<div class="fr">
							<p><span class="profit">3213</span></p>
						</div>
					</div>-->
				</div>
				</div>
			</div>

		<!--<div class="c_pro">
			<p class="c_txt">累计收益(元)</p>
			<p class="get">0.00</p>
		</div>
		<div class="with_content">
			<div class="left_time">
				<p><span class="sub_type">余额提现</span></p>
				<span><span class="get_time">2017-02-17</span></span>
			</div>
			<div class="fr">
				<p><span class="profit">-94.00</span></p>
			</div>
		</div>
		<div class="with_content">
			<div class="left_time">
				<p><span class="sub_type">平台奖励收益</span></p>
				<span><span class="get_time">2017-02-17</span></span>
			</div>
			<div class="fr">
				<p><span class="profit">+2.00</span></p>
			</div>
		</div>
		<div class="with_content">
			<div class="left_time">
				<p><span class="sub_type">已报销金额</span></p>
				<span><span class="get_time">2017-02-17</span></span>
			</div>
			<div class="fr">
				<p><span class="profit">+94.00</span></p>
			</div>
		</div>
		<div class="with_content">
			<div class="left_time">
				<p><span class="sub_type">报款收益</span></p>
				<span><span class="get_time">2017-02-17</span></span>
			</div>
			<div class="fr">
				<p><span class="profit">+24.00</span></p>
			</div>
		</div>
		<div class="with_content">
			<div class="left_time">
				<p><span class="sub_type">代理收益</span></p>
				<span><span class="get_time">2017-02-17</span></span>
			</div>
			<div class="fr">
				<p><span class="profit">+24.00</span></p>
			</div>
		</div>
		<div class="with_content">
			<div class="left_time">
				<p><span class="sub_type">企业招募收益</span></p>
				<span><span class="get_time">2017-02-17</span></span>
			</div>
			<div class="fr">
				<p><span class="profit">+14.00</span></p>
			</div>
		</div>
		<div class="with_content">
			<div class="left_time">
				<p><span class="sub_type">杰出合伙人</span></p>
				<span><span class="get_time">2017-02-17</span></span>
			</div>
			<div class="fr">
				<p><span class="profit">+14000.00</span></p>
			</div>
		</div>-->
	</body>

</html>