<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>交易详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css"/>
		<style>
			body,.mui-content{
				background: white!important;
			}
		</style>
	</head>
	<header id="header" class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
		<h1 class="mui-title">交易详情</h1>
	</header>
	<body>
		<div class="mui-content">
			<div class="suc_info">
				<img src="../../img/mine/success.png" class="pay_img" />
				<p class="suc_text">支付成功</p>
			</div>
			<div class="suc_tips">
				<span class="">"商家/企业名称"已收到您的转账</span>
			</div>
			<div class="give_money">
				<p>&yen;<span>100.00</span></p>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack:true
			})
		</script>
	</body>

</html>