<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商家认证</title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.mins.css" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/jquery-1.4.1.js"></script>
		<style type="text/css">
			.shop_leninfo{
				margin-top: 0;
				padding-bottom: 74px;
			}
			.mar_img{
				width: 100%;
				display: block;
				max-width: 100%;
			}
			.mar_imgs{
				width: 60%;
				display: block;
				max-width: 100%;
				margin: 0px auto;
			}
		</style>
		<script>
			mui.init({
				swipeBack:true
			});
			var win = null;
			var isreal = false;
			mui.plusReady(function() {
				var isLogin = null;
				mui.app_request("Post", {
					"OPERATE_TYPE": "10081",
					"AUTH_ID": localStorage.getItem("auid"),
				}, function(result) {
				
					if(result.RESULTCODE == 0) {
							
						if(result.RESULTLIST.is_login == 1) {

							return;
						} else {
							isLogin =0;
							mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
								localStorage.removeItem("auid");
								booking.closeAndOpenNewWindow("../login/login.html", "login");
							});
							return;
						}
					}

				}, function(result) {
					if(result.RESULTCODE == -1) {
						isLogin =0;
						mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
							localStorage.removeItem("auid");
							booking.closeAndOpenNewWindow("../login/login.html", "login");
						});
						return;
					} else {
						
						return;

					}
				});
				if(isLogin === 0){
					return;
				}
				win = plus.webview.currentWebview();
				isreal = win.isreal;
				document.getElementById('requerd').addEventListener('tap', function() {
					if(isreal == true || isreal == "true") {
						booking.closeAndOpenNewWindow(
							'en_mer_data.html',
							'en_mer_data'
						)
					} else {
						var btnArray = ['去实名', '取消'];
						mui.confirm('只有实名用户可以认证商家', '', btnArray, function(e) {
							if(e.index == 0) {
								booking.closeAndOpenNewWindow(
									'realname.html',
									'realname'
								)
							} else {
								return;
							}
						});
					}

				});
			});
		</script>
		<style>
			body {
				background: white!important;
			}
		</style>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left " id="back"></a>
			<h1 class="mui-title">商家认证</h1>
		</header>
		<div class="mui-content">
			<div class="shop_leninfo">
				<p><img src="../../img/shop/shop_lence.png" class="mar_img" /></p>
				<p><img src="../../img/shop/shop_lence_01.png" class="mar_imgs" /></p>
				
				<!--<p class="cer_text">签约商家可购买凭证&nbsp;&nbsp;&nbsp;&nbsp;定期获取收益</p>-->
			</div>
		</div> 
		<div class="mui-bar mui-bar-tab">
			<button id="requerd" type="button" class="mui-btn mui-btn-success mui-btn-block">认证商家</button>
		</div>
	</body>

</html> 