<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的粉丝</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<script src="../../js/jquery-3.1.0.min.js" type="text/javascript"></script>
		<script src="../../js/mui.min.js" type="text/javascript"></script>
		<script src="../../js/common.js" type="text/javascript"></script>
		<style type="text/css">
			.mlr {
				margin: 0 10px;
				display: inline-block;
				width: auto;
				height: auto;
			}
			
			.position-p {
				position: relative;
				margin-top: 0;
				width: 60px;
				height: 60px;
				float: left;
				margin: 15px 10px;
			}
			
			.position-p .portrait {
				margin: 0;
			}
			
			.bus_crown {
				position: absolute;
				width: 15px;
				height: 15px;
				right: -4px;
				top: -4px;
			}
			
			.mr-10 {
				margin-right: 10px;
				font-size: 14px;
			}
			
			.count_inandout {
				width: 100% !important;
				clear: left;
			}
			
			.fan_body {
				display: flex;
			}
			
			.fan_body div.fl {
				flex: 1;
			}
		</style>
		<script type="text/javascript">
			mui.init({
				swipeBack: true,
				pullRefresh: {
					container: "#pullrefresh", //待刷新区域标识
					up: {
						contentrefresh: "正在加载...",
						callback: listmore
					},
				}
			});
			var list_num = 0;
			var auid = null;
			var size = 10;
			mui.plusReady(function() {

				var u = navigator.userAgent;
				var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
				var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端

				if(isAndroid == true) {
					var height = document.body.clientHeight;
					$("#body_margin").css('margin-top', -80 + "px");
					$("#pullrefresh").css('height', height - 220 + "px");
					$("#pullrefresh").css('margin-top', 220 + "px");
					$("#pullrefresh").css('overflow', 'auto');
				}
				if(isiOS == true) {
					var height = document.body.clientHeight;
					$("#pullrefresh").css('overflow', ' hidden');
					$("#pullrefresh").css('height', height - 190 + "px");
					$("#pullrefresh").css('margin-top', 190 + "px");
					$("#body_margin").css('margin-top', -50 + "px");
				}
				auid = localStorage.getItem("auid");
				if(!auid) {
					$("#nomessage").css("display", "block");
					mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
					return;
				}
				console.log(auid)
				mui.app_request('POST', {
						"OPERATE_TYPE": "10023",
						"AUTH_ID": auid
					}, function(data) {
						if(data.RESULTCODE == "0") {
							var userInfo = data.RESULTLIST.my_base_info;
							if(!mui.isnull(userInfo.header_img)) {
								$("#head_img").attr("src", booking.constants.ip + userInfo.header_img);
							}
							if(!mui.isnull(userInfo.username)) {
								$("#phone_num").html(userInfo.username);
							}
							if(!mui.isnull(userInfo.nickname)) {
								$("#nickname").html(userInfo.nickname);
							}

							return;
						}
					},
					function(result) {
						if(result.RESULTCODE == "-1") {
							mui.toast(result.DESCRIPTION);
							return;
						} else {
							mui.toast("系统异常，请重试");
							return;
						}
					});

				mui.app_request('POST', {
						"OPERATE_TYPE": "10067",
						"AUTH_ID": auid,
						"BEGIN": list_num,
						"SIZE": size
					}, function(data) {
						if(data.RESULTCODE == "0") {
							var info = data.RESULTLIST.result;
							console.info(JSON.stringify(data));
							$("#fan_size").html(data.RESULTLIST.totalsize);
							if(info.length == 0) {
								$("#nomessage").css("display", "block");
								return;
							}
							list_num = list_num + size;
							addlistNO(info);
							return;
						}
					},
					function(result) {
						if(result.RESULTCODE == "-1") {
							mui.toast(result.DESCRIPTION);
							return;
						} else {
							mui.toast("系统异常，请重试");
							return;
						}
					});
			});

			//加载更多  
			function listmore() {
				setTimeout(function() {
					auid = localStorage.getItem("auid");
					if(!auid) {
						$("#nomessage").css("display", "block");
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
						return;
					}
					mui.app_request('POST', {
							"OPERATE_TYPE": "10067",
							"AUTH_ID": auid,
							"BEGIN": list_num,
							"SIZE": size
						}, function(data) {
							if(data.RESULTCODE == "0") {
								var list = data.RESULTLIST.result;
								addlistNO(list);
								list_num = list_num + size;
								if(list.length < size) {
									mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);

								} else {
									mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);

								}
							}
							return;
						},
						function(result) {
							if(result.RESULTCODE == "-1") {
								mui.toast(result.DESCRIPTION);
								return;
							} else {
								mui.toast("系统异常，请重试");
								return;
							}
						});
				}, 1500)
			}

			function addlistNO(datas) {
				var _html = "";
				var html_ = "";
				for(var i = 0; i < datas.length; i++) {
					_html += '<div class="fan_body" style="margin-top: 2px;">';
					_html += '<input type="hidden" class="attr" data-state="' + datas[i].state + '" data-id="' + datas[i].be_user_id + '" data-money="'+(datas[i].bring_income).toFixed(2)+'" />';
					_html += '<p class="position-p"><img src="' + booking.constants.ip + datas[i].header_img + '" class="portrait" />';
					if(datas[i].state == 1) {
						_html += '<img src="../../img/mine/fans-crown.png" class="bus_crown" />'
					}
					_html += '</p>'
					_html += '<div class="fl">'
					if(datas[i].nickname) {
						_html += '<p><span class="fan_name">' + datas[i].nickname + '</span><span class="mlr">|</span>' + datas[i].username + '</p>';
					} else {
						_html += '<p><span class="fan_name">' + datas[i].username + '</span></p>';
					}
					_html += '<p class="count_inandout" >累计带来补贴</p>';
					_html += '<p class="count_inandout"><span class="red">' + (datas[i].bring_income).toFixed(2) + '元</span>'
					if(!mui.isnull(datas[i].createTime)) {
						_html += '<span class="fr mr-10">' + booking.dateUtil.getFormatDataByLong(datas[i].createTime) + '</span>'
					}
					_html += '</p></div>';
					_html += '</div>';
				}
				$("#fans_value").append(_html);
				mui("#fans_value").on("tap", ".fan_body", function() {
					var _inpt = this.querySelector(".attr");
					var state = _inpt.getAttribute("data-state");
					if(state != "1") {
						state = 0;
					}
					var userid = _inpt.getAttribute("data-id");
					var money = _inpt.getAttribute("data-money");
					var attrd = {
						"state": state,
						"userid": userid,
						"money":money
					}
				
					mui.openWindow({
						url: "my_fans_detail.html",
						id:"my_fans_detail",
						extras:  attrd
					});
					return;
				})

			}
		</script>
	</head>

	<body style="border: 1px rgba(000,000,000,0) solid;" id="body_margin">
		<div class="mui-content mui-scroll-wrapper " style="position:fixed;top: 0;left: 0;padding-top: 0;height: 136px;width: 100%;">
			<div class="top_head" style="margin-top: 0px;">
				<img src="../../img/mine/img.png" class="portrait" id="head_img" />
				<p class="f_name" id="nickname" style="font-size: 16px;"></p>
				<span class="phone" id="phone_num" style="font-size: 16px;"></span>
			</div>
			<div class="common_title fl l_totop">
				<hr class="vt_line" />
				<span class="common_txt fl">我的粉丝</span>
				<span class="common_txt fl fan_size"><span id="fan_size">0</span>人</span>
			</div>
		</div>
		<div id="pullrefresh">
			<div class="mui-scroll">
				<div id="fans_value">
					<!--<div class="fan_body" style="margin-top: 2px;">
					<input type="hidden" class="attr" data-state="2" data-id="22" />
					<p class="position-p"><img src="" class="portrait" />
						<img src="../../img/mine/fans-crown.png" class="bus_crown" />
					</p>
					<div class="fl">
						<p><span class="fan_name">qweqw</span><span class="mlr">|</span>weqw</p>
					<p class="count_inandout" >累计带来补贴</p>
					<p class="count_inandout"><span class="red">eqwe元</span>
						<span class="fr mr-10">312312</span></p>
					</div>
					</div>-->
				</div>
			</div>
		</div>
	</body>

</html>