<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的收益</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css"/>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css"/>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/jquery-3.1.0.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack:true,
				gestureConfig: {
					doubletap: true
				},
				subpages: [{
					url: 'myprofit_sub.html',
					id: 'myprofit_sub.html',
					styles: {
						bottom: '0px',
						background:'none'
					}
				}]
			});
		</script>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
			<h1 class="mui-title">我的补贴</h1>
		</header>
		<div class="c_pro">
			<p class="c_txt">累计补贴(元)</p>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/jquery-3.1.0.min.js" ></script>
	</body>

</html>