<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>常见问题</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css"/>
	</head>
	<style>
		body {
			background: white;
		}
		
		.qanda {
			margin-top: 59px;
		}
		
		.q_que {
			font-size: 13px;
			font-weight: bold;
			color: #0098E6;
			margin-left: 10px;
			line-height: 13px;
		}
		
		.a_and,.a_andlast {
			font-size: 13px;
			margin-left: 10px;
			line-height: 26px;
			margin-right: 5px;
		}
		.a_andlast{
			margin-bottom: 35px;
		}
	</style>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
			<h1 class="mui-title">常见问题</h1>
		</header>
		<div class="qanda">
			<p class="q_que">Q：商城消费金的作用？</p>
			<p class="a_and">答：商城消费金用于平台商城1:1消费。平台商城正在筹划中，敬请期待！</p>
			<p class="q_que">Q：可以自行补贴吗？</p>
			<p class="a_and">答：任何身份都不可以自行补贴，只能寻找具备补贴资格的认证商家处理补贴。</p>
			<p class="q_que">Q：什么是认证商家？认证商家有什么作用？</p>
			<p class="a_and">答：上传商家资料并通过审核的用户就是认证商家。具备购买消费券、收款的资格，并可从中获得相应的服务补贴。</p>
			<p class="q_que">Q：我想成为认证商家，怎么入驻平台？</p>
			<p class="a_and">答：如果您想入驻平台，只需在“我的”—“我是签约商家”提交相应资料，并通过审核即可。</p>
			<p class="q_que">Q：我要申请补贴，怎么操作？</p>
			<p class="a_and">答：1.登录“共生网”APP,在首页点击申请补贴；2.按提示完成相应内容填写；3.填写或选择一位认证商家（即使您是认证商家，也必须找另一个认证商家给您处理补贴申请），然后提交，等待认证商家处理。</p>
			<p class="q_que">Q：如何提现？提现条件？</p>
			<p class="a_and">答：平台用户，都可在“我的”—“我要提现”通过支付宝完成提现。</p>
			<p class="a_and">注：提现条件是，用户必须通过了个人实名认证绑定了支付宝账号才可完成提现。</p>
			<p class="q_que">Q：补贴金额上限是多少？最低支持补贴金额是多少？</p>
			<p class="a_and">答：每人每天提交补贴金额最高为2000元整（等于2000），超出2000元后次日再提交补贴申请。</p>
			<p class="a_and">最低补贴金额不能少于100元整。</p>
			<p class="q_que">Q：补贴金是全补吗？</p>
			<p class="a_and">答：通过商家消费支付后排队补贴金的只报100的整数倍部份，零钱部份不计入补贴范围；通过上传发票寻找认证商家排队的取100的整数倍补贴。</p>
			<p class="q_que">Q：购买的消费券能不能退还？</p>
			<p class="a_andlast">答：凡在平台上购买的消费券均不能退还，但可赠送给好友进行补贴申请。</p>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack:true
			})
		</script>
	</body>

</html>