<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>实名认证</title>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link href="../../css/mui.picker.css" rel="stylesheet" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<style>
			#address {
				line-height: 50px;
				padding-left: 15px;
				margin-top: 0 !important;
			}
			
			input::-webkit-input-placeholder {
				font-size: 12px;
			}
			
			#name {
				width: 75%;
			}
			
			#idcard {
				width: 75%;
			}
			
			.sfont {
				width: 25%;
			}
			
			.mui-input-row input {
				margin-top: 10px;
			}
			/*.di_size{
				margin-top: -80px !important;
			}*/
			
			#icon-card {
				width: 100%;
				height: 100%;
				position: fixed;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.7);
				z-index: 99;
			}
			
			.icon-card-img {
				width: 80%;
				height: auto;
				display: inline-table;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				margin: auto;
			}
			
			#icon-card-img {
				width: 100%;
				max-width: 100%;
				display: block;
			}
			
			.icon-card-img p {
				line-height: 30px;
				font-size: 16px;
				color: #fff;
				text-align: center;
			}
			
			.ml-10 {
				margin-left: 10px;
			}
			
			.mui-icon-info {
				font-size: 16px !important;
			}
			
			.mui-content {
				background: #efeff4;
			}
		</style>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/city.data-3.js"></script>
		<script src="../../js/mui.picker.js"></script>
		<script src="../../js/mui.poppicker.js"></script>
		<script type="text/javascript" src="../../js/exif.js"></script>
		<script type="text/javascript" src="../../js/upload.util.js"></script>
		<script type="text/javascript" src="../../js/jquery-3.1.0.min.js"></script>
		<script>
			mui.init({
				swipeBack: true
			});
			var idorhandurl = "";
			var auid = null;
			mui.plusReady(function() {
				var isLogin = null;
				mui.app_request("Post", {
					"OPERATE_TYPE": "10081",
					"AUTH_ID": localStorage.getItem("auid"),
				}, function(result) {

					if(result.RESULTCODE == 0) {

						if(result.RESULTLIST.is_login == 1) {

							return;
						} else {
							isLogin = 0;
							mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
								localStorage.removeItem("auid");
								booking.closeAndOpenNewWindow("../login/login.html", "login");
							});
							return;
						}
					}

				}, function(result) {
					if(result.RESULTCODE == -1) {
						isLogin = 0;
						mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
							localStorage.removeItem("auid");
							booking.closeAndOpenNewWindow("../login/login.html", "login");
						});
						return;
					} else {

						return;

					}
				});
				if(isLogin === 0) {
					return;
				}
				auid = localStorage.getItem("auid");
				mui(".mui-content").on('tap', '.photo_img', function() {
					$("#idcard").blur();
					var ids = this.id;
					if(mui.os.plus) {
						var a = [{
							title: "拍照"
						}, {
							title: "从手机相册选择"
						}];
						plus.nativeUI.actionSheet({
							title: "上传图片",
							cancel: "取消",
							buttons: a
						}, function(b) { /*actionSheet 按钮点击事件*/

							switch(b.index) {
								case 0:
									break;
								case 1:
									getImage(1000, 800, ids, "sphotos", uploadSucess) /*拍照*/
									break;
								case 2:
									galleryImg(1000, 800, ids, "sphotos", uploadSucess); /*打开相册*/
									break;
								default:
									break;
							}
						})
					}
				}, false);
				document.getElementById("cmt_info").addEventListener('tap', function() {
					setDisabled("cmt_info");
					var idcard = document.getElementById('idcard').value;
					var name = document.getElementById('name').value;

					var pos_idimg = document.getElementById('img_id_url').value;
					var card = /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$/;
					var card2 = /^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/;
					if(mui.isnull(name)) {
						mui.toast('姓名不能为空');
						remDisabled("cmt_info");
						return;
					}
					if(mui.isnull(idcard)) {
						mui.toast('身份证号不能为空');
						remDisabled("cmt_info");
						return;
					}
					if(card.test(idcard) || card2.test(idcard)) {

					} else {
						mui.toast('请输入正确的身份证号');
						remDisabled("cmt_info");
						return;
					}
					if(mui.isnull(pos_idimg)) {
						mui.toast('请上传身份证正面照片');
						remDisabled("cmt_info");
						return;
					}
					var canshu = {
						"OPERATE_TYPE": "10016",
						"AUTH_ID": auid,
						"ID_CARD": idcard,
						"REAL_NAME": name,
						"ID_CARD_URL": pos_idimg,
					}
					console.log("传参:" + JSON.stringify(canshu))
					mui.app_request('post', {
						"OPERATE_TYPE": "10016",
						"AUTH_ID": auid,
						"ID_CARD": idcard,
						"REAL_NAME": name,
						"ID_CARD_URL": pos_idimg,

					}, function(data) {
						if(data.RESULTCODE == "0") {
							mui.toast('提交成功');
							booking.closeAndOpenNewWindow(
								'mine.html',
								'mine'
							)
							return;
						}
						remDisabled("cmt_info");
					}, function(result) {
						console.log(JSON.stringify(result))
						if(result.RESULTCODE == "-1") {
							mui.toast(result.DESCRIPTION);
							return
						} else {
							mui.toast("系统异常，请重试");
							return
						}

						remDisabled("cmt_info");
					});
				});
				//				var cityPicker3 = new mui.PopPicker({
				//					layer: 3
				//				});
				//				cityPicker3.setData(cityData3);
				//				var showCityPickerButton = document.getElementById('address_click');
				//				var cityResult3 = document.getElementById('address');
				//				showCityPickerButton.addEventListener('tap', function(event) {
				//					cityResult3.focus();
				//					cityPicker3.show(function(items) {
				//						//cityResult3.innerHTML = (items[0] || {}).text + " " + (items[1] || {}).text + " " + (items[2] || {}).text;
				//						if((items[0] || {}).text == "海外" || (items[0] || {}).text == "澳门") {
				//							cityResult3.value = (items[1] || {}).text;
				//						} else {
				//							cityResult3.value = (items[2] || {}).text;
				//						}
				//						//返回 false 可以阻止选择框的关闭
				//						//return false;
				//						showCityPickerButton.classList.add("black");
				//					});
				//				}, false);
				/*图片开始*/
				function uploadSucess(data, id) {
					$("#img_" + id).val(data.RESULTLIST.PATH);
					idorhandurl = booking.constants.ip + data.RESULTLIST.PATH;
					document.getElementById(id).src = idorhandurl;
				}

				mui("#card").on("tap", ".a_click", function() {
					var type = $(this).attr("type");
					var url = $(this).attr("url");
					console.log("type:" + type);
					if(type == 1) {
						$("#icon-tip").html("请按照示例，上传身份证正面")
					}
					$("#icon-card-img").attr("src", url);
					$("#icon-card").show();
				})
				document.getElementById("icon-card").addEventListener('tap', function() {
					$(this).hide();
				});
			});
		</script>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class=" mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
			<h1 class="mui-title">实名认证</h1>
		</header>
		<div class="mui-content">
			<form class="mui-input-group">
				<div class="mui-input-row">
					<label class="sfont">姓名</label>
					<input type="text" placeholder="请输入您的名字" id="name">
				</div>
				<div class="mui-input-row">
					<label class="sfont">身份证号</label>
					<input type="text" placeholder="请输入您的身份证号码" id="idcard" maxlength="18">
				</div>

			</form>
			<!--<div id="card">
				<div class="upload_img">
					<img src="../../img/realname/realnamecard.png" class="photo_img" id="id_url" />
					<input type="hidden" id="img_id_url" />
					<p class="di_size">身份证正面照<a class="red a_click ml-10" href="javascript:;" type="1" url="../../img/realname/icon-card-01.png">点击查看示例</a></p>
				</div>
				
			</div>-->
			<div class="bus_bg" id="card">
				<img src="../../img/realname/realnamecard.png" width="400" height="400" class="bus_img photo_img" id="id_url" />
				<input type="hidden" id="img_id_url" />
				<div class="text-box">
					<div class="text-line">
						<p class="di_size">身份证正面照
							<a class="red a_click ml-10" href="javascript:;" type="1" url="../../img/realname/icon-card-01.png">点击查看示例</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id="icon-card" style="display: none;">
			<div class="icon-card-img">
				<img id="icon-card-img" src="" />
				<p id="icon-tip">请按照示例，上传身份证正面</p>
			</div>
		</div>
		<div style="color: red;margin-left: 10px;"><span><i class="mui-icon mui-icon-info"></i>温馨提示：<span style="color: #999;">实名审核时间为工作日9:00 －18:00</span></span>
		</div>
		<button id="cmt_info" type="button" class="mui-btn mui-btn-success mui-btn-block com_btn">提交</button>
	</body>

</html>