<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商家余额</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/jquery-3.1.0.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true,
				gestureConfig: {
					doubletap: true
				},
				subpages: [{
					url: 'turnover_sub.html',
					id: 'turnover_sub',
					styles: {
						top: '45px',
						bottom: '0px',
					}
				}]
			});
			var contentWebview = null;
			var ida_auth = null;
			var bind_pay = null;
			var bind_bank = null;
			var type = null;
			var pwd_word = null;
			var auid = localStorage.getItem("auid");;
			mui.plusReady(function() {
				console.log(1111)
				var isLogin = null;
				mui.app_request("Post", {
					"OPERATE_TYPE": "10081",
					"AUTH_ID": localStorage.getItem("auid"),
				}, function(result) {

					if(result.RESULTCODE == 0) {

						if(result.RESULTLIST.is_login == 1) {

							return;
						} else {
							isLogin = 0;
							mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
								localStorage.removeItem("auid");
								booking.closeAndOpenNewWindow("../login/login.html", "login");
							});
							return;
						}
					}

				}, function(result) {
					if(result.RESULTCODE == -1) {
						isLogin = 0;
						mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
							localStorage.removeItem("auid");
							booking.closeAndOpenNewWindow("../login/login.html", "login");
						});
						return;
					} else {

						return;

					}
				});
				if(isLogin === 0) {
					return;
				}
				document.querySelector('header').addEventListener('doubletap', function() {
					if(contentWebview == null) {
						contentWebview = plus.webview.currentWebview().children()[0];
					}
					contentWebview.evalJS("mui('#pullrefresh').pullRefresh().scrollTo(0,0,100)");
				});

				mui.app_request('POST', {
					"OPERATE_TYPE": "10023",
					"AUTH_ID": auid
				}, function(data) {
					if(data.RESULTCODE == "0") {
						var cash_info = data.RESULTLIST.cash_info;
						var my_base_info = data.RESULTLIST.my_base_info;
						ida_auth = data.RESULTLIST.ida_auth;
						bind_pay = cash_info.is_binding_alipay;
						pwd_word = my_base_info.pay_pwd;
					}
					return;
				}, function(result) {
					mui.toast("系统异常，请重试");
				});

				mui.app_request('POST', {
					"OPERATE_TYPE": "10056",
					"AUTH_ID": auid
				}, function(data) {
					if(data.RESULTCODE == "0") {
						bind_bank = data.is_bind;
					}
					return;
				}, function(result) {
					mui.toast(result.DESCRIPTION);
				});

				document.getElementById("with_money").addEventListener("tap", function() {
					var btnArray = [{
						title: "支付宝"
					}, {
						title: "银行卡"
					}];
					plus.nativeUI.actionSheet({
						title: "选择提现渠道",
						cancel: "取消",
						buttons: btnArray
					}, function(e) {
						var index = e.index;

						switch(index) {
							case 0:
								break;
							case 1:
								if(ida_auth == 1) {
									if(bind_pay == "0") {
										plus.nativeUI.confirm("为保障您的账户安全，请绑定本人的支付宝账号。", function(e) {
											if(e.index == 0) {
												return;
											} else {
												booking.closeAndOpenNewWindow("bindAlipay.html", "bindAlipay");
												return;
											}

										}, "提示", ["取消", "去绑定"]);
										return;
									} else if(mui.isnull(pwd_word)) {
										plus.nativeUI.confirm("您还未设置支付密码，是否前往设置？", function(e) {
											if(e.index == 0) {
												return;
											} else {
												booking.closeAndOpenNewWindow("set_paypassword.html", "set_paypassword");
												return;
											}

										}, "提示", ["取消", "立即前往"]);
										return;
									} else {

										var attrd = {
											"type": "10089",
											"case_type": 2
										}
										booking.closeAndOpenNewWindowHaveAttr("withdrawals.html", "withdrawals", attrd);
									}

								} else if(ida_auth == 0) {
									mui.toast("实名审核中...")
									return;
								} else if(ida_auth == -2) {
									plus.nativeUI.confirm("为保障您账户安全，请先完成身份认证。", function(e) {
										if(e.index == 0) {
											return;
										} else {
											booking.closeAndOpenNewWindow("realname.html", "realname");
											return;
										}

									}, "提示", ["取消", "去认证"]);
								}
								break;
							case 2:
								if(ida_auth == 1) {
									if(bind_bank == "0") {
										plus.nativeUI.confirm("为保障您能顺利提现，请完成绑定银行卡。", function(e) {
											if(e.index == 0) {
												return;
											} else {
												booking.closeAndOpenNewWindow("bindBankCard.html", "bindBankCard");
												return;
											}

										}, "提示", ["取消", "去绑定"]);
										return;
									} else if(mui.isnull(pwd_word)) {
										plus.nativeUI.confirm("您还未设置支付密码，是否前往设置？", function(e) {
											if(e.index == 0) {
												return;
											} else {
												booking.closeAndOpenNewWindow("set_paypassword.html", "set_paypassword");
												return;
											}

										}, "提示", ["取消", "立即前往"]);
										return;
									} else {
										booking.closeAndOpenNewWindow("bus_turnoverwals.html", "bus_turnoverwals");
									}

								} else if(ida_auth == 0) {
									mui.toast("实名审核中...")
									return;
								} else if(ida_auth == -2) {
									plus.nativeUI.confirm("为保障您账户安全，请先完成身份认证。", function(e) {
										if(e.index == 0) {
											return;
										} else {
											booking.closeAndOpenNewWindow("realname.html", "realname");
											return;
										}

									}, "提示", ["取消", "去认证"]);
								}
								break;
						}

					});

				})
			})
		</script>
	</head>

	<body>
		<!--<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
			<h1 class="mui-title">营业额</h1>
			<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right detail_txt" id="with_money">我要提现</button>
		</header>-->
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
			<h1 class="mui-title">营业额</h1>
			<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right detail_txt" id="with_money" style="font-size: 14px;">我要提现</button>
		</header>
		<div class="mui-content"></div>
		<!--<div class="banlance_info" id="banlance_info">
			<p class="account">账号余额</p>
			<p class="ban_price"><span>&yen;</span>0.00</p>
		</div>-->
		<!--<div class="with_content">
			<div class="left_time">
				<p><span class="sub_type">余额提现</span></p>
				<span><span class="get_time">2017-02-17</span></span>
			</div>
			<div class="fr">
				<p><span class="profit">-94.00</span></p>
			</div>
		</div>
		<div class="with_content">
			<div class="left_time">
				<p><span class="sub_type">平台奖励收益</span></p>
				<span><span class="get_time">2017-02-17</span></span>
			</div>
			<div class="fr">
				<p><span class="profit">+2.00</span></p>
			</div>
		</div>
		<div class="with_content">
			<div class="left_time">
				<p><span class="sub_type">已报销金额</span></p>
				<span><span class="get_time">2017-02-17</span></span>
			</div>
			<div class="fr">
				<p><span class="profit">+94.00</span></p>
			</div>
		</div>
		<div class="with_content">
			<div class="left_time">
				<p><span class="sub_type">报款收益</span></p>
				<span><span class="get_time">2017-02-17</span></span>
			</div>
			<div class="fr">
				<p><span class="profit">+24.00</span></p>
			</div>
		</div>
		<div class="with_content">
			<div class="left_time">
				<p><span class="sub_type">代理收益</span></p>
				<span><span class="get_time">2017-02-17</span></span>
			</div>
			<div class="fr">
				<p><span class="profit">+24.00</span></p>
			</div>
		</div>
		<div class="with_content">
			<div class="left_time">
				<p><span class="sub_type">企业招募收益</span></p>
				<span><span class="get_time">2017-02-17</span></span>
			</div>
			<div class="fr">
				<p><span class="profit">+14.00</span></p>
			</div>
		</div>
		<div class="with_content">
			<div class="left_time">
				<p><span class="sub_type">杰出合伙人</span></p>
				<span><span class="get_time">2017-02-17</span></span>
			</div>
			<div class="fr">
				<p><span class="profit">+14000.00</span></p>
			</div>
		</div>-->
	</body>

</html>