<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>修改支付密码</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<style>
			html,
			body {
				overflow: hidden;
				overflow-y: hidden;
			}
			
			.mui-input-row span {
				padding-left: 15px;
				color: #333333;
				float: left;
				height: 45px;
				line-height: 40px;
			}
			
			.mui-input-row input {
				margin-top: 6px;
			}
			
			.mui_input {
				margin-top: 10px;
				width: 68%;
			}
			
			.label {
				width: 32%;
			}
			
			.password-box {
				background: #f5f5f5 !important;
			}
			
			.mui-content {
				background: none !important;
				z-index: 99999;
				position: fixed;
				width: 100%;
				top: 50px;
				overflow: hidden;
			}
			
			.text {
				text-align: center;
				font-size: 18px !important;
			}
			
			#tips {
				display: none;
			}
			
			.ccc {
				color: #ccc !important;
			}
		</style>
		<script type="text/javascript" src="../../js/jquery-2.1.3.min.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script src="../../js/passwordBox.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true
			});
			var auid = null;
			var userName = null;
			mui.plusReady(function() {
				PwdBox.init('', 'img/pwd_keyboard.png', '请输入原密码', '安全支付环境，请放心使用！');
				$("h1.title").html("");
				PwdBox.show(function(res) {
					if(res.status) {
						var old_pwd = res.password;
						oldpwd(old_pwd)
					} else {
						alert(JSON.stringify(arguments));
					}
				});
				$(".icon-guanbi").hide();
				auid = localStorage.getItem("auid");
				win = plus.webview.currentWebview();
				var isLogin = null;
				mui.app_request("Post", {
					"OPERATE_TYPE": "10081",
					"AUTH_ID": localStorage.getItem("auid"),
				}, function(result) {

					if(result.RESULTCODE == 0) {

						if(result.RESULTLIST.is_login == 1) {

							return;
						} else {
							isLogin = 0;
							mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
								localStorage.removeItem("auid");
								booking.closeAndOpenNewWindow("../login/login.html", "login");
							});
							return;
						}
					}

				}, function(result) {
					if(result.RESULTCODE == -1) {
						isLogin = 0;
						mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
							localStorage.removeItem("auid");
							booking.closeAndOpenNewWindow("../login/login.html", "login");
						});
						return;
					} else {

						return;

					}
				});
				if(isLogin === 0) {
					return;
				}
				mui.app_request('POST', {
					"OPERATE_TYPE": "10023",
					"AUTH_ID": auid //localStorage.getItem("auid")
				}, function(data) {
					if(data.RESULTCODE == "0") {
						userName = data.RESULTLIST.my_base_info.username;
					}
					return;
				}, function(result) {
					return;
				});
			});

			function oldpwd(old_pwd) {
				mui.app_request('POST', {
					"OPERATE_TYPE": "10082",
					"AUTH_ID": auid, //localStorage.getItem("auid"),
					"PAY_PWD": old_pwd,
				}, function(data) {
					console.log(JSON.stringify(data))
					if(data.RESULTCODE == "0") {
						if(data.RESULTLIST.is_ok == 1) {
							setTimeout(function() {
								PwdBox.reset();
								$("h1.title").html("");
								var num_one = userName.substr(0, 3);
								var num_two = userName.substr(7, 11);
								userName = num_one + "****" + num_two;
								$("#text").html("请为账号" + userName).addClass("ccc");
								$("#tips").show();
								PwdBox.show(function(res) {
									if(res.status) {
										var new_pwd = res.password;
										setTimeout(function() {
											PwdBox.reset();
											newpwd(new_pwd)
										}, 500)

										//关闭并重置密码输入
										//PwdBox.reset();
									} else {
										alert(JSON.stringify(arguments));
									}
								});
							}, 500)
						} else {
							mui.toast("原密码错误！");
							return;
						}
					}
				}, function(result) {
					console.log(JSON.stringify(result))
					mui.toast(result.DESCRIPTION);
				});
			}

			function newpwd(new_pwd) {
				//$("h1.title").html("请重复6位支付密码")
				$("#text").html("请再次输入").removeClass("ccc");
				$("#tips").hide();
				PwdBox.show(function(res) {
					if(res.status) {
						//重置输入
						var repwd = res.password;
						console.log("newpwd:" + new_pwd)
						console.log("repwd:" + repwd)
						if(new_pwd != repwd) {
							mui.toast("两次输入的密码不一致！");
							return;
						}
						//PwdBox.reset();
						mui.app_request('POST', {
							'OPERATE_TYPE': "10017",
							'AUTH_ID': auid,
							'PAY_PWD': new_pwd
						}, function(data) {
							if(data.RESULTCODE != -1) {
								setTimeout(function() {
									//PwdBox.reset();
									mui.alert('设置成功', function() {
										mui.app_back(win.backId, true);
									});
								}, 500)
							}
						}, function(result) {
							if(result.RESULTCODE == -1) {
								mui.toast(result.DESCRIPTION)
							}
						});
					} else {
						alert(JSON.stringify(arguments));
					}
				});
			}
		</script>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav" style="z-index: 999999;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
			<h1 class="mui-title">修改支付密码</h1>
		</header>
		<div class="mui-content">
			<p class="text" id="text">输入支付密码，完成身份验证</p>
			<p class="text" id="tips">设置6位数字支付密码</p>
		</div>
		<!--<div class="mui-conten">
			<form class="mui-input-group" style="margin-top: 0px;">
				<div class="mui-input-row">
					<span style="font-size: 14px;"  class="label">旧支付密码</span>
					<input style="padding-left: 0px;" type="password" class="mui_input" maxlength="6" id="pay_password" placeholder="请输入旧的支付密码">
				</div>
				<div class="mui-input-row">
					<span style="font-size: 14px;"  class="label">新支付密码</span>
					<input style="padding-left: 0px;" type="password" class="mui_input" maxlength="6" id="repay_password" placeholder="请输入新的支付密码">
				</div>
				<div class="mui-input-row">
					<span style="font-size: 14px;"  class="label">再次输入密码</span>
					<input style="padding-left: 0px;" type="password" class="mui_input" maxlength="6" id="repay_newpassword" placeholder="请再次输入新的支付密码">
				</div>
			</form>
		</div>
		<button id="requerd" type="button" class="mui-btn mui-btn-success mui-btn-block com_btn">确认修改</button>-->
	</body>

</html>