<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>协议</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<script type="text/javascript" src="../../js/jquery-3.1.0.min.js"></script>
		<style>
			body {
				background: white!important;
			}
			
			.content .cont1,
			.content .cont2 {
				word-break: break-all;
				text-indent: 2em;
				text-align: left;
				font-size: 13px;
				line-height: 26px;
				color: #333;
				margin-left: 15px;
				margin-right: 15px;
			}
		</style>

	</head>
	<header id="header" class="mui-bar mui-bar-nav">
		<a class=" mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
		<h1 class="mui-title">协议</h1>
	</header>

	<body>
		<div class="mui-content">
			<h3 align="center">共生网消费者注册协议</h1>
		</div>
		<div class="content">
			<p class="cont1">
				<p>&nbsp;&nbsp;本服务协议签订的双方为由消费者（以下简称用户）与重庆共生网络技术服务有限公司（以下简称共生网）签订，本服务协议具有合同效力。</p>
				<p>1、本协议效力及内容</p>	
				<p>1.1本协议为共生网所提出的要约，用户点击同意即作出承诺，承诺接受并遵守本协议的各项规则，本服务协议即成立并生效。</p>
				<p>1.2用户在确认本服务协议后，本服务协议即在用户和共生网之间产生法律效力。用户在接受或同意本协议或以共生网允许的其他方式实际使用共生网平台服务之前，请务必仔细阅读本协议的全部内容。如用户不同意本协议的任意内容，或者无法准确理解本公司对条款的解释，请不要进行后续操作，包括但不限于不得接受本协议，不使用本服务。如果您对本协议的条款有疑问，请连线本公司客服进行询问（客服电话为02368179015），本公司将向您解释条款内容。</p>
				<p>1.3本服务协议内容包括协议正文及所有共生网已经发布的或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与本协议正文具有同等法律效力。</p>
				<p>&nbsp;&nbsp;用户在本协议内容公告变更生效后继续使用共生网服务的，表明其已充分阅读、理解并接受变更后的协议内容，也将遵循变更后的协议内容使用共生网服务；若用户不同意变更后的协议内容，则应在变更生效前停止使用共生网服务。</p>
				<p>1.4 无论用户事实上是否在注册之前认真阅读了本服务协议，只要用户点击协议正本下方的“确认”按钮并按照共生网注册程序成功注册为用户，用户的行为仍然表示其同意并签署了本服务协议。</p>
				<p>1.5本协议仅约束消费者用户与共生网之间的法律关系和法律纠纷，不涉及用户与其它用户或用户与其他商户之间因网上交易而产生的法律关系及法律纠纷。</p>
				<p>2、定义</p>
				<p>2.1“共生网账户”（或“用户账户”）：指用户按照共生网所规定的注册方式及要求所取得的供用户使用共生网服务的账户。</p>
				<p>2.2“用户注册”：指用户登陆共生网，并按要求填写相关信息并确认同意履行相关用户协议的过程。用户因进行交易、获取有偿服务或接触共生网服务器而发生的所有应纳税赋，以及一切硬件、软件、服务及其它方面的费用均由用户负责支付。共生网仅作为交易地点。</p>
				<p>2.3共生网：指共生网公司旗下支持共生网登录名登录的任何网站（包括但不限于共生网及手机共生网等各种移动客户端应用程序）以及后续可能开通的其他网站及其他移动客户端应用程序。前述网站及客户端可单称或并称共生网。</p>
				<p>2.4共生网服务：指本协议中所约定的共生网所提供的服务，包括但不限于消费赠送与补贴服务。</p>
				<p>3、共生网账户</p>
				<p>3.1 共生网账户注册</p>
				<p>&nbsp;&nbsp;除本协议另有规定或相关产品另有规则外，用户须在移动应用端注册并取得共生网提供的共生网账户，或并且按照共生网的要求提供相关信息完成激活实名认证后方可使用成为共生网用户，享有共生网服务。</p>
				<p>3.1.1 共生网注册用户必须为具备完全民事行为能力的自然人，或者是具有合法经营资格的法人或其他组织。无民事行为能力人、限制民事行为能力人以及无经营或特定经营资格的组织不应当注册为共生网用户，其与共生网之间的服务协议自始无效，共生网一经发现，即有权立即注销该用户，并追究其使用共生网服务的一切法律责任。</p>
				<p>3.1.2共生网的注册需使用作为共生网登录名的用户本人手机号码，或者关联其他账户等本公司允许的其他方式登录共生网账户，并且用户应当自行为共生网账户设置密码。</p>
				<p>3.1.3用户在本网站或者移动客户端完成共生网账户注册程序后，即取得以其注册的手机号为内容的共生网登录名。用户可以通过其共生网登录名直接登录任一共生网网站或者移动客户端，无需重新注册。为了使用户更便捷地使用共生网网站或者移动客户端的服务，共生网账户一经注册，即已授权共生网将账户信息披露给所有共生网网站或者移动客户端并授权共生网网站或者移动客户端使用。</p>
				<p>3.2 账户使用守则</p>
				<p>3.2.1 用户在共生网账户中设置的昵称、头像等必须遵守法律法规、公序良俗、社会公德，且不会侵害其他第三方的合法权益，否则共生网有权对该用户的共生网账户采取限制措施，包括但不限于屏蔽、撤销您共生网账户的昵称、头像，停止提供部分或全部共生网服务。</p>
				<p>3.2.2用户注册共生网账户需按照共生网的要求准确提供并在取得该账户后向共生网提供个人身份、联系方式等相关资料，并及时更新用户正确、最新及完整的身份信息及联系方式等相关资料。</p>
				<p>&nbsp;&nbsp;若共生网有合理理由怀疑用户提供的身份信息及相关资料错误、不实、过时或不完整的，共生网有权暂停或终止向用户提供部分或全部共生网服务。共生网对此不承担任何责任，用户将承担因此产生的任何直接或间接支出。</p>
				<p>&nbsp;&nbsp;若因国家法律法规、部门规章或监管机构的要求，共生网需要用户补充提供任何相关资料时，如用户不能及时配合提供，共生网有权暂停或终止向您提供部分或全部共生网服务。</p>
				<p>&nbsp;&nbsp;用户提供虚假的联系方式或未及时更新联系方式，用户应完全独自承担因通过其所提供的联系方式无法与用户取得联系而导致的用户在使用本服务过程中遭受的任何损失或增加任何费用等不利后果。</p>
				<p>3.2.3共生网可以通过用户的共生网登录名和密码或扫描二维码、条码支付或者共生网后续提的其他方式识别该用户的身份，用户应当对该共生网登录名、密码、校验码、身份识别信息等进行妥善保管，对于因共生网登录名、密码、校验码、身份识别信息等泄露所致的损失由用户自行承担。</p>
				<p>&nbsp;&nbsp;基于计算机端、手机端以及使用其他电子设备的用户使用习惯，共生网可根据用户所使用具体产品的不同，设置不同的账户登录模式或采取不同的措施识别用户的身份。</p>
				<p>3.2.4 用户在使用共生网账户时确保其在持续登录任一共生网网站使用结束时，应以正确步骤离开网站。</p>
				<p>3.2.5 用户保证不向其他任何人泄露其共生网登录名、密码、校验码以及身份信息等，亦不使用其他任何人的共生网登录名、密码、校验码、身份识别信息等。用户应当妥善保管处于自身或应当处于自身掌控下的登录有共生网账户的产品或设备，对于这些产品或设备因遗失或非用户本人使用所导致的任何损失，由用户自行承担。</p>
				<p>3.2.6如用户发现有他人冒用或盗用其共生网登录名及密码或任何其他未经合法授权之情形，或发生与共生网账户关联的手机或其他设备遗失或其他可能危及到共生网账户权益安全情形时，应立即以有效方式（共生网官方公布的联系方式）通知共生网，向共生网申请暂停相关服务。将前述情况同步给共生网网站或者移动客户端，以保障其合法权益。共生网平台会及时处理用户的反馈，用户同意并理解共生网的处理需要一定的合理的时间。</p>
				<p>3.2.7用户应自行对其共生网账户及其账号内财产权益负责，只有用户本人方可使用该账户。该账户不可转让、不可赠与、不可继承，但账户内的相关财产权益可被依法继承。</p>
				<p>3.2.8 用户同意共生网有权依照国家法律或和行政法规所赋予权力的有权机关的要求暂停共生网账户的使用，对共生网账户的余额进行查询、冻结或扣划。</p>
				<p>3.3 账户注销</p>
				<p>3.3.1在需要终止使用本服务时,用户可自行申请注销或依共生网平台所提示的程序自行注销自身的共生网账户。用户所申请注销的共生网账户应当是其本人的账户且该账户在注销前应当处于正常状态，即该共生网账户的账户信息和用户信息为最新、完整、正确的信息，且该账户可以使用所有共生网服务功能。持有被注销账户的用户名及密码自行注销该账户的用户，共生网视其为用户本人的操作。具有下列情况的共生网账户不得注销：</p>
				<p>&nbsp;&nbsp;3.3.1.1账户信息或用户信息过时、缺失、不正确的账户或被暂停或终止提供服务的账户；</p>
				<p>&nbsp;&nbsp;3.3.1.2如用户申请注销的账户有关联账户或子账户的，在该关联账户或子账户被注销前，该账户不得被注销；</p>
				<p>&nbsp;&nbsp;3.3.1.3用户申请注销的共生网账户存在任何未了结的合同关系与权利义务关系；</p>
				<p>&nbsp;&nbsp;3.3.1.4用户申请注销的共生网账户存在任何待处理交易；</p>
				<p>&nbsp;&nbsp;3.3.1.5 用户申请注销的共生网账户存在其他任何不正常的情形的。</p>
				<p>3.3.2 存在下列情形的，共生网可以自行注销用户的共生网账户：</p>
				<p>&nbsp;&nbsp;3.3.2.1用户连续12个月未使用过共生网登录名或本公司认可的其他方式登录过本网站，共生网有权注销该用户名下的全部或部分共生网登录名及共生网账户；</p>
				<p>&nbsp;&nbsp; 3.3.2.2 用户使用该共生网账户从事违反法律法规、违反社会公序良俗、侵害他人权益的行为的；</p>
				<p>&nbsp;&nbsp;3.3.2.3 用户在使用共生网账户的过程中，未遵守本协议或共生网的其他规则的。</p>
				<p>&nbsp;&nbsp;3.3.2.4 共生网平台认为用户利用其共生网账户进行的侵害平台利益的其他行为。</p>
				<p>3.3.3 共生网账户的注销将导致共生网终止向用户提供本服务，本协议约定的双方的权利义务终止（依本协议其他条款另行约定不得终止的或依其性质不能终止的除外），同时还可能对于该账户产生如下法律后果：</p>
				<p>&nbsp;&nbsp;3.3.3.1其账户的所有功能都将无法使用，包括其账户的消费赠送与补贴功能、账户内的余额的支付或提现服务。</p>
				<p>&nbsp;&nbsp;3.3.3.2用户仍应对其在注销共生网账户前且使用本服务期间的行为承担相应责任，包括但不限于其可能产生的违约责任、损害赔偿责任及履约义务，同时本公司仍可保有用户的相关信息。</p>
				<p>&nbsp;&nbsp;3.3.3.3 共生网账户一经成功注销，该账户则不能恢复；如用户在注销原先账户后，仍想继续使用共生网服务，只能重新注册新账户。</p>
				<p>4、用户的权利与义务</p>
				<p>4.1 共生网用户如需使用共生网与现金交易相关的任何服务，应当按照共生网的要求完善其身份信息，对账户信息进行实名制。</p>
				<p>4.2一旦用户使用本服务，即有权使用共生网的代付服务，即不可撤销地授权共生网代理用户在用户或用户指定的人在符合其指定条件或状态时，支付款项给用户指定人，或收取其他人支付给用户的款项。</p>
				<p>4.3用户在使用扫码方式向商家付款或通过“扫码”功能进行支付时，用户输入支付密码即可完成支付，用户输入密码即是用户作出的指示，即授权共生网按照用户确定的金额从其资产中付款给商家。用户提出付款指示后共生网平台即实时支付该款项给商户，因用户指示错误导致其财产权益的损失，由其自行负责。</p>
				<p>4.4 用户在使用本服务过程中，即用户有义务遵照本服务的相关规则，对相关规则的遵守是其使用本服务的前提本协议内容。网页上出现的关于操作的提示或共生网发送到共生网账户或账户注册所使用的手机号码的信息内容是用户使用本服务的相关规则，用户持续使用本服务即表示同意接受本服务的相关规则。用户了解并同意本公司有权单方修改本服务的相关规则，而无须征得其同意，本服务的相关规则应以用户使用服务时的页面提示或发送至用户手机的短信或电话或客户端通知等用户提供的联系方式为准。共生网平台一旦发出即视为用户收到且接受该规则，因用户没有及时对交易状态进行修改或确认或未能提交相关申请而导致的任何纠纷或损失，共生网不负任何责任。</p>
				<p>4.5 用户与商家之间因商品或服务的买卖而产生的所有的纠纷，包括但不限于质量纠纷、货运纠纷等纠纷事项。平台不作为其中任一一方当事人，用户有义务自行解决。</p>
				<p>&nbsp;&nbsp;用户也可向平台提出调解或认定等要求，平台将以中立的位置对其纠纷进行调解，但该调解结果以双方接受为准，不具有法律效力。</p>
				<p>4.6 共生网账户中涉及的资金转移均通过银行业金融机构来实现，用户在资金在转移中应遵守共生网关于资金转移的相关规定，同意其资金的转移会产生的合理时间。使用共生网账户所进行的操作共生网有理由认为其为用户本人所进行的操作。</p>
				<p>4.7 用户在使用共生网账户时，需遵循本协议的所有内容，依据共生网平台的规则及提示操作，因用户未遵守本协议或共生网平台的规则使用共生网账户所造成的任何损失共生网不承担任何损害赔偿责任。</p>
				<p>4.8因用户遗忘或泄漏账号与密码，密码被他人破解，您使用的计算机被他人侵入等原因导致其账户被他人使用而产生的损失共生网平台不承担任何损害赔偿责任。</p>
				<p>4.9用户使用共生网平台提供的服务时，需依照《共生网服务收费规则》向共生网缴纳服务费。共生网拥有制订及调整服务费之权利，具体服务费用以用户使用本服务时本网站产品页面上所列之收费方式公告或用户与共生网达成的其他书面协议为准。</p>
				<p>4.10 用户接受本协议即表明用户同意共生网有权自用户委托共生网代收或代付的款项或用户任一共生网账户余额或者其他资产中直接扣除上述服务费用。</p>
				<p>4.11用户认可共生网账户的使用记录、交易金额数据等均以共生网系统记录的数据为准。如用户对该等数据存有异议的，应自用户账户数据发生变动之日起三日内向共生网提出异议，并提供相关证据供共生网核实，否则视为用户认可该数据。</p>
				<p>4.12用户有权使用共生网代扣服务，下面任一情况下均会导致扣款不成功，用户自行承担该风险：</p>
				<p>&nbsp;&nbsp;4.12.1用户的指定账户余额不足；</p>
				<p>&nbsp;&nbsp;4.12.2用户的指定账户被有权机关采取强制措施，或者已依据其他协议被冻结、止付。</p>
				<p>4.13用户在使用共生网服务时应遵守相关法律法规及本协议的所有规定，不得将共生网服务用于任何非法目的，包括但不限于用于禁止或限制交易物品的交易，也不得利用共生网平台从事侵害共生网及其他第三人合法权益的行为，包括侵害他人名誉权、隐私权、商业秘密、商标权、著作权、专利权等合法权益；违反依法定或约定之保密义务；冒用他人名义使用本服务；从事不法交易行为，如洗钱、恐怖融资、贩卖枪支、毒品、禁药、盗版软件、黄色淫秽物品、其他共生网认为不得使用本服务进行交易的物品等；提供赌博资讯或以任何方式引诱他人参与赌博；非法使用他人银行账户（包括信用卡账户）或无效银行账号（包括信用卡账户）交易；违反《银行卡业务管理办法》使用银行卡，或利用信用卡套取现金；进行与用户或交易对方宣称的交易内容不符的交易，或不真实的交易；从事任何可能含有电脑病毒或是可能侵害本服务系统、资料之行为，以及其他共生网有正当理由认为不适当之行为。</p>
				<p>4.14 如有违反本协议及共生网服务规则的行为发生，则用户自行承担相应的责任，对共生网或第三方造成的损失，用户应当予以赔偿。</p>
				<p>4.15 如有违反本协议及共生网服务规则的行为发生，共生网有权暂停、中断或终止用户名下的全部或部分账户、停止向用户提供本平台服务，包括但不限于对这些账户名下的款项和在途交易采取取消交易、停止支付、冻结账户资金等限制措施，并通过电话或站内信或者客户端通知等方式通知用户。</p>
				<p>4.16用户有权申请恢复服务、解除上述限制措施，用户应按共生网要求如实提供相关资料及用户的身份证明以及共生网要求的其他信息或文件，以便共生网进行核实，且共生网有权依照自行判 断来决定是否同意用户的申请。用户应充分理解用户的申请并不必然被允许。用户拒绝如实提供相关资料及身份证明的，或未通过共生网审核的，则用户确认共生网有权长期对该等账户停止提供服务且长期限制该等产品或者服务的部分或全部功能。</p>
				<p>&nbsp;&nbsp;在共生网认为该等异常已经得到合理解释或有效证据支持或未违反国家相关法律法规及部门规章的情况下，最晚将于止付款项或暂停执行指令之日起的30个自然日内解除止付或限制。</p>
				<p>5、共生网的权利和义务</p>
				<p>5.1 共生网服务平台为向用户提供的消费消费赠送与补贴服务，具体的消费消费赠送与补贴政策依据共生网平台颁布的《消费赠送与补贴规则》规定。</p>
				<p>5.2共生网有义务在现有技术上维护整个网上交易平台的正常运行，并努力提升和改进技术，使用户网上交易活动得以顺利进行。</p>
				<p>5.3对用户在注册使用共生网平台中所遇到的与交易或注册有关的问题及反映的情况，共生网平台应及时作出回复；</p>
				<p>5.4对于用户在共生网平台上的不当行为或其它任何共生网认为应当终止服务的情况，共生网有权随时作出删除相关信息、终止服务提供等处理，而无须征得用户的同意。共生网有权根据不同情况选择保留或删除相关信息或继续、停止对该用户提供服务，并追究相关法律责任。</p>
				<p>5.5共生网有权对用户的注册数据及交易行为进行查阅，发现注册数据或交易行为中存在不合理之处，均有权向用户发出询问及要求改正的通知或者直接作出删除等处理。</p>
				<p>5.6在共生网平台未向用户收取服务费的情况下，共生网可自行全权决定以任何理由终止用户的账户、密码或对用户提供的服务，并删除用户在使用该项服务中提交的任何资料。账号终止后，用户账户中余额归用户自行享有，但共生网平台没有义务为用户保留原账号中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给用户或第三方。此外，用户同意，共生网不就终止对用户提供的服务而对用户或任何第三者承担任何责任。</p>
				<p>5.7共生网有义务为用户的个人信息保密，除以下情况之外不得公开用户的秘密。</p>
				<p>5.7.1经用户同意，向第三方披露；</p>
				<p>5.7.2根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；</p>
				<p>5.7.3如果用户出现违反中国有关法律或者网站政策的情况，需要向第三方披露；</p>
				<p>5.7.4为提供用户所要求的产品和服务，而必须和第三方分享用户的个人信息；</p>
				<p>5.7.5在共生网上进行的某一交易中，如交易任何一方履行或部分履行了交易义务并提出信息披露请求的，共生网有全权可以决定向该用户提供其交易对方的联络方式等必要信息，以促成交易的完成或纠纷的解决。</p>
				<p>5.7.6其它共生网根据法律或者网站政策认为合适的披露；</p>
				<p>6、免责条款</p>
				<p>&nbsp;&nbsp;共生网系统因下列状况无法正常运作，使用户无法使用各项服务时，共生网不承担损害赔偿责任，该状况包括但不限于：</p>
				<p>6.1 共生网在本网站公告之系统停机维护期间。</p>
				<p>6.2 运营商设备出现故障不能进行数据传输的。</p>
				<p>6.3因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成共生网系统障碍不能执行业务的。</p>
				<p>6.4 由于黑客攻击、运营商部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。</p>
				<p>6.5由于银行本身系统问题、银行相关作业网络连线问题。</p>
				<p>6.6任何互联网系统问题或网络运营商原因、用户的电子邮件系统问题或邮件服务商原因。</p>
				<p>6.7用户的手机通讯系统问题或通讯服务商原因或其他不可抗拒等非由共生网本身造成的无法提供本服务。</p>
				<p>6.8其他非因共生网自身原因所引发的系统无法正常工作的情形。</p>
				<p>7、法律适用与管辖</p>
				<p>7.1本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。</p>
				<p>7.2因本协议产生之争议，均应依照中华人民共和国法律予以处理，并由共生网公司所在地即乙方所在地人民法院管辖。</p>
			</p>
			<!--<form class="mui-input-group">
				<div class="mui-input-row mui-checkbox mui-left">
					<label style="color: #509BED;">确定，我同意并同意协议</label>
					<input name="checkbox" value="Item" id="checkboxID" type="checkbox" style="margin-top: 8px;"/>
				</div>
			</form>-->
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/common.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack:true
			});
//			mui.plusReady(function() {
//			
//			var cheak = localStorage.getItem("istrue");
//			if(cheak == true || cheak == "true"){
//				$("#checkboxID").attr("checked",true);
//			}else{
//				$("#checkboxID").attr("checked",false);
//			}
//			
//			var old_back = mui.back;   
//			mui.back=function(){
//				var istrue;
//				var checId = document.getElementById("checkboxID").checked;
//					if(checId == false){
//						istrue = false;
//						localStorage.setItem("istrue",istrue);
//					}else{
//						istrue = true;
//						localStorage.setItem("istrue",istrue);
//					}
//					old_back();
//			}
//			});
		</script>
	</body>

</html>