/** {
	padding: 0;
	margin: 0;
}*/

body {
	margin: 0 auto;
}

.pay_title {
	width: 70%;
	border-radius: 10px;
	margin: 0 auto;
	background: #fff;
}

.pay_title img {
	width: 10px;
	height: 10px;
	float: left;
	margin-top: 18px;
	margin-right: -15px;
	margin-left: 15px;
}

.pay_title .title {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	margin-left: -50px;
	color: #333;
	border-bottom: 1px solid #ccc;
}

.price_count {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: #333;
}

.price_pay {
	width: 100%;
	height: 96px;
	float: left;
	margin-top: 9px;
	background: white;
}
.price_pays{
	width: 100%;
	height: 30px;
	margin-top: 9px;
	background: white;
}
.price_pay p {
	line-height: 80px;
	font-size: 30px;
	font-weight: bold;
}

.input_pwd {
	padding-top: 0px;
	text-align: center;
}

.input_cont {
	width: 100%;
	height: auto;
	z-index: 1000;
	color: #666;
	position: fixed;
	left: 0px;
	top: 30%;
}

.pwd_mask {
	width: 100%;
	height: 3000px;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 20;
}

.in_pwd {
	border: 1px solid #E9E9E9;
	width: 100%;
	margin-top: 5px;
	font-size: 10px;
	text-align: center;
}

.in_pwd::-webkit-input-placeholder {
	text-align: center;
}

.submit {
    top: -5px;
    background: none !important;
    color: white!important;
    border-top: 1px solid #E9E9E9 !important;
    border-bottom: none!important;
    border-left: none!important;
    border-right:none !important;
}

.submit a {
	width: 50px;
	height: 15px;
	color: #0098E6 !important;
	font-size: 16px;
}
.pay_title{
	width: 90%;
}
.price_count{
	font-size: 24px;
}
.in_pwd{
	font-size: 14px;
}


.notice{
	position: relative;
}
.forget{
	position: absolute;
	right: 15px;
	top: 0;
	color: #f00;
}

.icon-guanbi{
	line-height: 36px !important;
	font-size: 30px !important;
	font-weight: 100 !important;
}