<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>消费补贴说明</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css"/>
		<style>
			.cont_atr img {
				width: 100%;
				margin: 0 auto;
				padding-top: 44px;
			}
			
			.mui-bar-nav {
				background: #30aae9;
				border-bottom: none;
				box-shadow: none;
			}
			</style>
	</head>
	<header id="header" class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left white" id="back"></a>
		<h1 class="mui-title white">消费补贴说明</h1>
		</a>
	</header>
	<div class="cont_atr">
		<img src="../../img/static_img/cont.png" />
	</div>
	<body>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack:true
			});
		</script>
	</body>

</html>