<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>购买消费券</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/in_pwd.css" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<script src="../../js/mui.min.js" type="text/javascript"></script>
		<script src="../../js/common.js" type="text/javascript"></script>
		<script type="text/javascript" src="../../js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/fastclick.js"></script>
		<script src="../../js/passwordBox.min.js"></script>
		<style type="text/css">
			#close {
				width: 50px;
				height: 50px;
				display: inline-block;
				position: absolute;
			}
			
			.pay_title {
				position: relative;
			}
			
			.price_count span {
				line-height: 30px;
			}
			
			.box {
				margin-top: 24px;
				margin-right: 18%
			}
			
			.dicount {
				width: 85px;
				height: 35px;
				margin: 26px 4px;
			}
			
			.simgple_price {
				font-size: 16px;
				margin-left: 8px;
			}
			
			.s_font {
				margin-right: 4px;
			}
			
			.number {
				font-size: 16px;
			}
			
			.mui-numbox {
				margin-left: 5%;
				margin-top: 6%;
			}
		</style>
		<script type="text/javascript">
			mui.init({
				swipeBack: true
			});
			var auid = localStorage.getItem("auid");
			var account_balance = null;
			var wxChannel = null; // 微信支付
			var aliChannel = null; // 支付宝支付
			var channel = null;
			var isLogin = null;
			mui.plusReady(function() {
				if(!PwdBox.inited) {
					PwdBox.init('', '../../img/pwd_keyboard.png', '请输入支付密码', '安全支付环境，请放心使用！');
					$(".notice").html("<p>安全支付环境，请放心使用！</p><a id='forget' class='forget'>忘记密码?</a>")
				}
				document.getElementById("forget").addEventListener('tap', function() {
					booking.closeAndOpenNewWindow("../me/find_pwd.html", "find_pwd")
				})
				mui.app_request("Post", {
					"OPERATE_TYPE": "10081",
					"AUTH_ID": localStorage.getItem("auid"),
				}, function(result) {

					if(result.RESULTCODE == 0) {

						if(result.RESULTLIST.is_login == 1) {
							isLogin = 1;
							return;
						} else {
							isLogin = 0;
							mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
								localStorage.removeItem("auid");
								booking.closeAndOpenNewWindow("../login/login.html", "login");
							});
							return;
						}
					}

				}, function(result) {
					if(result.RESULTCODE == -1) {
						isLogin = 0;
						mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
							localStorage.removeItem("auid");
							booking.closeAndOpenNewWindow("../login/login.html", "login");
						});
						return;
					} else {
						isLogin = 1;
						return;

					}
				});

				if(isLogin == 1) {

					init();

					plus.payment.getChannels(function(channels) {

						for(var a = 0; a < channels.length; a++) {
							if(channels[a].description == "支付宝") {
								aliChannel = channels[a];
								continue;
							} else
							if(channels[a].description == "微信") {
								wxChannel = channels[a];
								continue;
							}
						}

					}, function(e) {
						alert("获取支付通道失败：" + e.message);
					});

					//获取我的余额
					mui.app_request('POST', {
						"OPERATE_TYPE": "10023",
						"AUTH_ID": auid, //localStorage.getItem("auid")
					}, function(data) {

						if(data.RESULTCODE == "0") {
							account_balance = data.RESULTLIST.my_shop_info.account_balance;
						}
						return;
					}, function(result) {
						if(result.RESULTCODE == "-1") {
							mui.toast(result.DESCRIPTION);
						} else {
							mui.toast("系统异常，请重试！")
						}

					});
					mui('.mui-popover-action').on('tap', '.pic_pos', function() {
						var info = document.getElementById('banlance');

						var a = this.querySelector("a");

						//关闭actionsheet
						mui('#picture').popover('toggle');
						info.innerHTML = a.innerHTML;
					})
					document.getElementById("close").addEventListener("tap", function() {
						$("#pay_password").hide();
					})
					mui.app_request('POST', {
						"OPERATE_TYPE": "10014",
					}, function(data) {
						if(data.RESULTCODE == "0") {
							var result = data.RESULTLIST.result;
							var _html = "";
							for(var i = 0; i < result.length; i++) {
								if(result[i].enable == 1) {
									_html += '<div class="container" >';
									_html += '<div class="fl">';
									_html += '<img src="../../img/buy/tow.png" class="dicount" />';
									_html += '<input type="hidden" class="voucher_type" value="' + result[i].b_type + '"/>'
									_html += '<span class="simgple_price">&yen;<span class="price one">' + (result[i].price).toFixed(2) + '</span></span>';
									_html += '</div>';
									_html += '<div class="mui-numbox fl" data-numbox-min="0">';
									_html += '<button class="mui-btn mui-btn-numbox-minus minus" type="button">-</button>';
									_html += '<input class="mui-input-numbox number" type="number" value="0" onkeypress="return event.keyCode>=48&&event.keyCode<=57" />';
									_html += '<button class="mui-btn mui-btn-numbox-plus plus" type="button">+</button>';
									_html += '</div>';
									_html += '<span class="s_font">¥<span class="c_font sum">0.00</span></span>';
									_html += '</div>';
								}

							}
							$("#tab1").html(_html);

							$(".mui-btn-numbox-minus").unbind("click").click(function() {
								var t = $(this).parent().find('input[class*=number]');
								var priceSpan = $(this).parent().parent().find(".price");
								var price = parseInt(priceSpan.html());
								t.val(parseInt(t.val()) - 1);
								if(t.val() <= 0) {
									t.val(0);
								}
								var num = parseInt(t.val());
								var sum = $(this).parent().parent().find(".sum");
								sum.html((price * num).toFixed(2));
								getTotal();
							});
							// 数量加 
							$(".plus").unbind('click').click(function() {
								var t = $(this).parent().find('input[class*=number]');
								var priceSpan = $(this).parent().parent().find(".price");
								var price = parseInt(priceSpan.html());
								t.val(parseInt(t.val()) + 1);
								if(t.val() <= 1) {
									t.val(1);
								}
								var num = parseInt(t.val());
								var sum = $(this).parent().parent().find(".sum");
								sum.html((price * num).toFixed(2));
								getTotal();
							});

							$(".mui-input-numbox").on("blur", function() {
								var val = $(this).val();
								var reg = /^\d+$/;
								var _div = $(this).parent().parent();
								if(!reg.test(val)) {
									$(this).val("0");
									_div.find(".sum").html("0.00");
									mui.toast("只能输入正整数。")

									getTotal();
									return;
								} else if(parseInt(val) > 100) {
									$(this).val("0");
									_div.find(".sum").html("0.00");
									mui.toast("最大购买数量100");
									getTotal();
									return;
								}
								var price = parseInt(_div.find(".price").html());
								_div.find(".sum").html((parseInt(val) * price).toFixed(2));
								getTotal();
								return;
							})
						}
						return;
					}, function(result) {
						mui.toast("系统异常，请重试");
					});

					document.getElementById("shopping").addEventListener("tap", function() {

						setDisabled("shopping");

						var status = this.getAttribute("status");
						if(status == "fasle" || status == false) {
							remDisabled("shopping");
							return;
						}
						var counts = getVoucherCounts();
						var total = parseFloat(getTotal());
						if(total <= 0) {
							mui.toast("选择需要购买的消费券");
							remDisabled("shopping");
							return;
						}
						mui.app_request('POST', {
							"OPERATE_TYPE": "10015",
							"AUTH_ID": auid, //localStorage.getItem("auid")
							"ORDER_INFO": counts
						}, function(data) {

							if(data.RESULTCODE == "0") {
								var pay_info = data.RESULTLIST.pay_info;
								var type = document.getElementById("banlance").innerHTML;

								if(type == "余额付款") {
									if(pay_info.pay_amount > account_balance) {
										mui.toast("您的余额不足。");
										remDisabled("shopping");
										return;
									} else {
										var order_num = pay_info.out_trade_no;
										btn_submit(order_num);
										remDisabled("shopping");
										$("#pay_total_money").html($(".total").html());
										//$("#pay_password").show();
										return;
									}
								} else if(type == '微信付款') {
									mui.app_request('POST', {
										"OPERATE_TYPE": "10095",
										"AUTH_ID": auid,
										"ORDER_NUM": pay_info.out_trade_no
									}, function(data) {
										if(data.RESULTCODE == "0") {
											remDisabled("btn_submit");
											setTimeout(function() {

												pay('wxpay', data.RESULTLIST.wx_pay_info);
											}, 500)
											return;
										}
										return;
									}, function(result) {
										if(result.RESULTCODE == "-1") {
											mui.toast(result.DESCRIPTION);
											return;
										} else {
											mui.toast("系统异常，请重试！");
											return;
										}
									});
									remDisabled("shopping");
								} else if(type == '支付宝付款') {

									pay('alipay', pay_info.alipay_order_info);
									remDisabled("shopping");
								}

							}

							return;
						}, function(result) {
							$("#requerd").attr("status", "true");
							if(result.RESULTCODE == "-1") {
								mui.toast(result.DESCRIPTION);
							} else {
								mui.toast("系统异常，请重试！")
							}
							remDisabled("shopping");

						});

					})
				}
			})

			//余额支付
			function btn_submit(order_num) {

				PwdBox.show(function(res) {
					remDisabled("shopping");

					if(res.status) {

						//重置输入
						var pay_pwd = res.password;
						mui.app_request('POST', {
							"OPERATE_TYPE": "10021",
							"AUTH_ID": auid, //localStorage.getItem("auid")
							"ORDER_NUM": order_num,
							"PAY_PWD": pay_pwd,
						}, function(data) {

							if(data.RESULTCODE == "0") {
								//关闭并重置密码输入
								//$("#pay_password").hide();
								setTimeout(function() {
									PwdBox.reset();
									mui.toast(data.DESCRIPTION);
									mui.openWindow({
										id: 'index',
										url: '../index/index.html',
									});
								}, 500)
								return;
							}
							return;
						}, function(result) {

							if(result.RESULTCODE == "-1") {
								PwdBox.reset();
								mui.toast(result.DESCRIPTION);
								return;
							} else {
								PwdBox.reset();
								mui.toast("系统异常，请重试！");
								return;
							}
							//remDisabled("btn_submit");
						});
					} else {
						PwdBox.reset();
						//alert(JSON.stringify(arguments));
					}
				}, remDisabled("shopping"))
			}

			function getTotal() {
				var s = 0;

				$(".container").each(function() {
					s += parseInt($(this).find('input[class*=number]').val()) *
						parseFloat($(this).find(".one").html());
				});
				$(".total").html(s.toFixed(2));
				return s;
			}

			function getVoucherCounts() {
				var counts = "";
				$(".container").each(function() {
					var type = $(this).find(".voucher_type").val();
					var count = parseInt($(this).find('input[class*=number]').val());
					counts += type + "_" + count + ',';
				});
				counts = counts.substring(0, counts.length - 1);
				return counts;
			}

			function init() {
				var width = $(window).width();
				var height = $(window).height();
				$("body").css("height", height);
				$("body").css("width", width);
			}

			function pay(id, info) {
				// 从服务器请求支付订单
				var PAYSERVER = '';
				if(id == 'alipay') {

					channel = aliChannel;

				} else if(id == 'wxpay') {

					channel = wxChannel;

				} else {
					plus.nativeUI.alert("不支持此支付通道！", null, "捐赠");
					return;
				}
				plus.payment.request(channel, info, function(result) {
					plus.nativeUI.alert("支付成功！", function() {
						mui.back();
					});
				}, function(error) {
					plus.nativeUI.alert("支付失败。");
				});
			}
		</script>
	</head>

	<body>
		<!--<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
			<h1 class="mui-title">购买凭证</h1>
		</header>-->
		<div id="tab">
			<header id="header" class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
				<h1 class="mui-title">购买消费券</h1>
			</header>
			<div id="tab1" class="mui-content">
				<!--<div class="container" id="cont">
					<div class="fl">
						<img src="../../img/buy/tow.png" class="dicount" />
						<span class="simgple_price">&yen;<span>30.00</span></span>
					</div>
					<div class="mui-numbox fl" data-numbox-min='0'>
						<button class="mui-btn mui-btn-numbox-minus minus" type="button">-</button>
						<input class="mui-input-numbox number" type="number" />
						<button class="mui-btn mui-btn-numbox-plus plus" type="button">+</button>
					</div>
					<span class="s_font">¥<span class="c_font">30.9</span></span>
				</div>
				<div class="container" id="cont">
					<div class="fl">
						<img src="../../img/buy/three.png" class="dicount" />
						<span class="simgple_price">&yen;<span>30.00</span></span>
					</div>
					<div class="mui-numbox fl" data-numbox-min='0'>
						<button class="mui-btn mui-btn-numbox-minus minus" type="button">-</button>
						<input class="mui-input-numbox number" type="number" />
						<button class="mui-btn mui-btn-numbox-plus plus" type="button">+</button>
					</div>
					<span class="s_font">¥<span class="c_font">3000.09</span></span>
				</div>
				<div class="container" id="cont">
					<div class="fl">
						<img src="../../img/buy/four.png" class="dicount" />
						<span class="simgple_price">&yen;<span>30.00</span></span>
					</div>
					<div class="mui-numbox fl" data-numbox-min='0'>
						<button class="mui-btn mui-btn-numbox-minus minus" type="button">-</button>
						<input class="mui-input-numbox number" type="number" />
						<button class="mui-btn mui-btn-numbox-plus plus" type="button">+</button>
					</div>
					<span class="s_font">¥<span class="c_font">3000.09</span></span>
				</div>
				<div class="container" id="cont">
					<div class="fl">
						<img src="../../img/buy/five.png" class="dicount" />
						<span class="simgple_price">&yen;<span>30.90</span></span>
					</div>
					<div class="mui-numbox fl" data-numbox-min='0'>
						<button class="mui-btn mui-btn-numbox-minus minus" type="button">-</button>
						<input class="mui-input-numbox number" type="number" />
						<button class="mui-btn mui-btn-numbox-plus plus" type="button">+</button>
					</div>
					<div class="s_font">¥<span class="c_font">30.9</span></div>
				</div>-->
			</div>
			<a class="pay_type" href="#picture">
				<span class="pay_name">付款方式</span>
				<div class="pay_way">
					<label class="goto" id="banlance">支付宝付款</label>
					<img src="../../img/default/right.png" />
				</div>
			</a>
			<nav class="mui-bar home-bar-tab">
				<div class="jiesuan">
					<p><span class="count">合计:<span id="AllTotal">&yen;<span class="total"></span></span>
						</span><button status="true" id="shopping">立即购买</button></p>
				</div>
			</nav>
			<div id="picture" class="mui-popover mui-popover-action mui-popover-bottom">
				<ol class="mui-table-view">
					<li class="mui-input-row c_txt">
						<a href="#picture">请选择付款方式</a>
					</li>
				</ol>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<div class="pic_pos">
							<img src="../../img/buy/yue.png" />
							<a href="#">余额付款</a>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="pic_pos">
							<img src="../../img/buy/weixin.png" />
							<a href="#">微信付款</a>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="pic_pos">
							<img src="../../img/buy/alipay.png" />
							<a href="#">支付宝付款</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="input_pwdword" id="pay_password" style="display: none;">
				<div class="pwd_mask"></div>
				<div class="input_cont">
					<div class="pay_title">
						<a id="close" href="javascript:void(0);">
							<div>
								<img src="../../img/profit/close.png" />
							</div>
						</a>
						<p class="title">请输入支付密码</p>
						<div class="price_pays">
							<p class="price_count">&yen;<span id="pay_total_money"></span></p>
						</div>
						<div class="input_pwd">
							<input type="password" class="in_pwd" maxlength="6" id="pay_money" placeholder="请输入您的支付密码" />
							<p class="mui-btn mui-btn-block submit" id="btn_submit">
								<a>确认支付</a>
							</p>
						</div>
					</div>
				</div>
			</div>
	</body>

</html>