<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我要付款</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<style type="text/css">
			.wide_price {
				width: 90%;
			}
		</style>
	</head>

	<header id="header" class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
		<h1 class="mui-title">我要付款</h1>
	</header>

	<body>
		<div class="mui-content">
			<div class="img_pay">
				<div id="shop_logo"></div>
				<img src="../../img/mine/img_pay.png" class="pay_img" id="shop_img" />
				<p class="pay_cont">向<span id="user"></span>付款</span>
			</div>
			<div class="pay_info fl">
				<p class="amont_roll">金额</p>
				<p class="amont_money"><span class="rmb">&yen;</span><input class="wide_price" id="fund" type="number" placeholder="请输入付款金额" />
				</p>
			</div>
			<!--<div class="pay_tips">
				<input type="text" id="instruction" placeholder="添加说明(限20字)" maxlength="20" />
			</div>-->
		</div>
		<button id="give_other" type="button" class="mui-btn mui-btn-success mui-btn-block htx_btn">付款</button>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true
			});
			var win = null;
			var result = null;
			var auid = localStorage.getItem("auid");
			mui.plusReady(function() {
				var isLogin = null;
				mui.app_request("Post", {
					"OPERATE_TYPE": "10081",
					"AUTH_ID": localStorage.getItem("auid"),
				}, function(result) {

					if(result.RESULTCODE == 0) {

						if(result.RESULTLIST.is_login == 1) {

							return;
						} else {
							isLogin = 0;
							mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
								localStorage.removeItem("auid");
								booking.closeAndOpenNewWindow("../login/login.html", "login");
							});
							return;
						}
					}

				}, function(result) {
					if(result.RESULTCODE == -1) {
						isLogin = 0;
						mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
							localStorage.removeItem("auid");
							booking.closeAndOpenNewWindow("../login/login.html", "login");
						});
						return;
					} else {

						return;

					}
				});
				if(isLogin === 0) {
					return;
				}

				mui.alert('付款后资金将直接进入对方账户，无法退款。为保证安全，请核实对方身份后支付。', '安全提示', function() {
					return;
				});

				win = plus.webview.currentWebview();
				result = win.result;

				$("#user").html(result.shop_name);
				var _html = "";
				if(mui.isnull(result.shop_logo_url)) {
					$("#shop_img").attr("src", result.shop_logo_url);
				}
				document.getElementById("give_other").addEventListener('tap', function() {
					checkPaypwd()
				});

			});

			function checkPaypwd() {
				var shop_id = result.shop_id;
				var money = document.getElementById("fund").value;
				if(mui.isnull(money)) {
					mui.toast("请输入付款金额。");
					return;
				}
				money = parseFloat(money).toFixed(2);
				var instruction = $("#instruction").val();
				mui.app_request('POST', {
					"OPERATE_TYPE": "10051",
					"AUTH_ID": auid,
					"SHOP_ID": shop_id,
					"AMOUNT": money,
					"DES": instruction
				}, function(data) {
					if(data.RESULTCODE == "0") {
						var list = data.RESULTLIST.pay_info;
						var attrValue = {
							list: list,
							backId: "index"
						}
						booking.closeAndOpenNewWindowHaveAttr(
							'want_pay.html',
							'want_pay',
							attrValue
						)
					}
				}, function(result) {
					if(result.RESULTCODE == "-1") {
						mui.toast(result.DESCRIPTION);
					} else {
						mui.toast("系统异常，请重试");
					}
					return;
				})
			};
		</script>
	</body>

</html>