<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的报账</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script src="../../js/mui.pullToRefresh.js"></script>
		<script src="../../js/mui.pullToRefresh.material.js"></script>
		<style type="text/css">
			.no_dis {
				color: #ccc;
			}
			
			.que_module {
				margin-top: 0 !important;
				margin-bottom: 20px !important;
			}
			
			.mui-pull-bottom-tips {
				text-align: center;
			}
			
			.mui-table-view {
				background: none;
				/*margin-top: 75px;*/
			}
			
			.mui-scroll {
				width: 100% !important;
			}
			
			.mui-segmented-control .mui-control-item.mui-active {
				color: #fff !important;
				background-color: #007aff !important;
			}
			
			.mui-segmented-control.mui-scroll-wrapper .mui-control-item {
				display: table-cell !important;
			}
			
			.acount_detail .bz_people {
				width: 100% !important;
			}
			
			.acount_detail p {
				text-align: left !important;
				margin-left: 15px !important;
			}
			/**/
			
			.fp-img {
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.7);
				position: fixed;
				top: 0;
				left: 0;
				z-index: 999;
			}
			
			.fp-imgNr {
				width: 90%;
				position: absolute;
				top: 150px;
				left: 5%;
			}
			
			#fp-close {
				position: absolute;
				right: -10px;
				top: -10px;
				width: 30px;
				height: 30px;
				background: #999;
				border-radius: 50%;
			}
			
			.fp-imgNr img {
				width: 100%;
				max-width: 100%;
				display: block;
			}
			
			.mui-scroll-wrapper {
				position: absolute !important;
				/*padding-top: 125px;*/
			}
			
			#segmentedControl {
				height: 40px;
				line-height: 40px;
			}
			
			.mui-segmented-control .mui-control-items {
				line-height: 38px;
				display: table-cell;
				overflow: hidden;
				width: 1%;
				-webkit-transition: background-color .1s linear;
				transition: background-color .1s linear;
				text-align: center;
				white-space: nowrap;
				text-overflow: ellipsis;
				border-color: #007aff;
				border-left: 1px solid #E6E6E6;
				border-bottom: 1px solid #E6E6E6;
				background: #efeff4;
			}
			
			.mui-segmented-control .mui-control-items.mui-active {
				background: #007aff !important;
				color: #fff;
			}
			
			#sliderSegmentedControl {
				width: 100%;
				display: inline-block;
				position: fixed;
				z-index: 9999;
				top: 45px;
			}
			
			.mui-slider-group {
				overflow: hidden;
				padding-top: 55px;
			}
			
			body {
				height: 100%;
				/*overflow: hidden;*/
			}
			
			.invoice-fp {
				pointer-events: auto;
			}
			
			.continue_bz {
				border-top: 1px solid #f2f2f2;
				line-height: 36px;
			}
		</style>
		<script>
			window.onload = function() {
				mui('.mui-scroll-wrapper').scroll({
					deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
				});
			}
			mui.init();
			//(function($) {
			var auid = localStorage.getItem("auid");
			var counts = 0;
			mui.plusReady(function() {
				var isLogin = null;
				mui.app_request("Post", {
					"OPERATE_TYPE": "10081",
					"AUTH_ID": localStorage.getItem("auid"),
				}, function(result) {

					if(result.RESULTCODE == 0) {

						if(result.RESULTLIST.is_login == 1) {

							return;
						} else {
							isLogin = 0;
							mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
								localStorage.removeItem("auid");
								booking.closeAndOpenNewWindow("../login/login.html", "login");
							});
							return;
						}
					}

				}, function(result) {
					if(result.RESULTCODE == -1) {
						isLogin = 0;
						mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
							localStorage.removeItem("auid");
							booking.closeAndOpenNewWindow("../login/login.html", "login");
						});
						return;
					} else {

						return;

					}
				});
				if(isLogin === 0) {
					return;
				}
				mui.app_request('POST', {
					"OPERATE_TYPE": "20001",
					"AUTH_ID": auid
				}, function(data) {

					localStorage.setItem("bzList", data.bzList);
					localStorage.setItem("bzinGroup", data.bzinGroup);
					localStorage.setItem("bzFinish", data.bzFinish);
					return;
				}, function(result) {
					return;
				})

				mui('.mui-slider').slider().setStopped(true);
				var type = plus.webview.currentWebview().status;

				var tab = $("#segmentedControl a");
				for(var i = 0; i < tab.length; i++) {
					if(tab.eq(i).attr("value") == type) {
						tab.eq(i).siblings().removeClass("mui-active")
						tab.eq(i).addClass("mui-active");
						var item = tab.eq(i).attr("con");
						var bz_state = tab.eq(i).attr("value");
						var ul = tab.eq(i);
						var page = tab.eq(i).attr("page");
						createFragment(ul, page, bz_state, item, 5, true);
					}

				}
				var tabs = $('.mui-slider-group').find(".length");
				for(var i = 0; i < tabs.length; i++) {
					if(tabs.eq(i).attr("value") == type) {
						tabs.eq(i).siblings().hide();
						tabs.eq(i).show();

					}
				}
				$("#segmentedControl a").click(function() {
					$(this).addClass("mui-active").siblings().removeClass("mui-active");
					var index = $(this).index();
					$(".mui-slider-group .length").eq(index).show().siblings().hide();
					var item = $(this).attr("con");
					var bz_state = $(this).attr("value");
					var ul = $(this);
					var page = 0;
					createFragment(ul, page, bz_state, item, 5, true);
				});

				//循环初始化所有下拉刷新，上拉加载。
				$.each($('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
					mui(pullRefreshEl).pullToRefresh({
						up: {
							container: '#pullrefresh',
							//contentnomore: '没有更多数据了',
							callback: function() {
								var self = this;
								setTimeout(function() {
									var ul = self.element.querySelector('.mui-table-view');
									var item = ul.getAttribute("con");
									var bz_state = $("#segmentedControl").find("a.mui-active").attr("value");
									var page = $("#segmentedControl").find("a.mui-active").attr("page");
									var ul = $("#segmentedControl").find("a.mui-active");
									createFragment(ul, page, bz_state, item, 5, false)
									self.endPullUpToRefresh();
								}, 1000);
							}
						}
					});
				});

				function createFragment(ul, page, bz_state, item, count, is) {
					mui.app_request("Post", {
						"OPERATE_TYPE": "10030",
						"AUTH_ID": auid, //localStorage.getItem("auid")
						"BEGIN": page,
						"SIZE": count,
						"BZ_STATE": bz_state,
					}, function(result) {
						//mui('#pullrefresh').pullRefresh().endPullupToRefresh((++page > result.RESULTLIST.totalsize));
						var data = result.RESULTLIST.result;
						var html = '';
						for(var i = 0; i < data.length; i++) {
							var sData = data[i];
							var voucher_type = '';
							var state = '';
							var certificate_num = sData.certificate_num;
							var time = sData.create_time;
							if(sData.voucher_type == 1) {
								voucher_type = '20元档'
							} else if(sData.voucher_type == 2) {
								voucher_type = '30元档'
							} else if(sData.voucher_type == 3) {
								voucher_type = '40元档'
							} else if(sData.voucher_type == 4) {
								voucher_type = '50元档'
							}

							var img_src = '';
							if(sData.state == 0) {
								img_src = '../../img/acount/no_group.png'
							} else if(sData.state == 1) {
								img_src = '../../img/acount/is_group.png'
							} else if(sData.state == 2) {
								img_src = '../../img/acount/is_finish.png'
							} else if(sData.state == -1) {
								img_src = '../../img/acount/no_go.pngpng'
							}
							var num = Math.ceil(sData.amount / 100)
							if(sData.state == 0 || sData.state == -1 || sData.invoice_state == 0) {
								if(sData.need_proxy_deal == 0 && sData.re_submit == 0 && sData.invoice_state == 0) { //我提交的
									html += '<div class="que_module">'
									html += '<div class="que_title">'
									html += '<p class="que_num fl">补贴编号：<span>' + sData.certificate_num + '</span></p>'
									html += '<p class="que_size fr">' + voucher_type + '</p>'
									html += '</div>'
									html += '<div class="acount_detail">'
									html += '<p class="bz_name">补贴详情</p>'
									html += '<p class="bz_time fr">' + time + '</p>'
									html += '<p class="bz_count">补贴总金额:<span class="red">' + (sData.amount).toFixed(2) + '</span><span class="red">元</span></p>'
									html += '<p class="need_voucher">需使用消费券:<span class="red">' + num + '</span>&nbsp;张</p>'
									html += '<p class="bz_people">服务商家:<span class="red">' + sData.dbz_user + '</span></p>'
									html += '<p class="bz_people">服务账号:<a href="tel:' + sData.dbz_mobile + '" class="red">' + sData.dbz_mobile + '<span style="color:#000;">&nbsp;&nbsp;点击拨打</span></a></p>'
									html += '<p class="wait_people">等待处理。</p>'
									html += '<p class="invoice invoice-fp fr" url="' + sData.invoice_file_url + '">发票</p>'
									html += '<img src="../../img/acount/no_group.png" class="queue_img" />'
									html += '</div>'
									html += '</div>'
								} else if(sData.need_proxy_deal == 1 && sData.re_submit == 0 && sData.invoice_state == 1) { //需要我受理的待处理
									html += '<div class="que_module" id="in_group">'
									html += '<div class="que_title">'
									html += '<p class="que_num fl">补贴编号：<span>' + sData.certificate_num + '</span></p>'
									html += '<p class="que_size fr">' + voucher_type + '</p>'
									html += '</div>'
									html += '<div class="acount_detail">'
									html += '<p class="bz_name">补贴详情</p>'
									html += '<p class="bz_time fr">' + time + '</p>'
									html += '<p class="bz_count">补贴总金额:<span class="red">' + (sData.amount).toFixed(2) + '</span><span class="red">元</span></p>'
									html += '<p class="need_voucher">需使用消费券:<span class="red">' + num + '</span>&nbsp;张</p>'
									html += '<p class="bz_people">申请人:<span class="red">' + sData.bz_user + '</span><span class="red"></span></p>'
									html += '<p class="bz_people">申请账号:<a href="tel:' + sData.bz_mobile + '" class="red">' + sData.bz_mobile + '<span style="color:#000;">&nbsp;&nbsp;点击拨打</span></a></p>'
									html += '<p class="invoice invoice_info fr" onclick="invoice_info(' + sData.id + ')">处理申请</p>'
									html += '<img src="../../img/acount/wait_chuli.png" class="queue_img" />'
									html += '</div>'
									html += '</div>'
								} else if(sData.need_proxy_deal == 0 && sData.re_submit == 0 && sData.invoice_state == 1) { //我的待处理
									html += '<div class="que_module" id="in_group">'
									html += '<div class="que_title">'
									html += '<p class="que_num fl">补贴编号：<span>' + sData.certificate_num + '</span></p>'
									html += '<p class="que_size fr">' + voucher_type + '</p>'
									html += '</div>'
									html += '<div class="acount_detail">'
									html += '<p class="bz_name">补贴详情</p>'
									html += '<p class="bz_time fr">' + time + '</p>'
									html += '<p class="bz_count">补贴总金额:<span class="red">' + (sData.amount).toFixed(2) + '</span><span class="red">元</span></p>'
									html += '<p class="need_voucher">需使用消费券:<span class="red">' + num + '</span>&nbsp;张</p>'
									html += '<p class="bz_people">服务商家:<span class="red">' + sData.dbz_user + '</span><span class="red"></span></p>'
									html += '<p class="bz_people">服务账号:<a href="tel:' + sData.dbz_mobile + '" class="red">' + sData.dbz_mobile + '<span style="color:#000;">&nbsp;&nbsp;点击拨打</span></a></p>'
									html += '<p class="invoice invoice-fp fr" url="' + sData.invoice_file_url + '">发票</p>'
									html += '<img src="../../img/acount/wait_chuli.png" class="queue_img" />'
									html += '<p class="wait_people">等待处理。</p>'
									html += '</div>'
									if(sData.invoice_balance != 0) {
										html += '<div class="continue_bz fl">'
										html += '<p class="cte_txt fl">本单还可继续补贴&nbsp;&nbsp;<span class="red">&yen;</span>'
										html += '<span class="red">' + (sData.invoice_balance).toFixed(2) + '</span>'
										html += '<span num="' + sData.id + '" re_submit="0" id="' + sData.invoice_id + '" class="btn_content" onclick="contis(this)")">继续补贴</span>'
										html += '</p>'
										html += '</div>'
									}
									html += '<div class="continue_bz fl">'
									html += '<span num="' + sData.id + '" re_submit="0" id="' + sData.invoice_id + '" class="btn_content my-click">取消订单</span>'
									html += '</div>'
									html += '</div>'
								} else if(sData.re_submit == 1 && sData.need_proxy_deal == 0) { //重新提交
									html += '<div class="que_module">'
									html += '<div class="que_title">'
									html += '<p class="que_num fl">补贴编号：<span>' + sData.certificate_num + '</span></p>'
									html += '<p class="que_size fr">' + voucher_type + '</p>'
									html += '</div>'
									html += '<div class="acount_detail">'
									html += '<p class="bz_name">补贴详情</p>'
									html += '<p class="bz_time fr">' + time + '</p>'
									html += '<p class="bz_count">补贴总金额:<span class="red">' + (sData.amount).toFixed(2) + '</span><span class="red">元</span></p>'
									html += '<p class="need_voucher">需使用消费券:<span class="red">' + num + '</span>&nbsp;张</p>'
									html += '<p class="bz_people">服务商家:<span class="red">' + sData.dbz_user + '</span><span class="red"></span></p>'
									html += '<p class="bz_people">服务账号:<a href="tel:' + sData.dbz_mobile + '" class="red">' + sData.dbz_mobile + '<span style="color:#000;">&nbsp;&nbsp;点击拨打</span></a></p>'
									//html+='<p class="wait_people">等待报账商家受理</p>'
									html += '<p class="invoice invoice-fp fr" url="' + sData.invoice_file_url + '">发票</p>'
									html += '<img src="../../img/acount/no_go.png" class="queue_img" />'
									html += '<p class="wait_people">等待处理。</p>'
									html += '</div>'
									html += '<div class="continue_bz fl">'
									html += '<span num="' + sData.id + '" re_submit="1" id="' + sData.invoice_id + '" class="btn_content" onclick="contis(this)">重新提交</span>'
									html += '</div>'
									html += '</div>'
								}
							} else if(sData.state == 1 && sData.invoice_state == 1) {
								html += '<div class="que_module">'
								html += '<div class="que_title">'
								html += '<p class="que_num fl">补贴编号：<span>' + sData.certificate_num + '</span></p>'
								html += '<p class="que_size fr">' + voucher_type + '</p>'
								html += '</div>'
								html += '<div class="acount_detail" onclick="que_module_info(' + sData.id + ')">'
								html += '<p class="bz_name">补贴详情</p>'
								html += '<p class="bz_time fr">' + time + '</p>'
								html += '<p class="bz_count">补贴总金额:<span class="red">' + (sData.amount).toFixed(2) + '</span><span class="red">元</span></p>'
								html += '<p class="need_voucher">需使用消费券:<span class="red">' + num + '</span>&nbsp;张</p>'
								//html+='<p class="bz_people">报账档次:<span class="red">'+voucher_type+'</span><span class="red"></span></p>'
								html += '<p class="wait_people">已补贴金额:<span class="red">' + (sData.payd_amount).toFixed(2) + '</span><span class="red">元</span></p>'
								html += '<img src="../../img/acount/is_group.png" class="queue_img" />'
								html += '</div>'
								if(sData.invoice_balance != 0) {
									html += '<div class="continue_bz fl">'
									html += '<p class="cte_txt fl">本单还可继续补贴&nbsp;&nbsp;<span class="red">&yen;</span>'
									html += '<span class="red">' + (sData.invoice_balance).toFixed(2) + '</span>'
									html += '<span num="' + sData.id + '" re_submit="0" id="' + sData.invoice_id + '" class="btn_content" onclick="contis(this)")">继续补贴</span>'
									html += '</p>'
									html += '</div>'
								}
								html += '</div>'
							} else if(sData.state == 2) {
								html += '<div class="que_module" onclick="que_module_info(' + sData.id + ')">'
								html += '<div class="que_title">'
								html += '<p class="que_num fl">补贴编号：<span>' + sData.certificate_num + '</span></p>'
								html += '<p class="que_size fr">' + voucher_type + '</p>'
								html += '</div>'
								html += '<div class="acount_detail">'
								html += '<p class="bz_name">补贴详情</p>'
								html += '<p class="bz_time fr">' + time + '</p>'
								html += '<p class="bz_count">补贴总金额:<span class="red">' + (sData.amount).toFixed(2) + '</span><span class="red">元</span></p>'
								html += '<p class="wait_people">已补贴金额:<span class="red">' + (sData.payd_amount).toFixed(2) + '</span><span class="red">元</span></p>'
								html += '<p class="bz_people">补贴次数:共<span class="red">' + sData.bz_count + '</span>次，均完成</p>'
								html += '<img src="../../img/acount/is_finish.png" class="queue_img" />'
								html += '</div>'
								if(sData.invoice_balance != 0) {
									html += '<div class="continue_bz fl">'
									html += '<p class="cte_txt fl">本单还可继续补贴&nbsp;&nbsp;<span class="red">&yen;</span>'
									html += '<span class="red">' + (sData.invoice_balance).toFixed(2) + '</span>'
									html += '<span num="' + sData.id + '" re_submit="0" id="' + sData.invoice_id + '" class="btn_content" onclick="contis(this)">继续补贴</span>'
									html += '</p>'
									html += '</div>'
								}
								html += '</div>'
							}
						}
						if(ul == null) {

						} else {
							ul.attr("page", parseInt(page) + parseInt(count));
						}

						if(is == true) {
							$("." + item).html(html)
						} else {
							$("." + item).append(html)
						};
						img_srcse();
						closecontis()
						return;
					}, function(result) {
						mui.toast(result.DESCRIPTION);
						return;
					})
				};

				//跳转我要报账页面
				document.getElementById("detail").addEventListener('tap', function() {
					var attrValue = {
						type: 0,
						backId: "my_accountss"
					}
					booking.closeAndOpenNewWindowHaveAttr(
						'reimbur_me.html',
						'reimbur_me',
						attrValue
					)
				});

				document.getElementById("back").addEventListener('tap', function() {
					booking.closeAndOpenNewWindow(
						'index.html',
						'index'
					)
				})
				document.getElementById("fp-close").addEventListener('tap', function() {
					$("#fp-src").removeAttr("src");
					$("#fp-img").fadeOut(100);
					setTimeout(function() {
						$(".invoice-fp").css("pointer-events", "all");
					}, 500)
				});
				$('#fp-img').click(function(event) {
					var _con = $('#fp-img');
					if(_con.has(event.target).length === 0) {
						$("#fp-src").removeAttr("src");
						$("#fp-img").fadeOut(100);
						setTimeout(function() {
							$(".invoice-fp").css("pointer-events", "all");
						}, 500)
					}

					//$(".invoice-fp").css("pointer-events","all");
				});
			});

			function img_srcse() {
				$(".invoice-fp").click(function() {
					var url = $(this).attr("url")
					$("#fp-src").attr("src", booking.constants.ip + url);
					$("#fp-img").fadeIn(100);
					$(this).css("pointer-events", "none");
				})
			}

			function contis(e) {
				//跳转我要报账页面
				var invoice_id = $(e).attr("id");
				var certificate_num = $(e).attr("num");
				var re_submit = $(e).attr("re_submit");
				var attrValue = {
					INVOICE_ID: invoice_id,
					CERTIFICATE_ID: certificate_num,
					re_submit: re_submit,
					backId: "my_accountss"
				}
				booking.closeAndOpenNewWindowHaveAttr(
					'account_reimbur_me.html',
					'account_reimbur_me',
					attrValue
				)
			}
			//取消订单
			function closecontis() {
				mui(".item_1").on("tap", ".my-click", function() {
					var invoice_id = $(this).attr("id");
					var certificate_num = $(this).attr("num");
					var re_submit = $(this).attr("re_submit");
					var this_ = $(this);
					if(re_submit == "0") {
						plus.nativeUI.confirm("您确定取消该订单吗？", function(e) {
							if(e.index == 0) {
								return;
							} else {

								mui.app_request('POST', {
									"OPERATE_TYPE": "10093",
									"AUTH_ID": auid, //localStorage.getItem("auid")
									"SC_ID": certificate_num,
								}, function(data) {

									if(data.RESULTCODE == "0") {
										mui.toast(data.DESCRIPTION);
										this_.attr("re_submit", "1");
										this_.parent("div").siblings(".acount_detail").find(".queue_img").attr("src","../../img/acount/no_go.png");
										this_.html("重新提交");
										//跳转我要报账页面
										//								var attrValue = {
										//									INVOICE_ID: invoice_id,
										//									CERTIFICATE_ID: certificate_num,
										//									re_submit: re_submit,
										//									backId: "my_accountss"
										//								}
										//								booking.closeAndOpenNewWindowHaveAttr(
										//									'account_reimbur_me.html',
										//									'account_reimbur_me',
										//									attrValue
										//								)
									}
									return;
								}, function(result) {

									if(result.RESULTCODE == "-1") {
										mui.toast(result.DESCRIPTION);
										return;
									} else {
										mui.toast("系统异常，请重试");
										return;
									}
								});

								return;
							}

						}, "提示", ["取消", "确定"]);
						return false;
					} else if(re_submit == "1") {
						var invoice_id = $(this).attr("id");
						var certificate_num = $(this).attr("num");
						var re_submit = $(this).attr("re_submit");
						var attrValue = {
							INVOICE_ID: invoice_id,
							CERTIFICATE_ID: certificate_num,
							re_submit: re_submit,
							backId: "my_accountss"
						}
						booking.closeAndOpenNewWindowHaveAttr(
							'account_reimbur_me.html',
							'account_reimbur_me',
							attrValue
						)
					}

				})

			}

			function invoice_info(id) {
				var attrValue = {
					CERTIFICATE_ID: id,
					backId: "my_accountss"
				}
				booking.closeAndOpenNewWindowHaveAttr(
					'for_reimbur.html',
					'for_reimbur',
					attrValue
				)
			}

			function que_module_info(id) {
				var attrValue = {
					SC_ID: id,
					backId: "my_accountss"
				}
				booking.closeAndOpenNewWindowHaveAttr(
					'my_account_detail.html',
					'my_account_detail',
					attrValue
				)
			}
			//})(mui);
		</script>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
			<h1 class="mui-title">我的补贴</h1>
			<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" id="detail">申请补贴</button>
		</header>

		<div class="fp-img" id="fp-img" style="display: none;">
			<div class="fp-imgNr">
				<a id="fp-close" href="javascript:void(0);"><img src="../../img/profit/close-fp.png" /></a>
				<img id="fp-src" src="../../img/bus_info/bus.gif" />
			</div>
		</div>
		<div class="mui-content bursement">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div id="sliderSegmentedControl" class="">
					<div class="mui-scroll mui-segmented-control" id="segmentedControl">
						<a class="mui-control-items mui-active" id="item1" href="#item1mobile" page="0" value="0" con="item_1">
							未排队
						</a>
						<a class="mui-control-items" id="item2" href="#item2mobile" page="0" value="1" con="item_2">
							排队中
						</a>
						<a class="mui-control-items" id="item3" href="#item3mobile" page="0" value="2" con="item_3">
							已完成
						</a>
					</div>

					<!--<div id="dis_screen" class="discount_size">
						<ul class="change_dis">
							<li class="dis_btnall">
								<span>全部</span>
							</li>
							<li class="dis_btn" value="0">
								<span>8折<br/>20元档</span>
							</li>
							<li class="dis_btn" value="3">
								<span>8折<br/>20元档</span>
							</li>
							<li class="dis_btn">
								<span>8折<br/>20元档</span>
							</li>
							<li class="dis_btn">
								<span>8折<br/>20元档</span>
							</li>
						</ul>
					</div>-->
				</div>
				<div class="mui-slider-group" id="pullrefresh">
					<div id="item1mobile" class="mui-slider-item mui-control-content length" value="0">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view item_1" con="item_1">

								</ul>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content length" value="1">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view item_2" con="item_2">

								</ul>
							</div>
						</div>
					</div>
					<div id="item3mobile" class="mui-slider-item mui-control-content length" value="2">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view item_3" con="item_3">

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>