<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我要报账</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<script src="../../js/jquery-3.1.0.min.js" type="text/javascript"></script>
		<script src="../../js/mui.min.js" type="text/javascript"></script>
		<script src="../../js/common.js" type="text/javascript"></script>
		<script type="text/javascript" src="../../js/exif.js"></script>
		<script type="text/javascript" src="../../js/upload.util.js"></script>
		<style type="text/css">
			#bz_money,
			#fp_money {
				margin-top: 0px;
				text-indent: 10px;
			}
			
			.mui-icon-info {
				font-size: 16px !important;
			}
			
			.mui-input-row label {
				padding-left: 0 !important;
				line-height: 40px;
			}
			
			.mui-table-view-cell .money {
				margin-right: 10px;
			}
		</style>
		<script type="text/javascript">
			mui.init({
				swipeBack: true
			});
			var auid = localStorage.getItem("auid");
			var surl = null;
			var list = null;
			var have_num = 0;
			var daysynum = null;
			mui.plusReady(function() {

				var isLogin = null;
				mui.app_request("Post", {
					"OPERATE_TYPE": "10081",
					"AUTH_ID": localStorage.getItem("auid"),
				}, function(result) {

					if(result.RESULTCODE == 0) {

						if(result.RESULTLIST.is_login == 1) {

							return;
						} else {
							isLogin = 0;
							mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
								localStorage.removeItem("auid");
								booking.closeAndOpenNewWindow("../login/login.html", "login");
							});
							return;
						}
					}

				}, function(result) {
					if(result.RESULTCODE == -1) {
						isLogin = 0;
						mui.alert('您的账号已在其他设备登录，请重新登录。', '安全提示', function() {
							localStorage.removeItem("auid");
							booking.closeAndOpenNewWindow("../login/login.html", "login");
						});
						return;
					} else {

						return;

					}
				});
				if(isLogin === 0) {
					return;
				}
				//获取计算当日剩余补贴金额
				mui.app_request('POST', {
					"OPERATE_TYPE": "20006",
					"AUTH_ID": auid
				}, function(data) {

					if(data.RESULTCODE == "0") {
						var daynum = data.RESULTLIST.result;
						if(mui.isnull(daynum)) {
							daynum = 0;
						}
						daysynum = 2000 - parseInt(daynum);
						$("#amonut_sy").html(daysynum.toFixed(2))
					}
					return;
				}, function(result) {
					mui.toast("系统异常，请重试");
				});

				//获得用户的凭证列表
				mui.app_request('POST', {
					"OPERATE_TYPE": "10025",
					"AUTH_ID": auid
				}, function(data) {
					if(data.RESULTCODE == "0") {
						list = data.RESULTLIST.result;
						if(list.length == 0) {
							$("#no_use").html("你没有可使用的消费券");
							$("#kaiguan").hide();
						} else {
							for(var i = 0; i < list.length; i++) {
								var des = list[i].des;
								des = parseInt(des.substring(0, 1));
								if(8 == des) {
									if(list[i].num > 0) {
										$("#no_use").html("可使用消费券" + list[i].num + "张");
										$("#kaiguan").show();
										have_num = list[i].num;
										break;
									}
								} else {
									$("#no_use").html("你没有可使用的消费券");
									$("#kaiguan").hide();
								}
							}
						}
						//circle();
					}
					return;
				}, function(result) {
					mui.toast("系统异常，请重试");
				});

				//				document.getElementById("bz_money").addEventListener("blur",function(){
				//					var money = parseFloat(this.value);
				//					if(money<100 *){
				//						mui.toast("报账金额");
				//						this.value = null;
				//						return;
				//					}
				//				})

				//获取平台开放的档次
				//				mui.app_request('POST', {
				//					"OPERATE_TYPE": "10014",
				//				}, function(data) {
				//					if(data.RESULTCODE == "0") {
				//						var _html = "";
				//						var result = data.RESULTLIST.result;
				//						for(var i = 0; i < result.length; i++) {
				//							var des = result[i].des;
				//							des = des.substring(0, 1);
				//							if(result[i].enable=="1"){
				//								_html += "<li>";
				//								_html += '<div class="dis_img fl yes_dis">';
				//								_html += '<p class="art_text default">' + des + '</p>';
				//								_html += '<input type="hidden" value="' + result[i].b_type + '"/>'
				//								_html += '</div></li>';
				//							}else{
				//								if(result[i].b_type=="1"){
				//									_html += "<li>";
				//									_html += '<div class="dis_img fl no_dis des_img_no">';
				//									_html += '<img class="des_imgs" src="../../img/default/icon-des-08.png"/>';
				//									_html += '<input type="hidden" value="' + result[i].b_type + '"/>'
				//									_html += '</div></li>'; 
				//								}else if(result[i].b_type=="2"){
				//									_html += "<li>";
				//									_html += '<div class="dis_img fl no_dis des_img_no">';
				//									_html += '<img class="des_imgs" src="../../img/default/icon-des-07.png"/>';
				//									_html += '<input type="hidden" value="' + result[i].b_type + '"/>'
				//									_html += '</div></li>'; 
				//								}else if(result[i].b_type=="3"){
				//									_html += "<li>";
				//									_html += '<div class="dis_img fl no_dis des_img_no">';
				//									_html += '<img class="des_imgs" src="../../img/default/icon-des-06.png"/>';
				//									_html += '<input type="hidden" value="' + result[i].b_type + '"/>'
				//									_html += '</div></li>'; 
				//								}else if(result[i].b_type=="4"){
				//									_html += "<li>";
				//									_html += '<div class="dis_img fl no_dis des_img_no">';
				//									_html += '<img class="des_imgs" src="../../img/default/icon-des-05.png"/>';
				//									_html += '<input type="hidden" value="' + result[i].b_type + '"/>'
				//									_html += '</div></li>'; 
				//								}
				//								
				//							}
				//						}
				//						$("#dangci").html(_html);
				//						mui("#dangci").on("tap", ".yes_dis", function() {
				//							$("input").blur();
				//							$(".dis_img").removeClass("change_bgimg");
				//							$(this).addClass('change_bgimg');
				//							$(".art_text").addClass("default");
				//							$(this).find("p").removeClass("default");
				//							circle();
				//						})
				//					}
				//					return;
				//				}, function(result) {
				//					mui.toast("系统异常，请重试");
				//				});

				//绑定拍照事件
				document.getElementById("fpImage").addEventListener("tap", function() {
					if(mui.os.plus) {
						var a = [{
							title: "拍照"
						}, {
							title: "从手机相册选择"
						}];
						plus.nativeUI.actionSheet({
							title: "上传图片",
							cancel: "取消",
							buttons: a
						}, function(b) { /*actionSheet 按钮点击事件*/

							switch(b.index) {
								case 0:
									break;
								case 1:
									getImage(1000, 800, "fpImage", "sphotos", uploadSucess) /*拍照*/
									break;
								case 2:
									galleryImg(1000, 800, "fpImage", "sphotos", uploadSucess); /*打开相册*/
									break;
								default:
									break;
							}
						})
					}
				});
				//获得用户的未报账金额
				mui.app_request('POST', {
					"OPERATE_TYPE": "10026",
					"AUTH_ID": auid //localStorage.getItem("auid")
				}, function(data) {
					if(data.RESULTCODE == "0") {
						var amount = data.RESULTLIST.amount;
						document.getElementById("amonut").innerHTML = amount;
						TOTAL_AMOUNT = amount;
					}
					return;
				}, function(result) {
					mui.toast("系统异常，请重试");
				});

				//下一步
				document.getElementById("next").addEventListener('tap', function() {
					setDisabled("next");
					//发票总金额
					var TOTAL_AMOUNT = $("#fp_money").val();
					var ALL_COUNT = 0;
					if(mui.isnull(TOTAL_AMOUNT)) {
						mui.toast("请输入发票金额");
						remDisabled("next");
						return;
					}
					//报账金额
					var BZ_AMOUNT = $("#bz_money").val();
					if(mui.isnull(BZ_AMOUNT)) {
						mui.toast("请输入补贴金额");
						remDisabled("next");
						return;
					}
					if(BZ_AMOUNT % 100 != 0 || BZ_AMOUNT == 0) {
						mui.toast('补贴金额必须为100的倍数且不能为0');
						remDisabled("next");
						return;
					}
					//判断是否为100的整数倍
					if($("#has_banlance").parent('div').hasClass('mui-active')) {
						var BAN_ACOUNT = 0;
						TOTAL_AMOUNTS = parseInt(BZ_AMOUNT) + parseInt(BAN_ACOUNT);
						TOTAL_AMOUNTS = parseInt(TOTAL_AMOUNTS);
						if(ALL_COUNT > TOTAL_AMOUNTS) {
							mui.toast('补贴金额不能大于发票金额');
							remDisabled("next");
							return;
						}
						remDisabled("next");
					} else {
						ALL_COUNT = parseInt(BZ_AMOUNT);
						if(ALL_COUNT > TOTAL_AMOUNT) {
							mui.toast('补贴金额不能大于发票金额');
							remDisabled("next");
							return;
						}
						remDisabled("next");
					}
					//发票路径
					var INVOICE_URL = surl;
					if(mui.isnull(INVOICE_URL)) {
						mui.toast("请上传发票");
						remDisabled("next");
						return;
					}
					var VOUCHER_TYPE = 1;
					if(mui.isnull(VOUCHER_TYPE)) {
						mui.toast("请选择报账档次");
						remDisabled("next");
						return;
					}
					var USE_BALANCE = 0;
					//					if($("#balan").hasClass("mui-active")) {
					//						USE_BALANCE = 1
					//					}
					if($("#handle").parent("div").hasClass("mui-active")) {
						if(have_num * 100 < BZ_AMOUNT) {
							mui.toast("您的消费券不足");
							remDisabled("next");
							return;
						}
						mui.app_request('POST', {
							"OPERATE_TYPE": "10027",
							"AUTH_ID": auid, //localStorage.getItem("auid")
							"TOTAL_AMOUNT": TOTAL_AMOUNT,
							"BZ_AMOUNT": BZ_AMOUNT,
							"INVOICE_URL": INVOICE_URL,
							"VOUCHER_TYPE": VOUCHER_TYPE,
							"USE_BALANCE": USE_BALANCE,
							"USE_VOUCHER": 1,
						}, function(data) {
							if(data.RESULTCODE == "0") {
								mui.toast("操作成功")
								var attrValue = {
									status: 0,
									backId: "index"
								}
								booking.closeAndOpenNewWindowHaveAttr("my_accountss.html", "my_accountss", attrValue);
								return;
							}
							remDisabled("next");
						}, function(result) {
							if(result.RESULTCODE == "-1") {
								mui.toast(result.DESCRIPTION);
								return;
							} else {
								mui.toast("系统异常，请重试");
								return;
							}
							remDisabled("next");
						});
					} else {
						remDisabled("next");
						var ss = plus.webview.getWebviewById("findpeople");
						if(ss) {
							plus.webview.close(ss);
						}
						var attrValue = {
							"TOTAL_AMOUNT": TOTAL_AMOUNT,
							"BZ_AMOUNT": BZ_AMOUNT,
							"INVOICE_ID": null,
							"INVOICE_URL": INVOICE_URL,
							"VOUCHER_TYPE": VOUCHER_TYPE,
							"USE_BALANCE": USE_BALANCE,
							backId: "reimbur_me"
						}
						booking.closeAndOpenNewWindowHaveAttr(
							'findpeople.html',
							'findpeople',
							attrValue
						)
					}
				});
				document.getElementById('stipulate').addEventListener('tap', function() {
					localStorage.setItem("newIMG", document.getElementById("fpImage").src);
					mui.openWindow({
						id: 'stipulate',
						url: '../me/stipulate.html'

					});
				});
			});

			function circle() {
				var point = $(".change_bgimg");
				var num = parseInt(point.find("p").html());
				for(var i = 0; i < list.length; i++) {
					var des = list[i].des;
					des = parseInt(des.substring(0, 1));

					if(num == des) {
						if(list[i].num > 0) {
							$("#no_use").html("可使用消费券" + list[i].num + "张");
							$("#kaiguan").show();
							have_num = list[i].num;
							break;
						}
					} else {
						$("#no_use").html("你没有可使用的消费券");
						$("#kaiguan").hide();
					}
				}

			}

			function uploadSucess(data) {
				var idorhandurl = booking.constants.ip + data.RESULTLIST.PATH;
				surl = data.RESULTLIST.PATH;
				document.getElementById("fpImage").src = idorhandurl;
			}
		</script>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
			<!--<a href="how_account.html" class="mui-btn-blue mui-btn-link mui-pull-right" id="detail">如何报账?</a>-->
			<h1 class="mui-title">申请补贴</h1>
		</header>
		<div class="invoice_content">
			<span class="please">请上传发票</span>
			<div id="fapiao" class="img_invoice">
				<img id="fpImage" class="fpimage" src="../../img/bus_info/icon-img-fp.png" />
			</div>
			<li class="mui-table-view-cell" style="display: none;">
				<span class="use_money ">可使用未报账金额</span>
				<span class="money">&#165;<span id="amonut">0.00</span></span>
				<div class="mui-switch mui-switch-mini " id="balan">
					<div class="mui-switch-handle" id="has_banlance"></div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<span class="use_money ">今日剩余补贴金额</span>
				<span class="money">&#165;<span id="amonut_sy">0.00</span></span>
			</li>
		</div>
		<div class="invoice_value mui-input-row">
			<label class="">发票金额(元)</label>
			<input type="number" id="fp_money" class="" placeholder="请输入发票的金额" />
		</div>
		<div class="invoice_value mui-input-row">
			<label class="">本次补贴金额(元)</label>
			<input type="number" id="bz_money" class="" placeholder="请输入本次补贴金额" />
			<input type="hidden" id="fapiaoid" />
		</div>
		<div class="tips">
			<p class="tip">补贴金额只能是100的整数倍</p>
		</div>
		<!--<div class="reim_level">
			<span class="">报账档次</span>
			<span class="check_dis ">请选择您的报账档次</span>
		</div>-->
		<!--<div class="img_quan">
			<ul class="circle" id="dangci">
				<li>
					<div class="dis_img fl"> 
						<img class="des_imgs" src="../../img/default/icon-des-05.png"/>
					</div>
				</li>
			
				<li>
					<div class="dis_img fl">
						<p class="art_text default">6</p>
					</div>
				</li>
				<li>
					<div class="dis_img fl">
						<p class="art_text default">5</p>
					</div>
				</li>
			</ul>
		</div>-->
		<div class="use_orno">
			<li class="mui-table-view-cell">
				<span class="use_money" id="no_use"></span>

				<div class="mui-switch mui-switch-mini" id="kaiguan" style="display: block;">
					<div class="mui-switch-handle" id="handle"></div>
				</div>
			</li>
		</div>
		<div class="xieyi"><span class="login_txt">点击查看</span><span class="xy" id="stipulate">《共生网平台消费赠送与消费补贴规则》</span></div>
		<div style="color: red;margin-left: 10px;"><span><i class="mui-icon mui-icon-info"></i>温馨提示：<span style="color: #999;">审核时间为工作日9:00 －18:00</span></span>
		</div>
		<button id="next" type="button" class="mui-btn mui-btn-success mui-btn-block com_btn">下一步</button>
	</body>

</html>