<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>赠送好友</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link href="../../css/mui.mins.css" rel="stylesheet" />
		<script type="text/javascript" src="../../js/crypto-js.js"></script>
		<script src='../../js/tripledes.js'></script>
		<script src='../../js/aes.js'></script>
		<script src='../../js/mode-ecb.js'></script>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
			<h1 class="mui-title">赠送好友</h1>
		</header>
		<div class="mui-content">
			<div class="mui-content-padded">
				<div class="mui-input-row">
					<input type="number" class="mui-input-clear" maxlength="11" id="friend_num" placeholder="请输入好友的账号" style="height: 40px;font-size: 16px;">
				</div>
			</div>
		</div>
		<div class="dis_lists">
			<img src="../../img/mine/mypor.png" class="discount" id="size_ten" />
			<p class="grade">此券为<span id="status"></span>消费券</p>
			<p class="is_yusesize"><span id="voucher_nun"></span>张</p>
		</div>
		<div class="use_size">
			<p class="use_k" id="after_jia_jian">可选张数:<span class="red"><span id="isuse"></span>张</span>
			</p>

		</div>
		<button id="give_other" type="button" class="mui-btn mui-btn-success mui-btn-block com_btn">确定</button>

		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true
			});

		</script>
	</body>

</html>