<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商家认证</title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.mins.css" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
		<style>
			body {
				background: white!important;
			}
			#header{
				background: #3b8cff;
				border-bottom: none;
			}
			#header h1,#header a{
				color: #fff;
			}
			.shop_leninfo{
				padding: 0px 15px;
			}
			.shop_leninfo-title{
				width: 100%;
				height: auto;
				display: inline-block;
				margin-top: 20px;
				position: relative;
			}
			.shop_leninfo-title img{
				width: 100%;
				display: block;
				max-width: 100%;
			}
			.shop_leninfo-title p{
				position: absolute;
				top: 50%;
				left: 0;
				bottom: 0;
				right: 0;
				margin: 0 auto;
				height: 100%;
				width: 100%;
				text-align: center;
				line-height: 0;
				color: #fff;
			}
			.my-shop-info{
				width: 100%;
				display: inline-block;
				margin-top: 20px;
			}
			.my-shop-info ul{
				
			}
			.my-shop-info ul li{
				float: left;
				width: 30%;
			}
			.my-shop-info ul li img{
				width: 30%;
			}
			.my-shop-info ul li p{
				color: #3b8cff;
				font-size: 14px !important;
				margin-top: 5px;
			}
			.my-shop-info ul li.w5{
				width: 5%;
			}
			.my-shop-time{
				width: 90%;
				background: #fffdb9;
				padding: 10px 0;
				margin: 0 auto;
				height: 64px;
				border: 1px dashed #f7d309;
				border-radius: 20px;
				margin-bottom: 15px;
			}
			.my-shop-time p{
				line-height: 22px;
				margin-bottom: 0;
				color: #414141;
			}
			.my-shop-sm{
				width: 100%;
				margin-top: 20px;
			}
			.my-shop-sm ul li{
				text-align: left;
			}
			.my-shop-sm ul li p span{
				width: 6px;
				height: 16px;
				background: #3b8cff;
				display: inline-block;
				margin-top: 3px;
				float: left;
				border-radius: 2px;
				margin-right: 6px;
			}
			.my-shop-sm ul li p:first-child{
				font-size: 14px;
				color: #414141;
			}
			.my-shop-sm ul li p:last-child{
				padding-left: 12px;
			}
			.mui-bar-tab{
				height: 44px;
				padding: 0;
				box-shadow: 5px 5px 10px #000;
			}
			.mui-bar-tab button{
				margin: 0;
				width: 100%;
				border: none;
				top: 0 !important;
				border-radius: 0;
			}
			.me-modal-btn{
				height: 44px;
				line-height: 44px;
			}
			.me-modal-nr{
				padding-top: 50px;
			}
			.me-modal-con h3{
				width: 100%;
				text-align: center;
				font-size: 18px;
				height: 30px;
				line-height: 30px;
				color: #414141;
				font-weight: 400;
			}
			#close-xieyi{
				width: 34px;
				height: 34px;
				/*border: 1px solid #E7E7E7;*/
				border-radius: 50%;
				position: absolute;
				right: 1px;
				top: 1px;
				z-index: 9999;
			}
		</style>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/crypto-js.js"></script>
		<script src='../../js/tripledes.js'></script>
		<script src='../../js/aes.js'></script>
		<script src='../../js/mode-ecb.js'></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/jquery-3.1.0.min.js"></script>
		
		<style type="text/css">
			.shop_leninfo{
				margin-top: 0;
				padding-bottom: 74px;
			}
			.mar_img{
				width: 100%;
				display: block;
				max-width: 100%;
			}
			.mar_imgs{
				width: 60%;
				display: block;
				max-width: 100%;
				margin: 0px auto;
			}
		</style>
		<script>
			mui.init({
				swipeBack:true
			});
			var win = null;
			var isreal = false;
			$(function() {
				win = JSON.parse(localStorage.getItem("mar_cert_attr"));
				isreal = win.isreal;
				document.getElementById('requerd').addEventListener('tap', function() {
					if(isreal == true || isreal == "true") {
						$("#showlist").show();
					} else {
						var btnArray = ['去实名', '取消'];
						mui.confirm('只有实名用户可以认证商家', '', btnArray, function(e) {
							if(e.index == 0) {
								booking.closeAndOpenNewWindow(
									'realname.html',
									'realname'
								)
							} else {
								return;
							}
						});
					}

				});
				document.getElementById("close-xieyi").addEventListener("tap",function(){
					$("#showlist").hide();
				})
				document.getElementById("submit").addEventListener("tap",function(){
					var checId = document.getElementById("checkboxID").checked;
					if(checId==false) {
						mui.toast("请阅读并勾选入驻协议");
						return ;
					}
					booking.closeAndOpenNewWindow("en_mer_data.html","en_mer_data");
				})
				
				
			});
		</script>
		
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left " id="back"></a>
			<h1 class="mui-title">商家入驻</h1>
		</header>
		<div class="mui-content" style="padding-bottom: 60px;">
			<img src="../../img/shop/shop_lence.png" class="mar_img" />
			<div class="shop_leninfo">
				<div class="shop_leninfo-title">
					<img src="../../img/shop/icon-h-bg.png"/>
					<p>店铺如何入驻？</p>
				</div>
				<div class="my-shop-info">
					<ul>
						<li>
							<img src="../../img/shop/icon-shop-08.png"/>
							<p>提交资料</p>
						</li>
						<li class="w5">
							<img src="../../img/shop/icon-shop-right.png"/>
						</li>
						<li>
							<img src="../../img/shop/icon-shop-09.png"/>
							<p>平台审核</p>
						</li>
						<li class="w5">
							<img src="../../img/shop/icon-shop-right.png"/>
						</li>
						<li>
							<img src="../../img/shop/icon-shop-10.png"/>
							<p>上线营业</p>
						</li>
					</ul>
				</div>
				<div class="my-shop-time">
					<p>共生网商户入驻热线：4001-026-090</p>
					<p>营业时间：工作日9:00~18:00</p>
				</div>
				<div class="shop_leninfo-title">
					<img src="../../img/shop/icon-h-bg.png"/>
					<p>平台优势</p>
				</div>
				<div class="my-shop-sm">
					<ul>
						<li>
							<p><span></span>零门槛零押金免费入驻</p>
							<p>商家零门槛免费入驻，无需任何年费和押金，享有平台所有资源和优惠政策。</p>
						</li>
						<li>
							<p><span></span>百万客源实现精准引流</p>
							<p>你消费我补贴的模式为平台聚集了大量客源，百万用户流量可为商家提供大量客源，实现精准引流。</p>
						</li>
						<li>
							<p><span></span>平台给予商家高额补贴</p>
							<p>用户每消费100元，商家最高可获得32元的补贴。</p>
						</li>
						<li>
							<p><span></span>轻松分享获取高额收益</p>
							<p>推荐商家入驻平台可得该商家总营业额0.8%的平台奖励；推荐用户注册平台可得该用户总消费额1.5%的平台奖励。</p>
						</li>
						<li>
							<p><span></span>账户资金提现方便快捷</p>
							<p>当日提现，次日到账。</p>
						</li>
					</ul>
				</div>
			</div>
		</div> 
		<div class="mui-bar mui-bar-tab">
			<button id="requerd" type="button" class="mui-btn mui-btn-success mui-btn-block">商户免费入驻</button>
		</div>
		<div class="me-modal" id="showlist" style="display: none;">
			<div class="me-modal-nr me-modal-height">
				<img id="close-xieyi" src="../../img/shop/icon-mer-cer.png"/>
				<div class="me-modal-con me-modal-posi">
					<h3>共生网商户入驻协议</h3>
					
				</div>
				<div class="me-modal-con me-madal-text">
					
				<p class="text-no">提示:</p>
				<p> 商家知悉并确认：在商家选择同意本协议之前，本协议条款系要约，商家选择同意的行为即构成承诺，会产生本协议成立并生效的法律后果，商家将须遵守本协议的全部规则.</p>
				<p>本服务协议是共生网创新消费服务平台(以下简称为"本平台"或"共生网平台"或"共生网")的经营者重庆共生网络科技服务有限公司（以下简称“我方”）与商户共同缔结的对双方具有法律约束力的契约。</p>
   				<p> 共生网向商户提供平台展示的服务或产品，并将不断更新服务内容。最新的共生网服务以本平台上的相关商品或服务介绍的页面展示以及商户向用户实际提供的服务或商品为准。 </p>
    				<p>1、本协议的内容及其生效</p>
    				<p>1.1 商家在本平台上填写身份信息，在线点击确认本协议，即入驻本平台，视为商家已是共生网的商家会员，已充分阅读、理解并接受本协议的全部内容，一旦商家选择“同意”即提交注册申请或且同意使用本服务，即表示商家同意并遵循本服务协议的所有内容。</p>
    				<p>1.2 商家同意本协议时，即接受本平台有权随时对本服务协议或相应的服务规则内容进行单方面的变更，并有权以消息推送、网页公告等方式在共生网平台上予以公布而无需再另行单独通知商家或未发布于平台直接单独通知至商家。若平台变更服务协议内容后商家仍继续使用本服务的，表明商家已充分阅读、理解并接受修改后的协议内容，也将遵循修改后的协议内容使用本平台服务；若商家不同意修改后的服务协议，商家应立即停止使用本平台服务。</p>
    				<p>1.3 共生网平台保留在任何时候应自行决定对网站、应用软件、程序及服务等事项自行变更、升级的权利。上述各项内容的变更并不影响本协议的适用，对于上述变更，共生网平台将会通知各位用户。</p>
    				<p>1.4 用户同意共生网平台在任何情况下都无需向商户或第三方在使用服务过程中对其传输或联络中断、迟延、错误、不准确等情形而导致的损害承担赔偿责任。</p>
    				<p>2、定义</p>
    				<p>2.1 “共生网”：指由我方提供技术支持及技术服务的电子商务平台网，包括网站平台及app平台，网址为 www.gs-xt.com ，app名称为 共生网  。</p>
    				<p>2.2 “共生网消费创业平台”指为推动共生网消费创业服务平台在全国范围内快速、规范、平稳发展，更好地为共生网联盟商家线上线下服务而成立的线上服务平台。本平台为平台商户提供更好的服务或商品展示的机会，为平台商户提供推广及广告服务，共生网平台商家及消费者会员可在完成订单后，将得到共生网平台的消费赠送和交易补贴。</p>
    				<p>2.3 “商户”指符合相关法律法规规定且符合本协议规定的法律实体，接受并同意履行本协议内容在共生网平台范围内在其民事权利义务范围内从事商品交易的主体。</p>
    				<p>2.4 “商户注册”指在共生网平台按要求填写各项相关信息、在线接受并同意共生网平台的本协议及平台未来的各项通知公告，并激活共生网平台服务账户的过程。</p>
    				<p>2.5“共生网账户”在本协议范围内仅指商户使用共生网平台服务时由共生网平台公司为商户提供一个唯一的ID编号，即商户账户编号，商户需自行设置取款密码，商户使用自己的商户账户与密码查询、计量、提取其预付或应收应付款项。</p>
    				<p>2.6“共生网平台服务”即共生网平台向商户提供的“共生网”网络销售渠道、产品广告推广服务，为共生网平台的商户进行宣传推广，扩大商户的知名度、影响力、销售额，做到降低商户的营销成本，为商户去除库存，提高经济效益。 </p>
    				<p>3、共生网账户的申请</p>
    				<p>3.1 商家申请共生网账户时需同时满足以下条件：</p>
    				<p>3.1.1 持有中华人民共和国合法营业执照；</p>
    				<p>3.1.2 确认接受本协议及作出声明与保证，注册成为共生网平台的用户并将其所属账户绑定其名下银行卡，使用共生网平台服务；</p>
    				<p>3.1.3 提交了本协议所要求的相关证明文件。</p>
    				<p>3.2 申请注册的共生网平台商户应属于经工商部门注册登记的合法商家，在申请时应自愿在线向共生网平台提交商家入驻加盟申请的相关证明文件。</p>
    				<p>3.2.1 营业执照复印件；</p>
    				<p>3.2.2 税务登记证复印件（若三证合一，无需提供）；</p>
    				<p>3.2.3 商户实际经营者、直接负责人的身份证复印件；</p>
    				<p>3.2.4 其他共生网平台认为需要查验的其他信息，依据不同经营类型的商户查验不同的信息。</p>
    				<p>3.3 在协议期间，商户在注册时所提供的申请信息发生任何形式的变更，商户应及时向共生网平台提供其变更后的资料信息。如商户的信息变更后使该商户不再具备履行本协议的情形，共生网平台有权立即终止本协议，冻结该商户的所属账户，在合理期间内商家仍不能提供相关符合的资质，则共生网平台有权注销该商家的账户。</p>
    				<p>3.4 商户同意为其未及时通知或更新其信息承担全部责任，商户保证其向共生网平台提供的全部信息及证明材料真实可靠且不存在超过时效的问题，即保证所有的资料及证明文件在整个合同的履行期间都处于有效期限内。如因上述条件不符合约定，发生纠纷或被相关国家主管机关处罚，商户应独立承担全部责任，如给共生网平台及其职员、代理人、合作伙伴造成损失的，商户应同意赔偿其全部损失。</p>
    				<p>3.5商户应按照共生网平台所提出的要求提供相应的产品图片及相应的文字介绍或说明。其所提供的产品图片及文字介绍需经过共生网平台的审查许可后方可使用。</p>
    				<p>4、共生网平台服务使用规则</p>
    				<p>商家自愿申请并入驻共生网平台，入驻后享有本平台的各项权益并遵守相应的义务。商家知悉并接受本平台共享经济、广告推广的创新消费理念及平台规则，商家需向我方平台缴纳服务费。我方平台在商家销售过程完成后，对共生网的商家会员及共生网消费者会员进行消费赠送和消费补贴。接受我方平台的服务，即视为商家已接受我方平台所实施的各项政策与规则，包括缴纳服务费和遵守消费赠送与消费补贴规则。为有效保障商家使用本服务的合法权益，商家需理解并同意接受以下规则，商家同意该协议，即视为商家已同意该规则：</p>
    				<p>4.1商家在使用本服务过程中，本服务协议内容、页面上出现的关于交易操作的提示或共生网通知到商家个人（包括商家个人账户通知、商家提供的联系方式）的内容同视为商家使用本服务的相关规则，商家使用本服务即表示商家同意接受本服务的相关规则。商家了解并同意共生网平台有权单方修改服务的相关规则，而无须征得商家的同意，服务规则应以商家使用服务时的页面提示或发送至商家个人的内容为准，商家同意并遵照服务规则是商家使用本服务的前提。</p>
    				<p>4.2 商家通过包括但不限于以下方式向本平台发出的指令，均视为商家本人的指令，不可撤回或撤销，商家应自行对本平台执行前述指令所产生的任何结果承担责任。</p>
    				<p>4.2.1商家通过商家的共生网会员账户和密码进行的所有操作；</p>
    				<p>4.2.2商家通过与商家的账户绑定的手机号码向共生网平台发送的全部信息；</p>
    				<p>4.2.3商家通过与商家的账户绑定的其他硬件、终端、软件、代号、编码、代码、其他账户名等有形体或无形体向共生网平台所发送的全部信息；</p>
    				<p>4.3共生网平台与共生网商家会员之间费用相关问题依据下述规则执行。</p>
    				<p>4.3.1 商家注册成为共生网商家会员,商家会员需向共生网平台缴纳相应的服务费用才可在共生网平台中推广宣传其所经营的商品。商家以其销售金额的20%的比例向共生网平台缴纳服务费，共生网平台根据消费赠送和消费补贴规则对商家予以赠送与补贴。</p>
    				<p>平台账户如下：</p>
    				<p>开户名称：重庆共生网络技术服务有限公司</p>
    				<p>开户账号：123909019110201</p>
    				<p>开户行：招商银行重庆北部新区支行</p>
    				<p>4.3.2 关于共生网平台与商家的消费赠送与消费补贴规则详见我方的《消费赠送与消费补贴规则》，我方有权根据公司经营情况对《消费赠送与消费补贴规则》单方予以修改。我方修改后，商家继续接受服务的，视为商家同意修改后的《消费赠送与消费补贴规则》。</p>
    				<p>4.4  账户安全与账户注销的相关问题的规定</p>
    				<p>4.4.1共生网平台审核通过后，商家即开通本平台的商家账户。商家须对该账户和密码妥善保密，且须对商家在该登录名和密码下发生的所有活动（包括但不限于信息披露、发布信息、网上点击同意或提交各类规则协议、网上续签协议或购买服务等）承担责任。</p>
    				<p>4.4.2商家注册共生网平台的账户视为同意以下要求：</p>
    				<p>4.4.2.1如发现任何人未经授权使用商家的平台账户和密码，或发生违反保密规定的任何其他情况出现，商家确保会立即通知本平台；因商家未及时通知本平台而导致商家个人的损失，由商家自行负责，共生网平台对此不存在过错，不承担任何责任。</p>
    				<p>4.4.2.2确保商家在每个上网时段结束时应以正确步骤离开平台。本平台不能也不会对因商家未能遵守本款规定而发生的任何损失负责。</p>
    				<p>商家理解本平台对商家的请求实行操作的过程需要合理的时间，本平台对这个过程所需要的合理时间之前已经产生的损害后果（包括但不限于商家的任何损失）不承担任何责任。</p>
    				<p>4.4.3 除非有法律规定或司法裁判，且征得本平台的同意，否则，商家的共生网平台的商家账户和密码不得以任何方式转让、赠与或继承，与账户相关的财产权益可依法继承。</p>
   				<p>4.4.4 商家理解并同意，我方有权了解商家使用本平台产品及服务的真实背景及目的，有权要求商家如实提供真实、全面、准确的信息；如果我方有合理理由怀疑商家提供的信息不真实、商家进行虚假交易，或商家的行为违反本平台的规则，本平台有权暂时或永久限制商家账户下所使用的所有产品或服务的部分或全部功能。</p>
   				<p>4.4.5 商家理解并同意，本平台有权按照国家司法、行政、军事、安全等机关（包括但不限于公安机关、检察机关、法院、海关、税务机关、安全部门等）的要求对商家的个人信息及在本平台的资金、交易及账户等进行查询、冻结或扣划。</p>
   				<p>4.4.6商家注销其账户应当向共生网平台申请，经共生网平台审核同意方予以注销。审核同意商家注销账户的，其账户注销前账户中的余额归商家所有，商家账户已得到平台消费赠送与消费补贴部分归商家所有，未得到平台消费赠送与消费补贴的部分商家不再享有平台赠与与补贴的权益。</p>
   				<p>4.4.7 商家理解并同意，如商家连续12个月未使用本平台网站或本平台旗下APP或本平台认可的其他方式和密码登录本平台的，且商家的账户下不存在任何未到期的服务的，本平台有权注销商家的账户，账户内余额归共生网平台所有，且商家不再享有平台消费赠送与消费补贴权益。</p>
   				<p>4.4.8商家同意并授权本平台，如商家在本平台有欺诈、发布或销售伪劣商品、侵犯他人合法权益或其他严重违反任一本平台规则的行为时，共生网平台有权注销商家所属的账户，账户内余额归我方所有，商家账户被注销后商家不得再登录本平台，本平台提供的服务同时终止。</p>
   				<p>4.4.9商家保证不会采取任何影响、损害或可能影响、损害共生网平台的合法权益。前述影响或损害共生网平台合法权益的行为或方式包括但不限于：</p>
   				<p>4.4.9.1违反法律法规规定、共生网平台公布的任何协议、管理规范、交易规则等规范内容的行为；</p>
   				<p>4.5.9.2破坏或试图破坏共生网平台公平交易环境或正常交易秩序的行为行为；</p>
   				<p>4.4.9.3任何未经共生网平台允许擅自使用含有共生网品牌或系列品牌且对他人有误导嫌疑或任何使用某种中英文(全称或简称)、数字、域名等意图表示或映射与共生网具有某种关系的行为；</p>
   				<p>4.4.9.4共生网平台根据自行合理判断，认为可能是与以上行为性质相同或产生以上类似风险的其他情况。</p>
   				<p>商家违反上述约定时共生网平台有权终止向商家提供服务并注销商家账户，其账户内余额归共生网平台所有。</p>
   				<p>4.4.9.5 在商家违反国家、地方法律法规规定或违反本服务协议的情况下，本平台可暂停为商家提供部分或全部服务，商家可以在暂停服务通知到达之日30天内提出申诉。</p>
   				<p>4.5 申诉及处理</p>
   				<p>4.5.1在商家使用共生网平台服务的过程中，被共生网平台采取了包括但不限于停止全部或部分服务、限制服务的全部或部分功能、冻结全部或部分账户资金等措施的，共生网平台将通过邮件、站内信息、短信或电话等方式通知商家按照相应的程序进行申诉。</p>
   				<p>4.5.2 商家通过申诉程序，向共生网平台申请解除上述限制或冻结或恢复服务的，应按照共生网平台的要求，如实上传提交身份证明资料以及提交共生网平台所要求的其他信息或文件，以便我方平台进行核实。商家应充分理解商家的申诉并不必然被允许，我方有权依照申诉部门的自行判断来决定是否同意商家的申诉请求。 </p>
   				<p>4.5.3商家理解并同意，如果拒绝如实提供身份证明及相关资料的，或未能通过我方审核的，我方有权长期冻结该商家账户且长期限制该等商品或者服务的部分或全部功能。</p>
   				<p>4.5.4如果商家通过使用本平台服务，将获取使用来自第三方的任何商品或服务，商家可能受限于其他第三方的相关协议或条件，我方平台对此不予过问亦不承担任何责任，本服务协议不影响商家与该第三方的法律关系，商家与第三方平台之间的法律关系由双方自行签订的协议进行约束，产生的纠纷由商家与第三方平台自行处理。</p>
   				<p>4.5.5 除明确约定外，其他任何形式的约定并不构成任何商业代理、授权或许可。双方均保证，未经对方书面同意，商户都不得擅自声称与对方的代理或授权许可有任何关系，也不得使用共生网平台的名称、商标、标识、LOGO等资料开展市场推广或广告宣传活动。如共生网平台明确书面同意商户可使用其平台所属的市场推广、广告宣传等相关材料，基于本协议的目的在有限范围内商户可使用平台所提供的相关资料，但不得将其用于其他任何用途。</p>
   				<p>5、商户的权利与义务</p>
   				<p>5.1商户有权利享受我方平台提供的互联网技术和信息服务，在接受我方平台提供的服务时有权利获得技术支持、咨询等服务。</p>
   				
   				<p>5.2平台商家自主经营，对其所销售的商品或服务有自主定价权，商家自行向我方相应系统录入商品或服务销售价格。</p>
   				<p>商家有义务按买家实际支付的金额为买家开具发票，所产生的税收依国家标准由商户自行承担。</p>
   				<p>5.3 商户有义务保证其享有合法缔结本协议的资格，并有义务向共生网提供真实、合法、有效的注册资料。保证其申请资料为其商户本身所有的资料，保证不使用他人的资料进行注册。</p>
   				<p>5.4 商家有义务保证其所提供的联系方式，包括联系地址、邮政编码、联系电话、电子邮箱等内容的有效性及安全性。保证共生网平台及平台的消费者可通过上述联系方式与商家取得联系。在资料及联系方式发生变更时，商家有义务及时更新相关资料。因商家未提供或未及时更新联系方式、信息资料所造成的损失由商家自行负责，此外对平台及第三人所造成的损失商家也应对其予以赔偿。</p>
   				<p>5.5 商家在使用该平台进行交易的过程中遵循需国家的法律、法规和共生网平台的本协议及公布于共生网平台的相关规则及流程、行业惯例、社会公共秩序或公序良俗的要求。</p>
   				<p>   在使用该平台时商家不得扰乱平台的运行、损害平台的商誉；商家在任何场合和任何情况下都不得使用“全返、返利、乐返”等任何诱惑性返现词语去误导消费者做投资性虚假消费，扰乱消费经济秩序；不得利用我方提供的服务进行存储、发布、传播如下信息和内容：违反国家法律法规政策的任何内容（信息）；违反国家规定的政策宣传或新闻信息；涉及国家秘密或安全的信息；封建迷信或淫秽、色情、下流的信息或教唆犯罪的信息；博彩有奖、赌博游戏；违反国家民族和宗教政策的信息；妨碍互联网运行安全的信息；侵害他人合法权益的信息或其他有损于社会秩序、社会治安、公共道德的信息或内容;商家同时承诺不得为他人发布上述不符合国家规定或本服务协议约定的信息内容提供任何便利，包括但不限于设置URL、BANNER链接等;</p>
   				<p>其发布的信息如违反上述要求，共生网平台可不经过商户同意对该信息予以立即删除。因其发布的信息而造成任何法律后果的发生，商户应以自己的名义独立承担所有的相应的法律责任，对共生网平台所造成的损失，也应予以赔偿。</p>
   				<p>5.6商户在使用我方产品或服务时，应遵守商家与我方签订的服务协议、在共生网网上平台上的管理规范、流程、服务说明，包括但不限于：商家应按本协议约定按时交付相关款项；不应出现任何破坏或试图破坏网络安全的行为等。</p>
   				
   				<p>5.7 商家发布于平台或与平台有关联的交易信息中所涉商品或服务需有合法的销售权、经营许可。商家保证在进行交易的过程中遵守诚实信用的原则，不在交易过程中采取不正当竞争行为。</p>
   				<p>5.8商家有义务按照《中华人民共和国产品质量法》《中华人民共和国消费者权益保护法》及其他相关法律法规、部门规章负责其所销售的商品或服务的相关的咨询、投诉、产品质量责任、售后服务。如因其销售的产品所产生的纠纷，由商家独立承担相应的责任。我方平台因此所遭受的损失，商家应向我方进行足额赔偿，我方平台有权单方解除本协议，冻结商家的共生网账户，直到我方损失得到足额赔偿。</p>
   				<p>5.9 商家有义务保证其所销售的商品有质量保证，不存在具有质量缺陷与质量瑕疵的产品。保证其所提供的商品有合法的进货来源，能够依法自由流通并具有完整的所有权，有合法的权利供应给我方平台，任何第三方对商品不拥有抵押权、担保权利或其他任何权利。</p>
   				<p>商家有义务接受我方对商家出售商品是否具有合法进货来源的不定期检查，并有义务保留其商品具有合法进货来源的相关凭证。对于无法提供合法进货来源凭证的，我方将根据实际情况对商品的真伪做出判断并根据本协议以及相关基本规则进行处理，商家对此承担举证不利的后果，对共生网平台及第三人造成的损失，商家应承担赔偿责任。</p>
   				<p>5.11商家有义务保证其商品（含商标、专利、包装、标识及宣传材料等）不侵犯任何第三方的知识产权。对因商家提供商品侵犯第三方的知识产权而引起的任何针对我方的索赔，商家应为我方抗辩，保障我方的利益不受损害并赔偿我方因此而支出的费用，包括诉讼费、保全费、律师费和应诉人员差旅费等为此事项的解决所支出的所有费用。在前述索赔已经发生或可能发生时，商家有义务自行支付赔偿并承担相应责任。</p>
   				<p>如出现上述情况共生网平台有权终止向商家提供服务并不退还任何款项</p>
   				<p>5.12 商家承诺由个人负责平台账户的安全，自行保管平台账户及账户密码，因商家账户密码丢失而造成的其自身的损失，商承诺自行承担责任，无权要求共生网平台赔偿其损失。</p>
   				<p>5.13商家同意在合作过程中所知悉的共生网平台的任何秘密信息，未经商业秘密的提供方的同意，均不得将该信息向任何第三方披露、传播、编辑或展示。因商户的上述行为给共生网平台所造成的损失商家应承担相应的赔偿责任。</p>
   				<p>如商家违反本条所应遵守的义务，则我方平台有权根据相关服务协议采取删除信息、中止服务、终止服务的措施，并有权限制商家账户如部分或全部功能。如因商家的违反其义务的行为给共生网造成的损失，商家应予赔偿.</p>
   				<p>6、共生网平台的权利和义务</p>
   				<p>6.1 我方平台有义务根据商家所选择的服务以及交纳款项的情况向商家提供合格的网络技术和信息服务。我方平台仅按现有技术提供相应的安全措施来使共生网平台掌握的信息不丢失、不被滥用和变造，这些安全措施包括向其他服务器备份数据和对用户密码加密。尽管有这些安全措施，但我方不保证这些信息的绝对安全。</p>
   				<p>6.2 我方平台有义务将平台的规则、政策发布于平台界面即告知于平台用户。对于规则、政策所发生的变更，我方平台有义务及时进行更新，将更新事项及时发布于共生网平台上或直接发布通知至平台商家账户。我方平台所更新的规则、政策一经发出，商家继续使用账户的，即视为商户已接受新规则的实施。</p>
   				<p>6.3 我方有权根据本服务协议的约定，根据商家的服务使用情况，自商家的账户余额中直接扣除相关服务费用，商家签署同意本协议，即确认该项事宜。</p>
   				<p>6.4 当存在如下情形之一时，我方有权暂停商家名下的共生网账户的使用，对共生网的会员余额予以部分或全部进行冻结，以待审查： </p>
   				<p>6.4.1 共生网商家的行为涉嫌违反国家法律、法规、政策的规定，法律文书明确要求冻结共生网账户；</p>
   				<p>6.4.2 国家有权机关要求对其予以冻结的；</p>
   				<p>6.4.3 我方平台基于单方面合理判断，认为商家的账户操作、资金进出等存在异常时；或认为可能产生风险的其他情况；</p>
   				<p>6.4.4 我方平台发现商家所进行的销售行为为虚假消费；</p>
   				<p>6.4.5 第三人有明确证据证明向某商家账户错误转入金钱或其他奖励事项等导致商家可能存在不当得利的；</p>
   				<p>6.4.6 商家遭到用户或第三人投诉，且对方已经提供了有效证据；</p>
   				<p>上述情况出现后，我方平台将按照前述规定暂停商家账户的使用，对共生网的会员余额予以部分或全部进行冻结。采取上述措施后，将通过邮件、站内信息、短信或电话等商家提供的方式通知商家按照相应的程序进行申诉。如果商家进行申诉并经我方审核通过的，将立即解除其共生网会员收益冻结措施；如果商家未在规定时间内进行申请，或商家的申诉未能通过我方审核的，则商家确认我方有权长期冻结该账户，或将相关冻结款项按原路退回该笔资金的来源账户。</p>
   				<p>6.5我方平台有义务对商家所提供的资料采取对外保密措施，未经商家同意，不得向无关第三方披露商家资料，不得授权无关第三方使用商家的资料。我方可能在任何需要的时候增加商业伙伴或共用品牌的平台。我方对用户授权使用其他平台的用户信息保护不负任何责任。</p>
   				<p>6.6商家同意本服务协议或使用本服务，即表示商家同意我方平台有权为运作本服务而收集、使用或披露和互相分享商家的个人资料，并将这些个人信息披露给授权服务提供商和相关第三方。</p>
   				<p>6.6.1 商家注册共生网账户时所提供的身份相关资料；</p>
   				<p>6.6.2商家向我方平台所提供商家的银行账户信息；</p>
   				<p>6.6.3为了保障商家使用本服务的安全以及不断改进服务质量，共生网平台将记录并保存商家登录和使用本服务的相关信息。</p>
   				<p>7、免责事由</p>
   				<p>出现下列状况时可能导致系统无法正常运作，使商家无法使用各项互联网服务，我方不承担损害赔偿责任，该状况包括但不限于：</p>
   				<p>7.1 我方平台在系统停机维护期间；</p>
   				<p>7.2 电信设备出现故障不能进行数据传输；</p>
   				<p>7.3 因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成共生网系统障碍不能执行业务；</p>
   				<p>7.4 由于黑客攻击、电信部门技术调整或故障、平台升级、银行方面的问题等原因而造成的服务中断或者延迟；</p>
   				<p>7.5 非因我方平台原因而导致系统无法正常工作的其他情况。</p>
   				<p>8、其他事项</p>
   				<p>8.1 商家对本服务协议理解和认同，商家即对本服务协议所有组成部分的内容理解并认同，一旦商家使用本服务，商家和共生网即受本服务协议及本协议的所有组成部分的约束。</p>
   				<p>8.2 本服务协议部分内容被有管辖权的法院认定为违法的，不因此影响其他内容的效力。</p>
   				<p>8.3 本协议未尽事宜，由双方另行进行书面约定。</p>
   				<p>9、通知送达</p>
   				<p>9.1 商家理解并同意，我方可依据自行判断，通过网页公告、电子邮件、手机短信或常规的信件传送等方式向商家发出通知，且我方可以信赖商家所提供的联系信息是完整、准确且当前有效的；共生网平台所发出的通知于发送之日即视为已送达收件人。</p>
   				<p>9.2 除非本服务协议另有约定或我与商家另行签订的协议明确规定了通知方式，商家发送给我方的通知，应当通过我方对外正式公布的通信地址、传真号码、电子邮件地址等联系信息以书面形式进行送达。</p>
   				<p>10、法律适用与管辖</p>
   				<p>10.1 本服务协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。</p>
   				<p>10.2双方因履行本合同产生争议的，应友好协商解决，协商不成的提交重庆仲裁委员会仲裁。</p>
   				<p>10.3甲乙双方同意与本协议有关的任何通知，以书面方式送达方为有效。书面形式包括但不限于：传真、快递、邮件、电子邮件、手机短信、系统短信通知、网页公告等。上述通知应被视为在下列时间送达：以电子邮件形式发出的，自电子邮件进入对方邮件系统之时，视为通知到达；以传真形式发出的，以发送传真记录时间为通知到达时间；以快递、书面邮件形式发出的，自对方签收之日或快递发出之日起5日内视为送达。</p>
				</div>
				<div class="xieyi" style="margin-top: 10px;margin-left:20px;font-size: 14px;">
					<label id="checked" for="">
						<input name="checkbox" value="Item" id="checkboxID" type="checkbox" style="margin-top: 3px;" />
						我已阅读协议内容
					</label>
				</div>
				<div class="me-modal-bot me-modal-posi">
					<button class="me-modal-btn" id="submit">确认</button>
				</div>
			</div>
		</div>
	</body>

</html> 