<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>常见问题</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css"/>
	</head>
	<style>
		body {
			background: white;
		}
		
		.qanda {
			margin-top: 59px;
			color: #666;
			padding: 0px 10px;
		}
		.qanda h3{
			color: #333;
			font-size: 14px;
			margin-top: 10px;
			line-height: 28px;
		}
		.qanda p{
			margin-top: 0;
		}
	</style>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
			<h1 class="mui-title">邀请收益说明</h1>
		</header>
		<div class="qanda">
			<h3>1. 邀请好友注册并在共生网联盟商户消费可享受订单金额的现金补贴。</h3>
			<p>举例：A邀请B（个人），B邀请C（个人），假设B和C一年在共生网线上或线下联盟商户消费1万元，A就可以享受B（个人）消费总额1.5%收益即150元，A还能享受C（个人）消费总额0.5%收益即50元。如果1年内邀请100个人呢？</p>
			<h3>2. 邀请商家入驻，享共生网用户在该商户总消费额收益。</h3>
			<p>举例：A邀请B（商家），B邀请C（商家），假设B和C商家店铺一年营业额都是300万，A就可以坐收B商家的0.8%即2.4万收益，C商家0.08%即2400的收益，如果邀请10个商家呢？从此不用辛苦搬砖了！</p>
			<h3>3. 邀请好友成为平台区县代理，好友享受区县交易额0.3%收益，邀请者坐收0.1%收益。</h3>
			<p>举例：假设一个区县年交易额10亿，你邀请一个好友成为某某区县代理，那么就能拿100万RMB。哇~百万富翁哦！</p>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack:true
			})
		</script>
	</body>

</html>