<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>平台简介</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css"/>
	</head>
	<style>
		body{
			background: white;
		}
		.content{
			word-break:break-all;
			margin-top: 59px;
		}
		.content .cont1,.content .cont2{
			word-break:break-all;
			text-indent: 2em;
			text-align: left;
			font-size: 13px;
			line-height: 26px;
			color: #666;
			margin-left: 15px;
			margin-right: 15px;
		}
		.cont2{
			margin-top: 20px;
		}
		.cont3{
			text-align: center;
			line-height: 24px !important;
			color: #C0C0C0;
			margin-top: 0;
		}
	</style>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
			<h1 class="mui-title">平台简介</h1>
		</header>
		<div class="content">
			<p class="cont1">
				公司前身于2003年公司成立，一直专注于世界500强及上市企业、政府机构提供管理咨询与培训服务，2013年正式转型进入移动互联网行业，启动共生网项目的筹备，经过3年的探索于2016年8月正式启动共生网技术及产品研发，通过市场实操与试运营取得了较好成绩。
			</p>
			<p class="cont2">
				 重庆共生网络技术服务有限公司是一家专业的第三方移动互联网营销服务平台及创新型电子商务企业，其核心是运用中共中央党校出版的《共生经济学》和《消费资本论》为理论基础，助推实体商家和企业转型升级，为消费者提供安全、便捷、高效的消费体验，利用互联网为工具，运用O2O商业模式整合线上及线下商家连接消费者，从而帮助中国百万商家及企业去库存、降成本、补短板，助推中国实体经济发展，并创造更持续丰厚的业绩利润。
			</p>
			<p class="cont2">
				公司核心运营项目：“共生网”，通过全方的资源融合，颠覆了传统行业的营销模式，为消费者开启一个涉及衣、食、住、行、娱等360行线上线下共享消费创业的平台，为商家提供了战无不胜、所向披靡的营销工具，真正建立了全方位互动、多方共赢的共生经济生态圈。
			</p>
			<p class="cont3" style="margin-top: 20px;">
				Copyright &copy;2003- 2017
			</p>
			<p class="cont3">
				重庆共生网络技术服务有限公司&nbsp;&nbsp;版权所有

			</p>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack:true
			});
		</script>
	</body>

</html>