<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>共生网平台消费赠送与消费补贴规则</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css"/>
	</head>
	<style>
		body {
			background: white;
		}
		
		.qanda {
			margin-top: 59px;
		}
		
		.q_que {
			font-size: 13px;
			font-weight: bold;
			color: #0098E6;
			margin-left: 10px;
			line-height: 13px;
		}
		
		.a_and,.a_andlast {
			font-size: 13px;
			margin-left: 10px;
			line-height: 26px;
			margin-right: 5px;
		}
		.a_andlast{
			margin-bottom: 35px;
		}
	</style>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
			<h1 class="mui-title">共生网平台消费赠送与消费补贴规则</h1>
		</header>
		<div class="qanda">
			<p class="a_and">共生网服务（或称“本服务”）是共生网向用户提供的消费赠送和消费补贴，平台消费全部进行赠送与补贴。本消费赠送和消费补贴政策适用于共生网的联盟商家及注册的消费者，以下统称为用户。具体服务项目及内容详见本网站网页及客户端帮助，包括（但不限于）以下服务：</p>
			<p class="a_and">1、消费赠送和消费补贴服务: 消费赠送与消费补贴服务是指共生网为用户提供的消费赠送和消费补贴相关款项的服务， 其中：</p>
			<p class="a_and">1.1消费赠送和消费补贴，即赠送与补贴金额按照每进二出一的规则来实现消费赠送与补贴的各类款项。为免疑义，消费赠送与补贴具体是指在符合共生网规定或平台规则的情况下，即消费者在共生网加盟商家消费后，即可获得共生网赠送的消费券，可对消费者进行消费满100元，平台赠送价值100元的消费券作为奖励，同时也可为商家带来额外的增值收益。每张消费券上都有唯一标识的编号。每张消费券按进网的时间先后秩序排队。用户在平台联盟商家每消费满100元即赠送一张价值100元的消费券。每张消费券分5次进行补贴，每次20元，循环排队5次，共补贴100元。排队进行补贴时，用户当前总排队号后面每新增加2张消费券，最前面的消费券即获得补贴20元。循环5次补贴后补贴完成，该消费券即行作废。平台将扣除补贴总金额的10%作为平台商城消费且同时扣除6%提现手续费。剩余的补贴资金自动入账到用户的共生网个人账户。</p>
			<p class="a_and">2、共生网提供的上述的消费赠送与补贴服务可以分为以下各类具体的服务：</p>
			<p class="a_and">2.1提现：作为代收款项服务的一部分, 在符合共生网规定或产品规则的情况下，用户可以请求共生网将用户共生网账户余额中100的整数倍的资金提取到用户名下的有效的中国大陆银行账户内或支付宝账户, 该银行或支付宝账户开户名需与用户实名认证的姓名或名称一致。除被止付或限制款项外, 共生网将于收到提现指令后的一至五个工作日内, 将相应款项汇入该银行或支付宝账户。用户理解并同意，根据用户提供的账户所属银行不同，会有到账时间的差异。此外，共生网平台可能会对提现进行风险审查，因此可能导致提现延迟。用户理解并同意用户最终收到款项的服务是由用户提供的银行账户对应的银行提供的，用户需向该银行请求查证。</p>
			<p class="a_and">2.2共生网中介服务，即共生网接受用户的委托向用户提供的有关买卖交易的代收或代付款项的中介服务。除本协议另有规定外, 交易双方使用共生网中介服务, 即认可买方点击确认收货后, 用户即授权共生网将买方已支付的款项代为支付给卖方。共生网仅依照用户的指示，代买方支付款项给卖方，在与卖方发生争议时，共生网仅在对授权用户发出的确定的指示执行错误时对双方负责，其余情况下的争议由双方自行解决。</p>
			<p class="a_and">2.3 查询：共生网将对用户使用共生网服务的操作的全部或部分进行记录，不论该操作之目的最终是否实现。用户可以登录共生网账户查询用户共生网账户内的交易记录。</p>
			<p class="a_and">2.4 其他：用户实际使用的共生网提供的其他服务及共生网提供的其他产品或服务。</p>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack:true
			})
		</script>
	</body>

</html>