<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的凭证</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link href="../../css/mui.mui.css" rel="stylesheet" />
		<script src="../../js/jquery-3.1.0.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="../../js/crypto-js.js"></script>
		<script src="../../js/tripledes.js"></script>
		<script src="../../js/aes.js"></script>
		<script src="../../js/mode-ecb.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/me/voucher_mine.js"></script>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
			<h1 class="mui-title" id="shop">我的消费券</h1>
			<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right detail_txt" id="detail" style="font-size: 14px;">历史记录</button>
		</header>
		<div id="di_list" class="mui-content">
			<!--<div class="dis_lists">
				<img src="../../img/mine/myporfrom.png" class="discount" id="size_senve" />
				<div class="num_8size">0张</div>
				<p class="grade">20<span class="com_text">元档</span></p>
			</div>
			<div class="sd_tips" id="show_tip" style="display: none;">
				<div class="give_anduse fl">
					<img src="../../img/mine/give.png" class="fl lt_img" />
					<p class="give_frid">赠送给好友<span>(<span>0</span>张)</span></p>
				</div>
				<div class="give_andus fl">
					<img src="../../img/mine/use.png" class="fl lt_img" />
					<p class="give_frid">马上使用<span>(0张)</span></p>
				</div>
				<input type="hidden" id="vtype" />
				<p class="vou_tips">温馨提示:好友赠送的凭证点击马上使用即可直接排队报账</p>
			</div>
			<div class="dis_lists clearfix">
				<img src="../../img/mine/myporfrom.png" class="discount" id="size_enghit" />
				<div class="num_8size">0张</div>
				<p class="grade">30<span class="com_text">元档</span></p>
			</div>
			<div class="sd_tips" id="show_tip2" style="display: none;">
				<div class="give_anduse fl">
					<img src="../../img/mine/give.png" class="fl lt_img" />
					<p class="give_frid">赠送给好友<span>(0张)</span></p>
				</div>
				<div class="give_andus fl">
					<img src="../../img/mine/use.png" class="fl lt_img" />
					<p class="give_frid">马上使用<span>(0张)</span></p>
				</div>
				<p class="vou_tips">温馨提示:好友赠送的凭证点击马上使用即可直接排队报账</p>
			</div>
			<div class="dis_lists">
				<img src="../../img/mine/myporfrom.png" class="discount" id="size_nine" />
				<div class="num_8size">0张</div>
				<p class="grade">40<span class="com_text">元档</span></p>
			</div>
			<div class="sd_tips" id="show_tip3" style="display: none;">
				<div class="give_anduse fl" id="give_friend">
					<img src="../../img/mine/give.png" class="fl lt_img" />
					<p class="give_frid">赠送给好友<span>(0张)</span></p>
				</div>
				<div class="give_andus fl">
					<img src="../../img/mine/use.png" class="fl lt_img" />
					<p class="give_frid">马上使用<span>(0张)</span></p>
				</div>
				<p class="vou_tips">温馨提示:好友赠送的凭证点击马上使用即可直接排队报账</p>
			</div>
			<div class="dis_lists">
				<img src="../../img/mine/myporfrom.png" class="discount" id="size_ten" />
				<div class="num_8size">0张</div>
				<p class="grade">50<span class="com_text">元档</span></p>
			</div>
			<div class="sd_tips" id="show_tip4" style="display: block;">
				<div class="give_anduse fl">
					<img src="../../img/mine/give.png" class="fl lt_img" />
					<p class="give_frid">赠送给好友<span>(0张)</span></p>
				</div>
				<div class="give_andus fl">
					<img src="../../img/mine/use.png" class="fl lt_img" />
					<p class="give_frid">马上使用<span>(0张)</span></p>
				</div>
				<p class="vou_tips">温馨提示:好友赠送的凭证点击马上使用即可直接排队报账</p>
			</div>-->
		</div>
		<button style="display: none;" id="buy" type="button" class="mui-btn mui-btn-success mui-btn-block com_btn">购买消费券</button>
	</body>

</html>