<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/app_new.css" />
		<link rel="stylesheet" type="text/css" href="../../css/in_pwd.css" />
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/jquery-3.1.0.min.js"></script>
		<script src='../../js/crypto-js.js'></script>
		<script src='../../js/tripledes.js'></script>
		<script src='../../js/mode-ecb.js'></script>
		<script src='../../js/aes.js'></script>
		<script src="../../js/common.js" type="text/javascript"></script>
		<script src="../../js/passwordBox.min.js"></script>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<script type="text/javascript" src="../../js/config.js"></script>
		<script type="text/javascript" src="../../js/sha1.min.js"></script>
		<script type="text/javascript" src="../../js/wx.js"></script>
		<script type="text/javascript" src="../../js/index/want_pay.js"></script>
		<script type="text/javascript">
			mui.init();

		</script>
		<style>
			/*input::-webkit-input-placeholder {
				padding-left: 55px;
			}*/
			
			#close {
				width: 50px;
				height: 50px;
				display: inline-block;
				position: absolute;
			}
			
			.pay_title {
				position: relative;
			}
			
			.price_count span {
				line-height: 30px;
			}
		</style>
	</head>
	<header id="header" class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" id="back"></a>
		<h1 class="mui-title">我要付款</h1>
	</header>

	<body>
		<div class="mui-content">
			<div class="common_title fl">
				<span class="comon_txt fl ">请选择付款方式</span>
			</div>
			<ul id="pay_list">
				<li class="mui-table-view-cell" id="level" style="display: none;">
					<div class="pay_pos">
						<img src="../../img/buy/yue.png" class="pay_icon" />
						<a href="#">余额</a>
						<img src="../../img/default/set_dis.png" id="banlance" class=" setimg fr" />
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="pay_pos ">
						<img src="../../img/buy/weixin.png" class="pay_icon" />
						<a href="#">微信</a>
						<img src="../../img/default/set_dis.png" id="wechat" class="setimg fr" />
					</div>

				</li>

			</ul>
		</div>

		<div>
			<button id="next" type="button" style="margin-top: 8px;" status="true" class="mui-btn  mui-btn-success mui-btn-block com_btn">下一步</button>
		</div>
		<div class="input_pwdword" id="pay_password" style="display: none;">
			<div class="pwd_mask"></div>
			<div class="input_cont">
				<div class="pay_title">
					<a id="close" href="javascript:void(0);">
						<div>
							<img src="../../img/profit/close.png" />
						</div>
					</a>
					<p class="title">请输入支付密码</p>
					<div class="price_pays">
						<p class="price_count">&yen;<span id="pay_total_money"></span></p>
					</div>
					<div class="input_pwd">
						<input type="password" class="in_pwd" maxlength="6" id="pay_money" placeholder="请输入您的支付密码" />
						<p class="mui-btn mui-btn-block submit" id="btn_submit">
							<a>确认支付</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>